<template>
  <q-dialog v-model="dialogAtividades">
    <q-card
      class="row cor-dialog text-white"
      style="width: 1300px ; max-width: 90vw;"
    >
      <div class="row justify-center col-12 q-mb-lg">
        <div class="row col-12 justify-end q-mr-lg q-mt-sm">
          <q-btn @click="close()" flat>
            <q-icon size="25px" class="text-bold" name="close" color="white" />
          </q-btn>
        </div>
        <div class="row justify-center text-center q-mt-sm">
          <span class="text-bold text-center justify-center text-h4 q-mb-xl"
            >Últimos Lances</span
          >
        </div>
        <div class="cor-dialog row col-12 justify-center">
          <div
            :class="
              $q.screen.gt.sm
                ? 'row col-12 justify-center q-gutter-x-lg'
                : 'row col-12 q-gutter-y-xl justify-center'
            "
          >
            <div
              class="row content-center justify-center col-xl-3 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
              style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424"
            >
              <q-img
                class="q-ma-md imgFundoPerfill"
                src="~src/assets/anie-dvd.jpg"
              />
              <div class="q-pa-sm">
                <q-img class="imgPerfill" src="~src/assets/perfil.png" />
              </div>
              <div class="q-pa-sm">
                <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
                <p class="textSubtitlee text-left text-white">5 de 8</p>
              </div>
              <div class="q-pa-md">
                <q-btn class="text-left text-white bg-primary q-px-md"
                  >Lance</q-btn
                >
                <a class="q-pl-xl text-left text-white"
                  >1.09 <b class="text-primary">ETH</b> ©</a
                >
              </div>
            </div>
            <div
              class="row content-center justify-center col-xl-3 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
              style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424"
            >
              <q-img
                class="q-ma-md imgFundoPerfill"
                src="~src/assets/anie-dvd.jpg"
              />
              <div class="q-pa-sm">
                <q-img class="imgPerfill" src="~src/assets/perfil.png" />
              </div>
              <div class="q-pa-sm">
                <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
                <p class="textSubtitlee text-left text-white">5 de 8</p>
              </div>
              <div class="q-pa-md">
                <q-btn class="text-left text-white bg-primary q-px-md"
                  >Lance</q-btn
                >
                <a class="q-pl-xl text-left text-white"
                  >1.09 <b class="text-primary">ETH</b> ©</a
                >
              </div>
            </div>
            <div
              class="row content-center justify-center col-xl-3 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
              style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424"
            >
              <q-img
                class="q-ma-md imgFundoPerfill"
                src="~src/assets/anie-dvd.jpg"
              />
              <div class="q-pa-sm">
                <q-img class="imgPerfill" src="~src/assets/perfil.png" />
              </div>
              <div class="q-pa-sm">
                <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
                <p class="textSubtitlee text-left text-white">5 de 8</p>
              </div>
              <div class="q-pa-md">
                <q-btn class="text-left text-white bg-primary q-px-md"
                  >Lance</q-btn
                >
                <a class="q-pl-xl text-left text-white"
                  >1.09 <b class="text-primary">ETH</b> ©</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: 'Atividades',
  data () {
    return {
      dialogAtividades: false
    }
  },
  methods: {
    open () {
      this.dialogAtividades = true
    },
    close () {
      this.dialogAtividades = false
    }
  }
}
</script>

<style>
@media only screen and (max-width: 321px) {
  .imgPerfil {
    width: 50vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 30%;
    width: 100%;
  }

  .imgPerfill {
    width: 25vw;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .textTitlee {
    font-size: 20px;
  }

  .textSubtitlee {
    font-size: 12px;
  }

  .titleArtistasMomento {
    font-size: 23px;
  }
}

@media only screen and (max-width: 429px) and (min-width: 321px) {
  .imgPerfil {
    width: 50vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 25vw;
  }

  .textTitlee {
    font-size: 25px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 430px) {
  .imgPerfil {
    width: 12vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 8vw;
  }

  .textTitlee {
    font-size: 22px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1400px) {
  .imgPerfil {
    width: 10vw;
    margin-top: -100px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 5vw;
  }

  .textTitlee {
    font-size: 22px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 35px;
  }
}
</style>
