<template>
  <q-dialog v-model="showBannerPreview">
    <q-card
      style="background-color: #121212;  width: 1250px ; max-width: 70vw;"
    >
      <q-card-section class="row col-6">
        <div class="text-p" style="color: #A6A6A6">Pré visualização</div>
        <q-space />
        <q-btn v-close-popup flat round icon="close" color="white" dense />
      </q-card-section>
      <q-card-section class="row col-6 justify-center tese-grid">
        <cropper
          style="height: 500px;"
          v-if="imagem[0]"
          :src="url"
          :stencil-props="{
            aspectRatio: 10 / 3
          }"
          @change="change"
        />
        <q-img
          v-else-if="url"
          class="row col-12"
          style="height: 500px;"
          height=""
          :ratio="1"
          contain
          :src="url"
        />
        <q-img
          v-else
          class="row col-12"
          style="height: 500px;"
          height=""
          :ratio="1"
          contain
          src="../../../assets/banner_tokens.jpg"
        />
        <!-- <q-btn
          class="colecao-button"
          style="background-color: #FFFFFF; border-radius: 5px"
          text-color="blue-10"
          label="Ver coleção"
          no-caps
        /> -->
      </q-card-section>
      <q-card-section class="row col-12 justify-between">
        <input
          v-show="false"
          name="file"
          @change="onFileChanges"
          ref="file"
          type="file"
          accept="image/png, image/jpeg, image/jpg"
        />

        <q-btn
          class="shadow-10"
          style="background-color: #0044bc; border-radius: 5px"
          @click="upload"
          label="Escolher Arquivo"
          no-caps
          text-color="white"
        />

        <q-btn
          class="shadow-10"
          style="background-color: #0044bc; border-radius: 5px"
          type="button"
          text-color="white"
          label="Salvar"
          no-caps
          @click="onSubmit()"
        />
      </q-card-section>
      <q-inner-loading :showing="salvandoDados">
        <q-circular-progress
          indeterminate
          size="65px"
          :thickness="1"
          color="info"
          track-color="primary"
          class="q-ma-md"
        />
      </q-inner-loading>
    </q-card>
  </q-dialog>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { Cropper } from 'vue-advanced-cropper'
import 'vue-advanced-cropper/dist/style.css'

export default {
  name: 'BannerPerfilPessoal',
  data () {
    return {
      salvandoDados: false,
      showBannerPreview: false,
      idUser: '',
      imagem: [],
      url: null,
      imgCropper: []
    }
  },
  components: {
    Cropper
  },
  computed: {
    ...mapGetters('user', ['getUser'])
  },
  methods: {
    open () {
      this.showBannerPreview = true

      this.verificaCamposPreenche()
    },
    close () {
      this.showBannerPreview = false
      this.imagem = []
      this.imgCropper = []
    },
    ...mapActions('user', ['updateUserBanner', 'getPublicArtistById']),
    verificaCamposPreenche () {
      if (this.getUser._id) {
        this.idUser = this.getUser._id
      }

      if (this.getUser.artist_banner_file) {
        this.url =
          'https://nftapi.inspireip.io/' + this.getUser.artist_banner_file
      }
    },
    upload () {
      this.$refs.file.click()
    },
    onFileChanges (e) {
      const file = e.target.files[0]
      this.imagem[0] = file
      this.url = URL.createObjectURL(file)
    },
    // CAPTURA AS COORDENADAS E O NOVO TAMANHO EM UM OBJETO CANVAS
    change ({ coordinates, canvas }) {
      this.imagem[0] = canvas.toDataURL()
    },
    // CONVERSÃO DO BASE64 PARA UM OBJETO FILE
    dataURLtoFile (dataurl, filename) {
      const arr = dataurl.split(',')
      const mime = arr[0].match(/:(.*?);/)[1]
      const bstr = atob(arr[1])
      let n = bstr.length
      const u8arr = new Uint8Array(n)

      while (n--) {
        u8arr[n] = bstr.charCodeAt(n)
      }

      return new File([u8arr], filename, { type: mime })
    },
    onSubmit () {
      if (this.imagem[0]) {
        this.imgCropper[0] = this.dataURLtoFile(this.imagem[0], 'png')
        if (this.imgCropper[0]) {
          this.salvandoDados = true
          this.updateUserBanner({
            id: this.idUser,
            dadosImg: this.imgCropper
          })
            .then(res => {
              this.salvandoDados = false
              this.$q.notify({
                position: 'bottom',
                color: 'positive',
                textColor: 'white',
                icon: 'check',
                message: res.data.message
              })
              this.getPublicArtistById({
                userId: this.idUser
              })
                .then(res => {
                  this.loading = false
                })
                .catch(error => {
                  this.loading = true
                  this.$q.notify({
                    position: 'bottom',
                    color: 'negative',
                    textColor: 'white',
                    icon: 'error',
                    message: error.data.message
                  })
                })
              this.close()
            })
            .catch(error => {
              this.salvandoDados = false
              this.$q.notify({
                position: 'bottom',
                color: 'negative',
                textColor: 'white',
                icon: 'error',
                message: error.data.message
              })
            })
        } else {
          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message:
              'Ocorreu um erro ao recortar a imagem, por favor tente novamente!'
          })
        }
      } else {
        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: 'Selecione o arquivo que deseja salvar!'
        })
      }
    }
  }
}
</script>

<style>
.teste-grid {
  background-color: green;
}

@media screen and (max-width: 1950px) {
  .colecao-button {
    position: absolute;
    top: 200px;
    left: 350px;
  }
}

@media only screen and (max-width: 360px) {
  .colecao-button {
    position: absolute;
    top: 200px !important;
    left: 150px !important;
  }
}
</style>
