<template>
  <q-dialog class="cor-dialog" v-model="dialogDestaque">
    <q-scroll-area
      style="width: 1300px ; max-width: 90vw;"
      class="card-destaques bg-black shadow-1 rounded-borders"
    >
      <div class="row col-12 justify-end q-mr-lg q-mt-sm">
        <q-btn @click="close()" flat>
          <q-icon size="25px" class="text-bold" name="close" color="white" />
        </q-btn>
      </div>
      <div class="row bg-black justify-center q-mb-md">
        <span class="text-h4 text-bold q-mb-xl">Destaques do Mês</span>
      </div>
      <div class="row q-gutter-x-md q-gutter-y-md q-mb-lg justify-center">
        <q-card
          v-for="item in listHighlightProfile"
          :key="item._id"
          class="my-card justify-center"
          style="border-radius: 10px; border-style: solid; border-color: #fff2; background-color: #242424"
        >
          <div class="row col-12 justify-center">
            <q-img
              style="border-radius: 10px 10px 1px 1px"
              :src="'https://nftapi.inspireip.io/' + item.artist_banner_file"
            />
            <q-avatar size="100px" style="transform: translateY(-50%);">
              <q-img
                :src="'https://nftapi.inspireip.io/' + item.profile_picture"
              />
            </q-avatar>
            <q-card-section class="no-padding no-margin col-12">
              <div
                style="transform: translateY(-50%);"
                class="row no-padding no-margin"
              >
                <p class="text-h6 text-center text-white col-12">
                  {{ `${item.name} ${item.lastname}` }}
                </p>
              </div>
            </q-card-section>
            <q-card-section
              class="q-mt-md q-pb-sm row no-margin no-padding justify-around col-12"
            >
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <q-img src="~src/assets/anie-dvd.jpg" />
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <q-img src="~src/assets/anie-dvd.jpg" />
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <q-img src="~src/assets/anie-dvd.jpg" />
              </div>
            </q-card-section>
          </div>
        </q-card>
      </div>
    </q-scroll-area>
  </q-dialog>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Destaques',
  data () {
    return {
      dialogDestaque: false,
      card: false,
      sliders: false,
      listHighlightProfile: []
    }
  },
  methods: {
    ...mapActions('user', ['listBanners']),
    open () {
      this.dialogDestaque = true
      this.listBanners()
        .then(res => {
          this.loading = false
          this.listHighlightProfile = this.getListBanners.filter(
            item =>
              item.artist_banner_file &&
              item.highlight_profile &&
              item.profile_picture
          )
        })
        .catch(error => {
          this.loading = false

          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: error.data.message
          })
        })
    },
    close () {
      this.dialogDestaque = false
    }
  },
  computed: {
    ...mapGetters('user', ['getListUsers', 'getListBanners', 'getListArtist'])
  }
}
</script>

<style>
.my-card {
  width: 100%;
  max-width: 350px;
}
.cor-dialog {
  background-color: #121212;
}
@media only screen and (max-width: 321px) {
  .card-destaques {
    width: 1300px;
    max-width: 90vw;
    max-height: 636px;
    height: 636px;
  }
}

@media only screen and (max-width: 429px) and (min-width: 321px) {
  .card-destaques {
    width: 1300px;
    max-width: 90vw;
    max-height: 636px;
    height: 636px;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 430px) {
  .card-destaques {
    height: 638px;
  }
}

@media only screen and (min-width: 1400px) {
  .card-destaques {
    height: 671px;
  }
}
</style>
