<template>
  <q-dialog v-model="ethInsuficiente" persistent>
    <q-card
      class="justify-evenly row bg-info q-pa-lg"
      style="width: 800px ; max-width: 90vw; border-radius: 10px"
    >
      <div class="row col-12 justify-center q-mt-xl q-mb-lg">
        <div class="row text-white">
          <span class="tamanho-titulo text-h5"> Ethereum Insficiente!</span>
        </div>
      </div>
      <div
        class="row justify-center col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11 q-mt-lg q-mb-lg"
      >
        <span class="text-white text-h6 text-center col-12">
          Não há ethereum suficiente na sua carteira para realizar esta
          transação. Você pode comprar mais ethereum usando o Ramp!
        </span>
      </div>

      <div
        :class="$q.screen.gt.sm ? 'row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-12 justify-center q-mb-lg q-mt-xl' : 'row col-sm-5 col-xs-12 justify-center q-mt-xl'"
      >
        <q-btn
          @click="close()"
          push
          flat
          size="16px"
          label="Cancelar"
          no-caps
        />
      </div>

      <div
        class="row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-12 justify-center q-mb-lg q-mt-xl"
      >
        <q-btn
          @click="handleRamp"
          push
          flat
          size="16px"
          class="cor-ramp row"
          label="Comprar usando"
          no-caps
        >
        <q-img class="q-ml-md" width="90px" src="~src/assets/Logo.svg" />
        </q-btn>
      </div>
    </q-card>
  </q-dialog>
</template>
<script>
import { RampInstantSDK } from '@ramp-network/ramp-instant-sdk'
import { mapState } from 'vuex'

export default {
  name: 'DialogEthInsuficiente',
  data () {
    return {
      ethInsuficiente: false
    }
  },

  methods: {
    ...mapState('user', ['user']),
    open () {
      this.ethInsuficiente = true
    },
    close () {
      this.ethInsuficiente = false
    },
    handleRamp () {
      // eslint-disable-next-line no-new
      const widget = new RampInstantSDK({
        swapAsset: 'ETH',
        hostAppName: 'INSPIRE IP',
        hostLogoUrl: 'https://inspireip.io/logos/inspire_ip_principal.png',
        selectedCountryCode: 'BE',
        url: 'https://ri-widget-staging-ropsten.firebaseapp.com/',
        hostApiKey: '42vjumetvp6u8mzcqsokvx4kdox8f6hn42n435cm',
        userEmailAddress: `${this.user.email}`,
        userAddress: `${this.user.ethereum_wallet}`,
        variant: 'auto'

      })
        .on('*', (event) => {
          switch (event.type) {
            case 'PURCHASE_CREATED':
              // console.table({
              //   id: event.payload.purchase.id,
              //   purchaseViewToken: event.payload.purchase.purchaseViewToken
              // })
              break
            default:
              // console.log(event)
          }
        })

      widget.show()
      // Aumentando z-index para sobrepor layout
      widget.domNodes.overlay.style.zIndex = 100000
      this.close()
    }
  }

}
</script>
