<template>
  <q-dialog v-model="showEditarDialog">
    <q-card
      style="background-color: #121212; width: 1250px;"
      :style="$q.screen.lt.md ? 'max-width: 95vw' : 'max-width: 70vw'"
    >
      <q-card-section class="row col-6">
        <div class="text-p" style="color: #A6A6A6">Pré visualização</div>
        <q-space />
        <q-btn v-close-popup flat round icon="close" color="white" dense />
      </q-card-section>
      <q-card-section class="row col-12 justify-center tese-grid">
        <q-form
          ref="myForm"
          class="row col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-8"
        >
          <q-card class="col-12" style="background-color: #212121">
            <q-card-section
              class="row col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
              style="padding: 20px"
            >
              <div
                class="row col-lg-8 col-md-8 col-sm-12 col-sm-12 items-center"
              >
                <div class="row col-12">
                  <div class="q-mt-sm col-lg-11 col-md-6 col-sm-12 col-xs-12">
                    <q-input
                      type="text"
                      class="border-input"
                      outlined
                      dense
                      dark
                      label="Nome"
                      color="blue-9"
                      label-color="white"
                      v-model="form.nome_artista"
                    />
                  </div>
                  <div class="q-mt-sm col-lg-11 col-md-5 col-sm-12 col-xs-12">
                    <q-input
                      type="text"
                      class="border-input"
                      outlined
                      dense
                      label="Tipo"
                      color="blue-9"
                      label-color="white"
                      v-model="form.tipo_artista"
                      dark
                    >
                    </q-input>
                  </div>

                  <div class="q-mt-sm col-lg-11 col-md-11 col-sm-12 col-xs-12">
                    <q-input
                      type="textarea"
                      class="border-input"
                      outlined
                      dense
                      dark
                      label="Descrição"
                      color="blue-9"
                      counter
                      label-color="white"
                      v-model="form.descricao_artista"
                      maxlength="150"
                    >
                      <template v-slot:hint>
                        Caracteres
                      </template>
                    </q-input>
                  </div>

                  <div class="q-mt-sm col-lg-11 col-md-11 col-sm-12 col-xs-12">
                    <q-input
                      type="text"
                      class="border-input"
                      outlined
                      dense
                      dark
                      label="Facebook"
                      color="blue-9"
                      label-color="white"
                      v-model="form.facebook_artista"
                    />
                  </div>
                  <div class="q-mt-sm col-lg-11 col-md-11 col-sm-12 col-xs-12">
                    <q-input
                      type="text"
                      class="border-input"
                      outlined
                      dense
                      dark
                      label="Instagram"
                      color="teal-10"
                      label-color="white"
                      v-model="form.instagram_artista"
                    />
                  </div>

                  <div class="q-mt-sm col-lg-11 col-md-11 col-sm-12 col-xs-12">
                    <q-input
                      type="text"
                      class="border-input"
                      outlined
                      dense
                      dark
                      label="Twitter"
                      color="teal-10"
                      label-color="white"
                      v-model="form.twitter_artista"
                    />
                  </div>

                  <div class="q-mt-sm col-lg-11 col-md-11 col-sm-12 col-xs-12">
                    <q-input
                      type="text"
                      class="border-input"
                      outlined
                      dense
                      dark
                      label="Twitch"
                      color="blue-9"
                      label-color="white"
                      v-model="form.twitch_artista"
                    />
                  </div>
                  <div class="q-mt-sm col-lg-11 col-md-11 col-sm-12 col-xs-12">
                    <q-input
                      type="text"
                      class="border-input"
                      outlined
                      dense
                      dark
                      label="Youtube"
                      color="teal-10"
                      label-color="white"
                      v-model="form.youtube_artista"
                    />
                  </div>
                  <div class="q-mt-sm col-lg-11 col-md-11 col-sm-12 col-xs-12">
                    <q-input
                      type="text"
                      class="border-input"
                      outlined
                      dense
                      disable
                      dark
                      label="Código Carteira"
                      color="teal-10"
                      label-color="white"
                      v-model="form.carteira_artista"
                    />
                  </div>
                </div>
              </div>

              <div
                class="row col-lg-4 col-md-4 col-sm-12 col-xs-12 justify-center content-center"
              >
                <span class="q-pa-sm" style="color: white">Foto de perfil</span>
                <div class="row border-img-dashed">
                  <div class="row border-img-solid">
                    <q-icon
                      v-if="!url"
                      name="person"
                      color="white"
                      size="150px"
                    />
                    <q-img
                      v-if="url"
                      :src="url"
                      style="heigth: 147px; width: 147px; border-radius:10px;"
                    />
                  </div>

                  <div
                    class="q-mt-sm"
                    style="display:flex; flex-direction:column; justify-content:center; align-items:center"
                  >
                    <input
                      v-show="false"
                      name="file"
                      @change="onFileChanges"
                      ref="file"
                      type="file"
                      accept="image/png, image/jpeg, image/jpg"
                    />

                    <q-btn
                      dense
                      class="shadow-10"
                      style="background-color: #0044bc; border-radius: 5px"
                      @click="upload"
                      label="Escolher Arquivo"
                      no-caps
                      text-color="white"
                    />
                  </div>
                </div>
              </div>
            </q-card-section>
          </q-card>

          <div class="row col-12 q-mt-md">
            <div
              class="row col-lg-3 col-md-3 offset-lg-9 offset-md-10 col-sm-12 col-xs-12"
            >
              <q-btn
                class="col-lg-6 col-md-8 col-sm-12 col-xs-12"
                style="background-color: #0044bc; border-radius: 5px"
                type="button"
                text-color="white"
                label="Salvar"
                no-caps
                @click="onSubmit()"
              />
            </div>
          </div>
        </q-form>
      </q-card-section>
      <!-- <q-card-section class="row col-12 justify-end">
        <q-btn
          class="row col-4"
          style="background-color: #0044bc; border-radius: 5px"
          text-color="white"
          label="Escolher imagem"
          no-caps
        />
      </q-card-section> -->
      <q-inner-loading :showing="salvandoDados">
        <q-circular-progress
          indeterminate
          size="65px"
          :thickness="1"
          color="info"
          track-color="primary"
          class="q-ma-md"
        />
      </q-inner-loading>
    </q-card>
  </q-dialog>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'EditarPerfilPessoal',
  data () {
    return {
      salvandoDados: false,
      showEditarDialog: false,
      idUser: '',
      form: {
        nome_artista: '',
        tipo_artista: '',
        descricao_artista: '',
        twitter_artista: '',
        facebook_artista: '',
        instagram_artista: '',
        twitch_artista: '',
        youtube_artista: '',
        carteira_artista: ''
      },
      imagem: [],
      url: null
    }
  },
  computed: {
    ...mapGetters('user', ['getUser'])
  },
  methods: {
    open () {
      this.showEditarDialog = true

      this.verificaCamposPreenche()
    },
    close () {
      this.showEditarDialog = false
    },
    ...mapActions('user', ['updateUser', 'getPublicArtistById']),
    verificaCamposPreenche () {
      if (this.getUser._id) {
        this.idUser = this.getUser._id
      }

      if (this.getUser.artist_name) {
        this.form.nome_artista = this.getUser.artist_name
      }

      if (this.getUser.artist_type) {
        this.form.tipo_artista = this.getUser.artist_type
      }

      if (this.getUser.artist_description) {
        this.form.descricao_artista = this.getUser.artist_description
      }

      if (this.getUser.artist_twitter) {
        this.form.twitter_artista = this.getUser.artist_twitter
      }

      if (this.getUser.artist_facebook) {
        this.form.facebook_artista = this.getUser.artist_facebook
      }

      if (this.getUser.artist_instagram) {
        this.form.instagram_artista = this.getUser.artist_instagram
      }

      if (this.getUser.artist_twitch) {
        this.form.twitch_artista = this.getUser.artist_twitch
      }

      if (this.getUser.artist_youtube) {
        this.form.youtube_artista = this.getUser.artist_youtube
      }

      if (this.getUser.ethereum_wallet) {
        this.form.carteira_artista = this.getUser.ethereum_wallet
      }

      if (this.getUser.profile_picture) {
        this.url =
          'https://nftapi.inspireip.io/' + this.getUser.profile_picture
      }
    },
    upload () {
      this.$refs.file.click()
    },
    onFileChanges (e) {
      const file = e.target.files[0]
      this.imagem[0] = file
      this.url = URL.createObjectURL(file)
    },
    onSubmit () {
      this.salvandoDados = true
      this.updateUser({
        id: this.idUser,
        dados: this.form,
        dadosImg: this.imagem
      })
        .then(res => {
          this.salvandoDados = false
          this.$q.notify({
            position: 'bottom',
            color: 'positive',
            textColor: 'white',
            icon: 'check',
            message: res.data.message
          })
          this.getPublicArtistById({
            userId: this.idUser
          })
            .then(res => {
              this.loading = false
            })
            .catch(error => {
              this.loading = true
              this.$q.notify({
                position: 'bottom',
                color: 'negative',
                textColor: 'white',
                icon: 'error',
                message: error.data.message
              })
            })
          this.close()
        })
        .catch(error => {
          this.salvandoDados = false
          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: error.data.message
          })
        })
    }
  }
}
</script>

<style>
/* .border-input {
  border-radius: 5px;
  border: 2px solid #0041b5
} */

.q-field--labeled .q-field__native,
.q-field--labeled .q-field__prefix,
.q-field--labeled .q-field__suffix {
  color: white;
}

.border-img-dashed {
  border: dashed 2px #fff;
  border-radius: 10px;
  height: 230px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border-img-solid {
  border: solid 2px #fff;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .teste-grid {
  background-color: green;
}

@media screen and (max-width: 1950px) {
  .colecao-button {
    position: absolute;
    top: 200px;
    left: 350px;
  }
}

@media only screen and (max-width: 360px) {
  .colecao-button {
    position: absolute;
    top: 200px !important;
    left: 150px !important;
  }
} */
</style>
