<template>
  <!-- 1050px -->
  <q-card style="background-color: #121212; width: 1250px ; max-width: 80vw;">
    <q-card-section class="row col-6 justify-end">
      <q-btn v-close-popup flat round icon="close" color="white" dense />
    </q-card-section>
    <q-card-section class="row col-12 justify-center tese-grid">
      <div class="row col-xl-6 col-lg-7 col-md-6 col-sm-12 col-xs-12 tese-grid">
        <q-tabs
          v-model="tab"
          dense
          no-caps
          style="background-color: #121212"
          inline-label
          class="text-white col-12 q-mb-md"
        >
          <q-tab name="info" label="Informações gerais" />
          <q-tab name="detalhes" label="Detalhes" />
          <q-tab name="lances" label="Lances" />
        </q-tabs>
        <div class="col-12" v-if="tab === 'info'">
          <div class="row col-12">
            <div
              class="row col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-3"
            >
              <q-img
                class="img-proprietario"
                src="../../../assets/anie-06786-2.jpg"
              />
            </div>
            <div
              class="row col-6 justify-start items-start"
              style="color: #A6A6A6"
            >
              <span style="" class="row items-end text-h6"
                >Gabriel Medeiros</span
              >
              <span class="row col-12">Proprietário</span>
            </div>
          </div>

          <div class="row col-12 q-mt-lg">
            <div class="row col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6">
              <span class="te" style="color: #A6A6A6">Nome da Obra</span>
            </div>
            <div
              class="row col-xl-4 col-lg-4 col-md-4 col-sm-3 col-xs-3 justify-center"
            >
              <span style="color: #A6A6A6;">5 de 8</span>
            </div>
            <div
              class="row col-xl-4 col-lg-4 col-md-4 col-sm-3 col-xs-3 justify-center"
            >
              <span style="color: #A6A6A6;">01:23</span>
            </div>
          </div>

          <div class="row col-12 q-mt-md">
            <div class="row col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-4">
              <span class="te" style="color: #A6A6A6">Tipo: </span>
              <span class="q-ml-sm" style="color: #A6A6A6">Álbum</span>
            </div>
            <div
              class="row offset-xl-1 offset-lg-1 offset-md-1 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 justify-between"
            >
              <span
                class="q-pl-md q-pr-md"
                style="color: white; background-color: #616161; border-radius: 15px"
              >
                Música
              </span>
              <span
                class="q-pl-md q-pr-md"
                style="color: white; background-color: #616161; border-radius: 15px"
              >
                Arte
              </span>
              <span
                class="q-pl-md q-pr-md"
                style="color: white; background-color: #616161; border-radius: 15px"
              >
                Desbloqueável
              </span>
            </div>
          </div>

          <div class="row col-12 justify-center q-mt-md q-mb-md">
            <p class="col-12 descricao-obra">
              Lorem ipsum dolor sit amet reprehenderit numquam. Velit, eius?
              orem ipsum dolor sit amet reprehenderit numquam. Velit, eius? orem
              ipsum dolor sit amet reprehenderit numquam. Velit, eius? orem
              ipsum dolor sit amet reprehenderit numquam. Velit, eius? orem
              ipsum dolor sit amet reprehenderit numquam. Velit, eius?
            </p>
          </div>
        </div>
        <div class="col-12" v-if="tab === 'detalhes'">
          <div class="col-12">
            <span class="text-h6" style="color: #A6A6A6">
              Criador:
            </span>
          </div>
          <div class="row col-6 q-mt-sm items-center">
            <q-img class="img-criador" src="../../../assets/anie-06786-2.jpg" />
            <span style="color: #A6A6A6; font-size: 12px" class="q-ml-sm"
              >Gabriel Medeiros</span
            >
          </div>
          <div class="row col-12 text-h6 q-mt-md">
            <span style="color: #A6A6A6">
              Palavras chaves:
            </span>
          </div>
          <div class="col-12">
            <span style="color: #A6A6A6">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae,
              placeat repellendus impedit perspiciatis quia quidem esse
              inventore quis cumque eum quasi deser
            </span>
          </div>
          <div class="col-12 q-mt-md">
            <span class="text-h6" style="color: #A6A6A6">
              Direitos:
            </span>
          </div>
          <div class="col-12">
            <span style="color: #A6A6A6">
              - O criador permite o compartilhamento
            </span>
          </div>

          <div class="col-12 q-mt-md">
            <span class="text-h6" style="color: #A6A6A6">
              Royalty:
            </span>
          </div>
          <div class="col-12">
            <span style="color: #A6A6A6">
              15%
            </span>
          </div>
        </div>
        <div class="col-12" v-if="tab === 'lances'">
          <q-scroll-area style="height: 300px;">
            <div class="col-12">
              <q-list bordered>
                <q-item clickabe v-ripple>
                  <q-item-section avatar>
                    <q-avatar>
                      <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
                    </q-avatar>
                  </q-item-section>
                  <q-item-section>
                    <span style="color: #A6A6A6;">Jonatan Cardoso</span>
                  </q-item-section>
                  <q-item-section v-if="$q.screen.gt.sm">
                    <span style="color: #A6A6A6;">Fez o lance de</span>
                  </q-item-section>
                  <q-item-section>
                    <span class="rtext-bold col3" style="color: #0D4AB5"
                      >1.09<span class="text-bold" style="color: white"
                        >ETH</span
                      ></span
                    >
                  </q-item-section>
                  <q-item-section v-if="$q.screen.lt.sm">
                    <span style="color: #A6A6A6;">10 min</span>
                  </q-item-section>

                  <q-item-section v-else>
                    <span style="color: #A6A6A6;">Há 10 min</span>
                  </q-item-section>
                </q-item>
                <q-separator />

                <q-item clickabe v-ripple>
                  <q-item-section avatar>
                    <q-avatar>
                      <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
                    </q-avatar>
                  </q-item-section>
                  <q-item-section>
                    <span style="color: #A6A6A6;">Jonatan Cardoso</span>
                  </q-item-section>
                  <q-item-section v-if="$q.screen.gt.sm">
                    <span style="color: #A6A6A6;">Fez o lance de</span>
                  </q-item-section>
                  <q-item-section>
                    <span class="rtext-bold col3" style="color: #0D4AB5"
                      >1.09<span class="text-bold" style="color: white"
                        >ETH</span
                      ></span
                    >
                  </q-item-section>
                  <q-item-section v-if="$q.screen.lt.sm">
                    <span style="color: #A6A6A6;">10 min</span>
                  </q-item-section>

                  <q-item-section v-else>
                    <span style="color: #A6A6A6;">Há 10 min</span>
                  </q-item-section>
                </q-item>
                <q-separator />

                <q-item clickabe v-ripple>
                  <q-item-section avatar>
                    <q-avatar>
                      <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
                    </q-avatar>
                  </q-item-section>
                  <q-item-section>
                    <span style="color: #A6A6A6;">Jonatan Cardoso</span>
                  </q-item-section>
                  <q-item-section v-if="$q.screen.gt.sm">
                    <span style="color: #A6A6A6;">Fez o lance de</span>
                  </q-item-section>
                  <q-item-section>
                    <span class="rtext-bold col3" style="color: #0D4AB5"
                      >1.09<span class="text-bold" style="color: white"
                        >ETH</span
                      ></span
                    >
                  </q-item-section>
                  <q-item-section v-if="$q.screen.lt.sm">
                    <span style="color: #A6A6A6;">10 min</span>
                  </q-item-section>

                  <q-item-section v-else>
                    <span style="color: #A6A6A6;">Há 10 min</span>
                  </q-item-section>
                </q-item>
                <q-separator />

                <q-item clickabe v-ripple>
                  <q-item-section avatar>
                    <q-avatar>
                      <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
                    </q-avatar>
                  </q-item-section>
                  <q-item-section>
                    <span style="color: #A6A6A6;">Jonatan Cardoso</span>
                  </q-item-section>
                  <q-item-section v-if="$q.screen.gt.sm">
                    <span style="color: #A6A6A6;">Fez o lance de</span>
                  </q-item-section>
                  <q-item-section>
                    <span class="rtext-bold col3" style="color: #0D4AB5"
                      >1.09<span class="text-bold" style="color: white"
                        >ETH</span
                      ></span
                    >
                  </q-item-section>
                  <q-item-section v-if="$q.screen.lt.sm">
                    <span style="color: #A6A6A6;">10 min</span>
                  </q-item-section>

                  <q-item-section v-else>
                    <span style="color: #A6A6A6;">Há 10 min</span>
                  </q-item-section>
                </q-item>
                <q-separator />

                <q-item clickabe v-ripple>
                  <q-item-section avatar>
                    <q-avatar>
                      <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
                    </q-avatar>
                  </q-item-section>
                  <q-item-section>
                    <span style="color: #A6A6A6;">Jonatan Cardoso</span>
                  </q-item-section>
                  <q-item-section v-if="$q.screen.gt.sm">
                    <span style="color: #A6A6A6;">Fez o lance de</span>
                  </q-item-section>
                  <q-item-section>
                    <span class="rtext-bold col3" style="color: #0D4AB5"
                      >1.09<span class="text-bold" style="color: white"
                        >ETH</span
                      ></span
                    >
                  </q-item-section>
                  <q-item-section v-if="$q.screen.lt.sm">
                    <span style="color: #A6A6A6;">10 min</span>
                  </q-item-section>

                  <q-item-section v-else>
                    <span style="color: #A6A6A6;">Há 10 min</span>
                  </q-item-section>
                </q-item>
                <q-separator />

                <q-item clickabe v-ripple>
                  <q-item-section avatar>
                    <q-avatar>
                      <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
                    </q-avatar>
                  </q-item-section>
                  <q-item-section>
                    <span style="color: #A6A6A6;">Jonatan Cardoso</span>
                  </q-item-section>
                  <q-item-section v-if="$q.screen.gt.sm">
                    <span style="color: #A6A6A6;">Fez o lance de</span>
                  </q-item-section>
                  <q-item-section>
                    <span class="text-bold col3" style="color: #0D4AB5"
                      >1.09<span class="text-bold" style="color: white"
                        >ETH</span
                      ></span
                    >
                  </q-item-section>
                  <q-item-section v-if="$q.screen.lt.sm">
                    <span style="color: #A6A6A6;">10 min</span>
                  </q-item-section>

                  <q-item-section v-else>
                    <span style="color: #A6A6A6;">Há 10 min</span>
                  </q-item-section>
                </q-item>
                <q-separator />

              </q-list>
            </div>
          </q-scroll-area>
        </div>

        <div class="row col-12 items-end q-mt-lg q-mb-md">
          <div
            class="row col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 justify-center items-center"
          >
            <div
              class="row col-xl-5 col-lg-5 col-md-5 col-sm-7 col-xs-7"
            >
              <div class="row col-12 justify-end">
                <span class="row text-bold col-3" style="color: #C07C2F"
                  >2.00</span
                >
                <span class="row text-bold col-4" style="color: white"
                  >ETH</span
                >
              </div>

              <div class="row col-12 justify-end">
                <span
                  class="row text-bold col-xl-7 col-lg-7 col-md-7 col-sm-6 col-xs-6"
                  style="color: white"
                  >4411,202</span
                >
                <span class="row text-bold col-4" style="color: white"
                  >USD</span
                >
              </div>
            </div>

            <q-btn
              class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12"
              style="background-color: #C07C2F; border-radius: 5px"
              @click="$router.push({ name: 'compradireta' })"
              text-color="white"
              label="Comprar"
              no-caps
            />
          </div>

          <div
            class="row col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 justify-center items-center"
          >
            <div
              class="row row col-xl-5 col-lg-5 col-md-5 col-sm-7 col-xs-7"
            >
              <div class="row col-12 justify-end">
                <span class="row text-bold col-3" style="color: white"
                  >1.09</span
                >
                <span class="row text-bold col-4" style="color: #0D4AB5"
                  >ETH</span
                >
              </div>

              <div class="row col-12 justify-end">
                <span
                  class="row text-bold col-xl-7 col-lg-7 col-md-7 col-sm-6 col-xs-6"
                  style="color: white"
                  >4411,202</span
                >
                <span class="row text-bold col-4" style="color: white"
                  >USD</span
                >
              </div>
            </div>

            <q-btn
              class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12"
              style="background-color: #0D4AB5; border-radius: 5px"
              @click="$router.push({ name: 'lance' })"
              text-color="white"
              label="Lance"
              no-caps
            />
          </div>
        </div>
      </div>
      <div
        class="row offset-xl-1 offset-lg-1 col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12"
      >
        <q-img
          class="row col-12"
          style="justify-content: center"
          :ratio="1"
          src="../../../assets/anie-dvd.jpg"
        />
        <div class="row col-12 justify-between">
          <div class="row col-6 q-mt-sm items-center">
            <q-img class="img-criador" src="../../../assets/anie-06786-2.jpg" />
            <span style="color: #A6A6A6; font-size: 12px" class="q-ml-sm"
              >Gabriel Medeiros</span
            >
          </div>
          <div class="row col-4 justify-end itens-center q-mt-md">
            <q-icon
              class="row col-"
              size="1.3rem"
              color="white"
              name="fab fa-creative-commons-sa"
            >
              <q-tooltip>
                - Não é permitido uso comercial; <br />
                - Compartilhamento de adaptações permitido;
              </q-tooltip>
            </q-icon>

            <q-icon
              class="q-ml-sm"
              size="1.3rem"
              color="white"
              name="fab fa-creative-commons-nc"
            />

            <q-icon
              class="q-ml-sm"
              size="1.3rem"
              color="white"
              name="fab fa-creative-commons-by"
            />
          </div>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  data () {
    return {
      tab: 'info'
    }
  },
  props: ['tabIndex'],
  mounted () {
    if (this.tabIndex) {
      this.tab = this.tabIndex
    }
  }
}
</script>

<style>
.teste-grid {
  background-color: green;
}

.colecao-button {
  background: blue;
  position: absolute;
  top: 200px;
  left: 350px;
}

.nome-obra {
  color: #a6a6a6;
  font-size: 1.3rem;
}

.descricao-obra {
  color: #a6a6a6;
}

.img-proprietario {
  height: 4rem;
  width: 4rem;
  border-radius: 100px;
}

.img-criador {
  height: 3rem;
  width: 3rem;
  border-radius: 100px;
}
</style>
