<template>
  <q-page class="bg-DarkMode justify-center items-center row">
    <div
      class="justify-center rounded-borders row bg-info col-xl-5 col-lg-6 col-md-6 col-sm-10 col-xs-11"
    >
      <div
        class="row justify-center col-xl-12 col-lg-12 col-md-12 col-sm-11 col-xs-11 q-pl-lg tamanho-paragrafo q-mt-xl"
      >
        <div class="q-mt-sm col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-11">
          <span class="text-white text-subtitle1">Senha atual</span>
          <q-input
            input-class="text-white"
            type="password"
            outlined
            class="border-input q-mt-md"
            dense
            color="blue-9"
            v-model="form.senhaAtual"
          />
        </div>
      </div>
      <div
        class="row justify-center col-xl-12 col-lg-12 col-md-12 col-sm-11 col-xs-11 q-pl-lg q-mt-xl tamanho-paragrafo"
      >
        <div class="q-mt-sm col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-11">
          <span class="text-white text-subtitle1">Nova senha</span>
          <q-input
            input-class="text-white"
            type="password"
            outlined
            class="border-input q-mb-lg"
            dense
            color="blue-9"
            v-model="form.novaSenha"
          />
          <span class="text-white text-subtitle1">Confirmar Nova senha</span>
          <q-input
            input-class="text-white"
            type="password"
            outlined
            class="border-input"
            dense
            color="blue-9"
            v-model="form.confirmarNovaSenha"
          />

        </div>
        <small class="q-mt-md text-white">
          A senha deve conter:
          pelo menos 8 caracteres, 1 número, 1 caractere maísculo e 1 caractere especial ($@#&!).
        </small>
      </div>

      <div class="row col-12 justify-center q-mb-lg q-mt-xl">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-6">
          <q-btn
            class="full-width"
            @click="onSubmit"
            push
            label="Confirmar"
            no-caps
            color="primary"
          />
        </div>
      </div>
      <q-inner-loading :showing="salvandoDados">
        <q-circular-progress
          indeterminate
          size="65px"
          :thickness="1"
          color="info"
          track-color="primary"
          class="q-ma-md"
        />
      </q-inner-loading>
    </div>
  </q-page>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'AlterarSenha',
  data () {
    return {
      salvandoDados: false,
      form: {
        senhaAtual: '',
        novaSenha: '',
        confirmarNovaSenha: ''
      }
    }
  },
  mounted () {},
  computed: {
    ...mapState('user', ['user'])
  },
  methods: {
    ...mapActions('user', ['updatePasswordLogged', 'loginUser']),
    onSubmit () {
      if (this.form.novaSenha === this.form.confirmarNovaSenha) {
        this.salvandoDados = true

        if (this.checkPassword() === null) {
          this.loginUser({
            dados: {
              email: this.user.email,
              password: this.form.senhaAtual
            }
          }).then(res => {
          // this.$router.replace({ name: 'navegar' })
            this.updatePasswordLogged({
              dados: this.form
            }).then(res => {
              this.$q.notify({
                position: 'bottom',
                color: 'positive',
                textColor: 'white',
                icon: 'check',
                message: res.data.message
              })
              this.salvandoDados = false
              if (this.user.artist) {
                this.$router.push({ name: 'perfilpessoal' })
              } else {
                this.$router.push({ name: 'perfilcolecionador' })
              }
            }).catch(error => {
              this.salvandoDados = false
              this.$q.notify({
                position: 'bottom',
                color: 'negative',
                textColor: 'white',
                icon: 'error',
                message: error.data.message
              })
            })
          }).catch(error => {
            this.salvandoDados = false

            this.$q.notify({
              position: 'bottom',
              color: 'negative',
              textColor: 'white',
              icon: 'error',
              message: error.data.message === 'Usuário ou senha inválidos.' ? 'Senha atual inválida.' : error.data.message
            })
          })
        } else {
          this.salvandoDados = false
          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: this.checkPassword()
          })
        }
      } else {
        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: 'As senhas não conferem.'
        })
      }
    },
    checkPassword () {
      let message = null
      if (this.form.novaSenha !== this.form.confirmarNovaSenha) {
        message = 'A senha não confere.'
      }

      if (this.form.confirmarNovaSenha.length < 8) {
        message = 'A senha deve ter no mínimo 8 caracteres.'
      }

      if (!this.form.confirmarNovaSenha.match(/[0-9]/)) {
        message = 'A senha deve conter pelo menos 1 número.'
      }

      if (!this.form.confirmarNovaSenha.match(/[A-Z]/)) {
        message = 'A senha deve conter pelo menos 1 caractere maísculo.'
      }

      if (!this.form.confirmarNovaSenha.match(/[$@#&!]+/)) {
        message = 'A senha deve conter pelo menos 1 caractere especial ($@#&!).'
      }

      return message
    }
  }
}
</script>

<style scoped>
.border-input {
  border-radius: 5px;
  border: 2px solid #0041b5;
}

.q-field--labeled .q-field__native,
.q-field--labeled .q-field__prefix,
.q-field--labeled .q-field__suffix {
  color: white;
}

.border-img-dashed {
  border: dashed 2px #fff;
  border-radius: 10px;
  height: 230px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border-img-solid {
  border: solid 2px #fff;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
