<template>
  <q-page class="row bg-DarkMode items-center">
    <div class="row col-12 justify-center">
      <div class="row col-12 q-mb-md">
        <div
          class="row col-lg-3 offset-lg-2 col-md-3 offset-md-2 col-sm-12 col-xs-12"
        >
          <q-btn
            class="col-lg-8 col-md-8 col-sm-12 col-xs-12 bg-primary"
            style="border-radius: 5px"
            text-color="white"
            label="Já possuo uma conta"
            no-caps
            @click="$router.push({ name: 'login' })"
          />
        </div>
      </div>

      <q-form
        @submit="onSubmit"
        ref="myForm"
        class="row col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8"
      >
        <q-card style="background-color: #212121">
          <q-card-section
            class="row col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
            style="padding: 50px"
          >
            <div
              class="row col-xl-8 col-lg-8 col-md-8 col-sm-12 col-sm-12 items-center"
            >
              <div class="row col-12 justify-between">
                <div
                  class="q-mt-sm col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12"
                >
                  <div class="row col-12">
                    <q-input
                      required
                      type="text"
                      class="border-input col-12"
                      outlined
                      dense
                      dark
                      label="Nome"
                      color="primary"
                      label-color="white"
                      v-model="form.nome"
                      :rules="[
                        val => (val && val.length > 0) || 'Nome obrigatório'
                      ]"
                    />
                  </div>
                </div>
                <div
                  class="q-mt-sm col-xl-5 col-lg-5 offset-lg-1 col-md-5 offset-md-1 col-sm-12 col-xs-12"
                >
                  <div class="row col-12">
                    <q-input
                      required
                      color="primary"
                      type="text"
                      class="border-input col-12"
                      outlined
                      dark
                      dense
                      label="Sobrenome"
                      label-color="white"
                      v-model="form.sobrenome"
                      :rules="[
                        val =>
                          (val && val.length > 0) || 'Sobrenome obrigatório'
                      ]"
                    />
                  </div>
                </div>
              </div>

              <div class="row col-12 justify-between">
                <div
                  class="q-mt-sm col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12"
                >
                  <div class="row col-12">
                    <q-input
                      required
                      type="email"
                      outlined
                      dark
                      class="border-input col-12"
                      dense
                      label="E-mail"
                      color="primary"
                      label-color="white"
                      v-model="form.email"
                      :rules="[
                        val => (val && val.length > 0) || 'E-mail obrigatório'
                      ]"
                    />
                  </div>
                </div>
                <div
                  class="q-mt-sm col-xl-5 col-lg-5 offset-lg-1 col-md-5 offset-md-1 col-sm-12 col-xs-12"
                >
                  <div class="row col-12">
                    <q-input
                      required
                      outlined
                      dark
                      class="border-input col-12"
                      color="primary"
                      dense
                      mask="##/##/####"
                      label="Data de Nascimento"
                      label-color="white"
                      v-model="form.dataNascimento"
                      :rules="[
                        val =>
                          (val && val.length > 0) ||
                          'Data de nascimento obrigatório'
                      ]"
                    >
                      <template v-slot:append>
                        <q-icon
                          color="white"
                          name="event"
                          class="cursor-pointer"
                        >
                          <q-popup-proxy
                            ref="qDateProxy"
                            transition-show="scale"
                            transition-hide="scale"
                          >
                            <q-date
                              mask="DD/MM/YYYY"
                              :locale="formatacaoCalendario"
                              v-model="form.dataNascimento"
                            >
                              <div class="row items-center justify-end">
                                <q-btn
                                  v-close-popup
                                  label="Fechar"
                                  color="primary"
                                  flat
                                />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                </div>
              </div>

              <div class="row col-12 justify-between">
                <div
                  class="q-mt-sm row col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12"
                >
                  <div
                    class="row col-xl-11 col-lg-11 col-md-11 col-sm-12 col-xs-12"
                  >
                    <q-input
                      :type="isPwd ? 'password' : 'text'"
                      outlined
                      required
                      dark
                      class="border-input col-xl-11 col-lg-11 col-md-11 col-sm-12 col-xs-12"
                      dense
                      label="Senha"
                      color="primary"
                      label-color="white"
                      v-model="form.senha"
                      :rules="[
                        val => (val && val.length > 0) || 'Senha obrigatório'
                      ]"
                    >
                      <template v-slot:append>
                        <q-icon
                          size="20px"
                          :name="isPwd ? 'visibility_off' : 'visibility'"
                          class="cursor-pointer"
                          @click="isPwd = !isPwd"
                        ></q-icon>
                      </template>
                    </q-input>
                    <q-icon class="q-mt-md" color="white" name="help_outline"
                      ><q-tooltip
                        transition-show="rotate"
                        transition-hide="rotate"
                      >
                        <p>
                          A senha deve conter:
                        </p>
                        <p class="no-margin">
                          Mínimo 8 caracteres
                        </p>
                        <p class="no-margin">
                          Mínimo 1 número
                        </p>
                        <p class="no-margin">
                          Mínimo 1 Letra maiúscula
                        </p>
                        <p class="no-margin">
                          Mínimo 1 caractere especial (!@#$%^&*)
                        </p>
                      </q-tooltip></q-icon
                    >
                  </div>
                </div>
                <div
                  class="q-mt-sm col-lg-5 offset-lg-1 col-md-5 offset-md-1 col-sm-12 col-xs-12"
                >
                  <q-input
                    required
                    dark
                    :type="isPwd2 ? 'password' : 'text'"
                    outlined
                    dense
                    class="border-input"
                    input-class="borda-azul"
                    label="Confirmar senha"
                    color="primary"
                    label-color="white"
                    text-color="white"
                    v-model="form.confirmaSenha"
                    :rules="[
                      val =>
                        (val === this.form.senha && val.length > 0) ||
                        'Senhas diferentes!'
                    ]"
                  >
                    <template v-slot:append>
                      <q-icon
                        size="20px"
                        :name="isPwd2 ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer"
                        @click="isPwd2 = !isPwd2"
                      /> </template
                  ></q-input>
                </div>
              </div>
            </div>

            <div
              class="row col-lg-4 col-md-4 col-sm-12 col-xs-12 justify-center"
            >
              <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 text-center">
                <span style="color: white">Foto de perfil</span>
              </div>
              <div class="q-mt-md row border-img-dashed">
                <div class="q-mt-lg row border-img-solid">
                  <q-icon
                    v-if="!url"
                    name="person"
                    color="white"
                    size="150px"
                  />
                  <q-img
                    v-if="url"
                    :src="url"
                    style="heigth: 147px; width: 147px; border-radius:10px;"
                  />
                </div>

                <div
                  class="q-mt-sm"
                  style="display:flex; flex-direction:column; justify-content:center; align-items:center"
                >
                  <input
                    v-show="false"
                    name="file"
                    @change="onFileChanges"
                    ref="file"
                    type="file"
                    accept="image/png, image/jpeg, image/jpg"
                  />

                  <q-btn
                    dense
                    class="shadow-10 bg-primary"
                    style="border-radius: 5px"
                    @click="upload"
                    label="Escolher Arquivo"
                    no-caps
                    text-color="white"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <q-checkbox v-model="acceptAgreement" />
                <a class="text-white" type="a" target="_blank" href="/termosuso"
                  >Aceito termos de uso</a>
              </div>
            </div>
            <div class="col-12">
              <q-checkbox v-model="acceptAgreement2" />
              <a class="text-white" type="a" target="_blank" href="/politicaprivacidade">Concordo com a política de privacidade</a>
            </div>
          </q-card-section>
        </q-card>

        <div class="row col-12 q-mt-md">
          <div
            class="row col-lg-4 col-md-3 offset-lg-9 offset-md-10 col-sm-12 col-xs-12"
          >
            <q-btn
              class="col-lg-4 col-md-8 col-sm-12 col-xs-12 q-mx-sm"
              style="border-radius: 5px"
              text-color="white"
              label="Voltar"
              :to="{ name: 'login' }"
              no-caps
              outline
            />
            <q-btn
              class="col-lg-4 col-md-8 col-sm-12 col-xs-12 q-mx-sm bg-primary"
              style="border-radius: 5px"
              type="submit"
              :disable="!acceptAgreement || !acceptAgreement2"
              text-color="white"
              label="Continuar"
              no-caps
            />
          </div>
        </div>
      </q-form>
    </div>

    <q-inner-loading :showing="salvandoDados">
      <q-circular-progress
        indeterminate
        size="65px"
        :thickness="1"
        color="info"
        track-color="primary"
        class="q-ma-md"
      />
    </q-inner-loading>
  </q-page>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'CadastroPerfil',
  data () {
    return {
      acceptAgreement: false,
      acceptAgreement2: false,
      salvandoDados: false,
      isPwd: true,
      isPwd2: true,
      form: {
        nome: '',
        sobrenome: '',
        email: '',
        dataNascimento: '',
        senha: '',
        confirmaSenha: '',
        imagem: []
      },
      formatacaoCalendario: {
        days: 'Domingo_Segunda_Terça_Quarta_Quinta_Sexta_Sábado'.split('_'),
        daysShort: 'Dom_Seg_Ter_Qua_Qui_Sex_Sáb'.split('_'),
        months: 'Janeiro_Fevereiro_Março_Abril_Maio_Junho_Julho_Agosto_Setembro_Outubro_Novembro_Dezembro'.split(
          '_'
        ),
        monthsShort: 'Jan_Fev_Mar_Abr_Mai_Jun_Jul_Ago_Set_Out_Nov_Dez'.split(
          '_'
        ),
        firstDayOfWeek: 1
      },
      url: null
    }
  },
  mounted () {},
  computed: {},
  methods: {
    ...mapActions('user', ['addUser', 'loginUser']),
    onSubmit () {
      if (this.checkDate() >= 18) {
        if (this.checkPassword() === null) {
          this.salvandoDados = true
          this.addUser({
            dados: this.form
          })
            .then(res => {
              this.$q.notify({
                position: 'bottom',
                color: 'positive',
                textColor: 'white',
                icon: 'check',
                message: res.data.message
              })

              // FAZ LOGIN APÓS CADASTRO
              this.loginUser({
                dados: {
                  email: this.form.email,
                  password: this.form.confirmaSenha
                }
              })
                .then(res => {
                  this.$router.replace({ name: 'carteiradigital' })
                })
                .catch(error => {
                  this.salvandoDados = false
                  this.$q.notify({
                    position: 'bottom',
                    color: 'negative',
                    textColor: 'white',
                    icon: 'error',
                    message: error.data.message
                  })
                })
            })
            .catch(error => {
              this.salvandoDados = false
              this.$q.notify({
                position: 'bottom',
                color: 'negative',
                textColor: 'white',
                icon: 'error',
                message: error.data.message
              })
            })
        } else {
          this.salvandoDados = false
          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: this.checkPassword()
          })
        }
      } else {
        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: 'Usuário menor de idade!'
        })
      }
    },
    upload () {
      this.$refs.file.click()
    },
    onFileChanges (e) {
      const file = e.target.files[0]

      if (
        file.type === 'image/png' ||
        file.type === 'image/jpeg' ||
        file.type === 'image/jpg'
      ) {
        this.form.imagem[0] = file
        this.url = URL.createObjectURL(file)
      } else {
        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: 'Selecione apenas arquivos de imagem (.png, .jpeg e .)'
        })
      }
    },
    checkPassword () {
      let message = null
      if (this.form.senha !== this.form.confirmaSenha) {
        message = 'A senha não confere.'
      }

      if (this.form.confirmaSenha.length < 8) {
        message = 'A senha deve ter no mínimo 8 caracteres.'
      }

      if (!this.form.confirmaSenha.match(/[0-9]/)) {
        message = 'A senha deve conter pelo menos 1 número.'
      }

      if (!this.form.confirmaSenha.match(/[A-Z]/)) {
        message = 'A senha deve conter pelo menos 1 caractere maísculo.'
      }

      if (!this.form.confirmaSenha.match(/[$@#&!]+/)) {
        message =
          'A senha deve conter pelo menos 1 caractere especial ($@#&!).'
      }

      return message
    },
    checkDate () {
      const dataAtualCaptura = new Date()
      const dataAtual = dataAtualCaptura.toLocaleDateString('pt-BR')

      const diaAtual = dataAtual.substr(0, 2)
      const mesAtual = dataAtual.substr(3, 2)
      const anoAtual = dataAtual.substr(6, 9)

      const diaInformado = this.form.dataNascimento.substr(0, 2)
      const mesInformado = this.form.dataNascimento.substr(3, 2)
      const anoInformado = this.form.dataNascimento.substr(6, 9)

      let resAno = anoAtual - anoInformado

      const resMes = mesAtual - mesInformado

      const resDia = diaAtual - diaInformado

      if (resAno >= 18) {
        if (resMes === 0) {
          if (resDia > 0) {
            resAno++
          } else if (resDia < 0) {
            resAno--
          }
        } else if (resMes > 0) {
          resAno++
        } else if (resMes < 0) {
          resAno--
        }
      }

      return resAno
    }
  }
}
</script>

<style>
/* .border-input {
  border: 2px solid #0041b5;
} */

.q-field--labeled .q-field__native,
.q-field--labeled .q-field__prefix,
.q-field--labeled .q-field__suffix {
  color: white;
}

.border-img-dashed {
  border: dashed 2px #fff;
  border-radius: 10px;
  height: 230px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border-img-solid {
  border: solid 2px #fff;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
