<template>
  <q-page class="justify-center row">
    <!-- tamanho card -->
    <div
      v-if="p1 == true"
      class="col-xl-7 col-lg-7 col-md-8 col-sm-11 col-xs-11"
    >
      <div class="row">
        <q-btn-group
          class="grupo-botoes"
          style="border-radius:5px; border:1px solid #0041b5"
        >
          <q-btn
            no-caps
            v-ripple="false"
            :class="
              multipleUpload ? 'botoes-upload' : 'bg-background botoes-upload'
            "
            @click="
              singleUpload = true;
              multipleUpload = false;
              textMultiple = false;
              clearImg();
            "
            label="Single"
          />
          <q-btn
            v-ripple="false"
            no-caps
            :class="
              multipleUpload ? 'bg-background botoes-upload' : 'botoes-upload'
            "
            @click="
              singleUpload = false;
              multipleUpload = true;
              textMultiple = true;
              clearImgMulti();
            "
            label="Multiple"
          />
        </q-btn-group>
      </div>

      <div class="row bg-info q-mt-lg q-px-sm q-py-sm">
        <div
          class="justify-center row col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12"
        >
          <div
            class="row col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-12 justify-between q-mt-md"
          >
            <div class="col-xl col-lg col-md- col-sm col-xs-6">
              <span class="tamanho-titulo text-bold text-white"
                >Nome do NFT</span
              >
              <p class="tamanho-paragrafo text-white">
                O nome da sua música, pintura, etc...
              </p>
            </div>
            <div
              class="q-mt-md row col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-5"
            >
              <q-input
                class="full-width"
                dense
                outlined
                input-class="text-white"
                label-color="white"
                v-model="NFT.nome"
                style="height:40px;border-radius:5px; border:1px solid #0041b5; background-color: #3B3B3B"
              >
              </q-input>
            </div>
          </div>

          <div
            class="row col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-12 justify-between q-mt-md"
          >
            <div class="col-6">
              <div class="row col-12">
                <span class="row tamanho-titulo text-bold text-white"
                  >Co-criador
                  <q-icon
                    class="row q-mt-xs q-ml-sm"
                    color="white"
                    name="help_outline"
                    ><q-tooltip
                      transition-show="rotate"
                      transition-hide="rotate"
                    >
                      <p class="tamanho-paragrafo">
                        Informe o endereço da carteira Metamask do Co-Criador
                      </p>
                      <p class="tamanho-paragrafo">
                        Caso haja mais de um Co-Criador, separe os endereços de
                        carteira com " ; "
                      </p>
                    </q-tooltip>
                  </q-icon>
                </span>
              </div>
              <p class="tamanho-paragrafo text-white">
                Adicione co-criadores em sua arte
              </p>
            </div>
            <div
              class="q-mt-md row col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-5"
            >
              <q-input
                class="full-width"
                dense
                outlined
                input-class="text-white"
                label-color="white"
                v-model="NFT.coCriador"
                style="height:40px;border-radius:5px; border:1px solid #0041b5; background-color: #3B3B3B"
              >
              </q-input>
            </div>
          </div>

          <div
            class="row col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-12 justify-between q-mt-md"
          >
            <div class="col-6">
              <div class="row col-12">
                <span class="row tamanho-titulo text-bold text-white col-12"
                  >Royalties
                  <q-icon
                    class="row q-mt-xs q-ml-sm"
                    color="white"
                    name="help_outline"
                    ><q-tooltip
                      transition-show="rotate"
                      transition-hide="rotate"
                    >
                      <p class="tamanho-paragrafo">
                        Essa porcentagem será dividida igualmente entre os
                        Co-Criadores
                      </p>
                    </q-tooltip>
                  </q-icon>
                </span>
              </div>
              <p class="tamanho-paragrafo text-white col-12">
                Qual a porcentagem de participação?
              </p>
            </div>
            <div
              class="q-mt-md row col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-5"
            >
              <q-input
                class="full-width"
                dense
                outlined
                input-class="text-white"
                label-color="white"
                v-model="NFT.royalties"
                style="height:40px;border-radius:5px; border:1px solid #0041b5; background-color: #3B3B3B"
              >
                <template v-slot:append>
                  <p class="text-white q-mt-md" style="font-size:20px">
                    %
                  </p>
                </template>
              </q-input>
            </div>
          </div>

          <div
            class="row col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-12 justify-between q-mt-xl"
          >
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <span class="tamanho-titulo text-bold text-white col-12"
                >Tipo</span
              >
              <p class="tamanho-paragrafo text-white col-12">
                O que é seu NFT?
              </p>
            </div>
            <div class="row col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-5">
              <q-select
                class="full-width"
                dense
                outlined
                stack-label
                v-model="NFT.tipo"
                :options="NFT.tipoNFT"
                style="height:40px;border-radius:5px; border:1px solid #0041b5; background-color: #3B3B3B"
              >
                <template v-slot:selected>
                  <p class="q-my-none q-ml-xs q-mr-none text-white">
                    {{ NFT.tipo }}
                  </p>
                </template>
              </q-select>
            </div>
          </div>

          <div
            v-if="textMultiple == false"
            class="row col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-12 justify-between q-mt-lg"
          >
            <div class="col-xl col-lg col-md- col-sm col-xs-6">
              <span class="tamanho-titulo text-bold text-white col-12"
                >Fornecimento</span
              >
              <p class="tamanho-paragrafo text-white col-12">
                Quantas unidades da NFT serão geradas?
              </p>
            </div>
            <div
              class="q-mt-md row col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-5"
            >
              <q-input
                class="full-width"
                dense
                outlined
                type="number"
                input-class="text-white"
                label-color="white"
                v-model="NFT.fornecimentoSimple"
                style="height:40px;border-radius:5px; border:1px solid #0041b5; background-color: #3B3B3B"
              >
              </q-input>
            </div>
          </div>

          <div
            v-if="textMultiple == true"
            class="row col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-12 justify-between q-mt-lg"
          >
            <div class="col-xl col-lg col-md- col-sm col-xs-6">
              <span class="tamanho-titulo text-bold text-white col-12"
                >Fornecimento</span
              >
              <p class="tamanho-paragrafo text-white col-12">
                Quantas unidades da NFT serão geradas?
              </p>
            </div>
            <div
              class="q-mt-md row col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-5"
            >
              <q-input
                class="full-width"
                dense
                outlined
                type="number"
                input-class="text-white"
                label-color="white"
                v-model="NFT.fornecimentoMultiple"
                style="height:40px;border-radius:5px; border:1px solid #0041b5; background-color: #3B3B3B"
              >
              </q-input>
            </div>
          </div>

          <div
            class="row col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-12 justify-between q-mt-xl"
          >
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <span class="tamanho-titulo text-bold text-white col-12"
                >Transferir direitos autorais?</span
              >
              <p class="tamanho-paragrafo text-white col-12">
                Como as pessoas podem usar seu NFT?
              </p>
            </div>
            <div
              class="row col-xl-6 col-lg-6 col-md-6 col-sm-5 col-xs-6 items-start justify-end text-white"
            >
              <div
                class="row col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-3 justify-center"
              >
                <q-radio
                  keep-color
                  color="primary"
                  v-model="NFT.direitosAutorais"
                  val="sim"
                  @input="
                    ativaLicenca();
                    resetDialog();
                  "
                />
                <span class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 row justify-center">Sim</span>
              </div>

              <div
                class="row col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 justify-center"
              >
                <q-radio
                  keep-color
                  color="primary"
                  v-model="NFT.direitosAutorais"
                  val="nao"
                  @input="
                    ativaDialog();
                    ativaLicenca();
                  "
                />
                <span class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 row justify-center">Não</span>
              </div>
            </div>
          </div>

          <div class="row col-12 gt-sm">
            <div style="cursor:pointer" class="q-mx-lg" @click="showing = true">
              <q-icon color="primary" size="15px" name="help" />
              <span class="text-primary col-12">Ajuda</span>
              <q-tooltip
                class="q-pa-xl bg-black"
                anchor="top middle"
                self="bottom middle"
                :offset="[10, 10]"
                transition-show="scale"
                transition-hide="scale"
              >
                <div class="q-pa-md">
                  <div>
                    <span class="tamanho-titulo col-12">Nome do NFT</span>
                    <p class="tamanho-paragrafo">
                      Aqui você vai colocar o nome que vai aparecer como título
                      de sua obra.
                    </p>
                  </div>
                  <div>
                    <span class="tamanho-titulo col-12">Tipo</span><br />
                    <span class="tamanho-paragrafo col-12">
                      Qual é a categoria que seu NFT se encaixa?
                    </span>
                    <p class="tamanho-paragrafo col-12">
                      É uma música? Uma pintura?
                    </p>
                  </div>
                  <div>
                    <span class="tamanho-titulo col-12">Direitos Autorais</span>
                    <p class="tamanho-paragrafo col-12">
                      Quais direitos vão ser concedidos ao comprador?
                    </p>
                  </div>
                  <div>
                    <span class="tamanho-titulo col-12">Fornecimento</span>
                    <p class="tamanho-paragrafo col-12">
                      Quantas unidades desse NFT deverão ser geradas?
                    </p>
                  </div>
                </div>
              </q-tooltip>
            </div>
          </div>
        </div>
        <!-- imagem -->
        <div
          class="row justify-center q-mt-md col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12"
        >
          <div
            class="q-my-sm row justify-center col-xl-8 col-lg-9 col-md-10 col-sm-11 col-xs-11"
          >
            <div
              v-if="singleUpload"
              class="justify-center items-center full-width"
              style="border: dashed 2px #fff; border-radius:10px; height:370px; display:flex; flex-direction:column;"
            >
              <q-icon
                v-if="!imgUp"
                name="description"
                color="white"
                size="150px"
              />
              <q-img
                v-if="imgUp"
                :src="imgUp"
                style="heigth: 147px; width: 147px; border-radius:10px; background-color:#000"
              />
              <div class="row col-12 q-mt-sm q-gutter-x-xs justify-end">
                <div v-if="commonsCC === true" class="">
                  <q-icon name="far fa-copyright" color="white" size="25px" />
                </div>
                <div v-if="commonsBY === true" class="">
                  <q-icon
                    name="fab fa-creative-commons-by"
                    color="white"
                    size="25px"
                  />
                </div>
                <div v-if="commonsSA === true" class="">
                  <q-icon
                    name="fab fa-creative-commons-sa"
                    color="white"
                    size="25px"
                  />
                </div>
                <div v-if="commonsND === true" class="">
                  <q-icon
                    name="fab fa-creative-commons-nd"
                    color="white"
                    size="25px"
                  />
                </div>
                <div v-if="commonsNC === true" class="">
                  <q-icon
                    name="fab fa-creative-commons-nc"
                    color="white"
                    size="25px"
                  />
                </div>
              </div>
              <!-- <div class="text-center responsive">
                <p class="text-weight-light text-white text-caption">
                  Png, Git, JPEG, MP4, MP3, WEBP
                </p>
              </div> -->
              <div
                class="q-mt-md responsive"
                style="display:flex; flex-direction:column; justify-content:center; align-items:center"
              >
                <input
                  v-show="false"
                  @change="onFileChange"
                  name="file"
                  ref="file"
                  type="file"
                />
                <q-btn
                  class="shadow-10"
                  style="background-color: #0044bc; border-radius: 5px"
                  @click="upload"
                  label="Escolher Arquivo"
                  no-caps
                  text-color="white"
                />
              </div>
            </div>
            <!-- multiple -->
            <div
              v-if="!singleUpload"
              class="justify-center items-center full-width"
              style="border: dashed 2px #fff; border-radius:10px; height:370px; display:flex; flex-direction:column;"
            >
              <q-icon
                v-if="imgMultiple.length <= 0"
                name="description"
                color="white"
                size="150px"
              />
              <q-scroll-area
                class="q-mt-sm"
                style="width: 200px; height: 300px; max-width: 200px;"
              >
                <div v-for="(img, index) in imgMultiple" :key="index">
                  <q-img
                    v-if="img"
                    :src="img.url"
                    style="margin-bottom: 7px; heigth: auto; width: 200px; border-radius:10px; background-color:#000"
                  />
                </div>
              </q-scroll-area>
              <div class="row col-12 q-mt-sm q-gutter-x-xs justify-end">
                <div v-if="commonsCC === true" class="">
                  <q-icon name="far fa-copyright" color="white" size="25px" />
                </div>
                <div v-if="commonsBY === true" class="">
                  <q-icon
                    name="fab fa-creative-commons-by"
                    color="white"
                    size="25px"
                  />
                </div>
                <div v-if="commonsSA === true" class="">
                  <q-icon
                    name="fab fa-creative-commons-sa"
                    color="white"
                    size="25px"
                  />
                </div>
                <div v-if="commonsND === true" class="">
                  <q-icon
                    name="fab fa-creative-commons-nd"
                    color="white"
                    size="25px"
                  />
                </div>
                <div v-if="commonsNC === true" class="">
                  <q-icon
                    name="fab fa-creative-commons-nc"
                    color="white"
                    size="25px"
                  />
                </div>
              </div>
              <!-- <div class="text-center responsive">
                <p class="text-weight-light text-white text-caption">
                  Png, Git, JPEG, MP4, MP3, WEBP
                </p>
              </div> -->
              <div
                class="q-mt-md q-mb-md responsive"
                style="display:flex; flex-direction:column; justify-content:center; align-items:center"
              >
                <input
                  v-show="false"
                  @change="onFileChanges"
                  name="file"
                  ref="file"
                  type="file"
                  :multiple="multipleUpload"
                />
                <q-btn
                  class="shadow-10"
                  style="background-color: #0044bc; border-radius: 5px"
                  @click="upload"
                  label="Escolher Arquivo"
                  no-caps
                  text-color="white"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row col-12 lt-md q-mt-lg">
          <div class="q-mx-lg">
            <q-icon color="primary" size="15px" name="help" />
            <span class="text-primary">Ajuda</span>
            <q-tooltip
              class="q-pa-xl"
              anchor="top middle"
              self="bottom middle"
              :offset="[10, 10]"
              transition-show="scale"
              transition-hide="scale"
            >
              <div class="q-pa-md">
                <div>
                  <span class="tamanho-titulo col-12">Nome do NFT</span>
                  <p class="tamanho-paragrafo col-12">
                    Aqui você vai colocar o nome que vai aparecer como título de
                    sua obra.
                  </p>
                </div>
                <div>
                  <span class="tamanho-titulo col-12">Tipo</span><br />
                  <span class="tamanho-paragrafo col-12">
                    Qual é a categoria que seu NFT se encaixa?
                  </span>
                  <p class="tamanho-paragrafo col-12">
                    É uma música? Uma pintura?
                  </p>
                </div>
                <div>
                  <span class="tamanho-titulo col-12">Direitos Autorais</span>
                  <p class="tamanho-paragrafo col-12">
                    Quais direitos vão ser concedidos ao comprador?
                  </p>
                </div>
                <div>
                  <span class="tamanho-titulo col-12">Fornecimento</span>
                  <p class="tamanho-paragrafo col-12">
                    Quantas unidades desse NFT deverão ser geradas?
                  </p>
                </div>
              </div>
            </q-tooltip>
          </div>
        </div>
      </div>

      <div
        :class="
          $q.screen.gt.xs
            ? 'row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 q-mb-md justify-end'
            : 'row justify-center col-xs-12 q-mb-md'
        "
      >
        <div
          :class="
            $q.screen.gt.xs
              ? 'row justify-end col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 q-gutter-x-md'
              : 'row justify-between col-xs-12'
          "
        >
          <div class="row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <q-btn
              class="text-white q-mt-lg col-12"
              no-caps
              :to="{ name: 'perfilpessoal' }"
              label="Cancelar"
              style="background-color:#0044bc; border-radius:5px; width:150px"
            />
          </div>
          <div class="row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <q-btn
              class="text-white q-mt-lg col-12"
              no-caps
              @click="
                p2 = true;
                p1 = false;
              "
              label="Continuar"
              style="background-color:#0044bc; border-radius:5px; width:150px"
            />
          </div>
        </div>
      </div>
      <!-- dialog -->
      <div class="">
        <q-dialog v-model="dialog" persistent>
          <q-card class="bg-grey row">
            <q-card-section class="row col-12">
              <div
                :class="
                  $q.screen.gt.xs
                    ? 'col-xl-6 col-lg-5 col-md-6 col-sm-6'
                    : 'col-xl-12 justify-center text-center'
                "
              >
                <p class="tamanho-paragrafo-dialog text-white col-12">
                  Permitir que outras pessoas compartilhem o conteúdo
                </p>
              </div>

              <div
                :class="
                  $q.screen.gt.xs
                    ? 'row col-xl-6 col-lg-7 col-md-6 col-sm-6 items-start justify-end text-white'
                    : 'row col-xs-12 text-white justify-center'
                "
              >
                <div
                  :class="
                    $q.screen.gt.xs
                      ? 'row col-xl-2 col-lg-2 col-md-2 col-sm-2 justify-center'
                      : 'col-xs-2 justify-center text-center'
                  "
                >
                  <q-radio
                    keep-color
                    color="primary"
                    @input="
                      ativaLicenca();
                      conteudoDialog = true;
                    "
                    v-model="NFT.compartilharConteudo"
                    val="sim"
                  />
                  <span class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 row justify-center">Sim</span>
                </div>

                <div
                  :class="
                    $q.screen.gt.xs
                      ? 'row col-xl-2 col-lg-2 col-md-2 col-sm-2 justify-center'
                      : 'col-xs-2 justify-center text-center'
                  "
                >
                  <q-radio
                    keep-color
                    color="primary"
                    @input="
                      ativaLicenca();
                      conteudoDialog = false;
                    "
                    v-model="NFT.compartilharConteudo"
                    val="nao"
                  />
                  <span class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 row justify-center">Não</span>
                </div>
              </div>
            </q-card-section>

            <q-card-section v-if="conteudoDialog == true" class="row col-12">
              <div
                :class="
                  $q.screen.gt.xs
                    ? 'col-xl-6 col-lg-5 col-md-6 row items-center col-sm-6'
                    : 'col-xl-12 justify-center text-center'
                "
              >
                <p class="tamanho-paragrafo-dialog text-white">
                  Permirtir que adaptações do seu trabalho sejam compartilhadas?
                </p>
              </div>

              <div
                :class="
                  $q.screen.gt.xs
                    ? 'row col-xl-6 col-lg-7 col-md-6 col-sm-6 items-start justify-end text-white'
                    : 'row col-xs-12 text-white'
                "
              >
                <div
                  :class="
                    $q.screen.gt.xs
                      ? 'row col-xl-7 col-lg-6 col-md-7 col-sm-7 justify-center text-center'
                      : 'col-xs-6 text-center'
                  "
                >
                  <q-radio
                    keep-color
                    color="primary"
                    @input="ativaLicenca"
                    v-model="NFT.adaptacoesCompartilhadas"
                    val="outro"
                  />
                  <p class="">Sim, desde que outros compartilhem igual</p>
                </div>
                <div
                  :class="
                    $q.screen.gt.xs
                      ? 'row col-xl-2 col-lg-2 col-md-2 col-sm-2 justify-center'
                      : 'col-xs-2 justify-center text-center'
                  "
                >
                  <q-radio
                    keep-color
                    color="primary"
                    @input="ativaLicenca"
                    v-model="NFT.adaptacoesCompartilhadas"
                    val="sim"
                  />
                  <span class="">Sim</span>
                </div>

                <div
                  :class="
                    $q.screen.gt.xs
                      ? 'row col-xl-2 col-lg-2 col-md-2 col-sm-2 justify-center'
                      : 'col-xs-2 justify-center text-center'
                  "
                >
                  <q-radio
                    keep-color
                    color="primary"
                    @input="ativaLicenca"
                    v-model="NFT.adaptacoesCompartilhadas"
                    val="nao"
                  />
                  <span class="">Não</span>
                </div>
              </div>
            </q-card-section>

            <q-card-section v-if="conteudoDialog == true" class="row col-12">
              <div
                :class="
                  $q.screen.gt.xs
                    ? 'col-xl-6 col-lg-5 col-md-6 col-sm-6'
                    : 'col-xl-12 justify-center text-center'
                "
              >
                <p class="tamanho-paragrafo-dialog text-white">
                  Permitir uso cormercial do seu trabalho?
                </p>
              </div>

              <div
                :class="
                  $q.screen.gt.xs
                    ? 'row col-xl-6 col-lg-7 col-md-6 col-sm-6 items-start justify-end text-white'
                    : 'row col-xs-12 text-white justify-center'
                "
              >
                <div
                  :class="
                    $q.screen.gt.xs
                      ? 'row col-xl-2 col-lg-2 col-md-2 col-sm-2 justify-center'
                      : 'col-xs-2 justify-center text-center'
                  "
                >
                  <q-radio
                    keep-color
                    @input="ativaLicenca"
                    color="primary"
                    v-model="NFT.usoComercial"
                    val="sim"
                  />
                  <span class="">Sim</span>
                </div>

                <div
                  :class="
                    $q.screen.gt.xs
                      ? 'row col-xl-2 col-lg-2 col-md-2 col-sm-2 justify-center'
                      : 'col-xs-2 justify-center text-center'
                  "
                >
                  <q-radio
                    keep-color
                    @input="ativaLicenca"
                    color="primary"
                    v-model="NFT.usoComercial"
                    val="nao"
                  />
                  <span class="">Não</span>
                </div>
              </div>
            </q-card-section>

            <!-- <q-card-section class="row col-12 justify-center">
              <div class="row justify-center">
                <div class="items-center justify-center row">
                  <span
                    class="tamanho-paragrafo-royalties text-white q-mr-md justify-center"
                  >
                    Royalties:
                  </span>
                </div>
                <q-input
                  class="col-xl-5 col-lg-4 col-md-4 col-sm-4 col-xs-4"
                  dense
                  outlined
                  input-class="text-white"
                  label-color="white"
                  v-model="NFT.royalties"
                  style="height:40px;border-radius:5px; border:1px solid #0041b5; background-color: #3B3B3B"
                >
                  <template v-slot:append>
                    <p class="text-white q-mt-md" style="font-size:20px">
                      %
                    </p>
                  </template>
                </q-input>
              </div>
            </q-card-section> -->

            <q-card-section class="justify-center row col-12 q-gutter-x-sm">
              <div v-if="commonsBY === true" class="">
                <q-icon
                  name="fab fa-creative-commons-by"
                  color="white"
                  size="40px"
                />
              </div>
              <div v-else class="">
                <q-icon
                  name="fab fa-creative-commons-by"
                  style="color:#686868"
                  size="40px"
                />
              </div>
              <!-- <div v-if="commonsPD === true" class="">
                <q-icon
                  name="fab fa-creative-commons-pd"
                  color="white"
                  size="40px"
                />
              </div>
              <div v-else class="">
                <q-icon
                  name="fab fa-creative-commons-pd"
                  style="color:#686868"
                  size="40px"
                />
              </div> -->
              <div v-if="commonsSA === true" class="">
                <q-icon
                  name="fab fa-creative-commons-sa"
                  color="white"
                  size="40px"
                />
              </div>
              <div v-else class="">
                <q-icon
                  name="fab fa-creative-commons-sa"
                  style="color:#686868"
                  size="40px"
                />
              </div>
              <div v-if="commonsND === true" class="">
                <q-icon
                  name="fab fa-creative-commons-nd"
                  color="white"
                  size="40px"
                />
              </div>
              <div v-else class="">
                <q-icon
                  name="fab fa-creative-commons-nd"
                  style="color:#686868"
                  size="40px"
                />
              </div>
              <div v-if="commonsNC === true" class="">
                <q-icon
                  name="fab fa-creative-commons-nc"
                  color="white"
                  size="40px"
                />
              </div>
              <div v-else class="">
                <q-icon
                  name="fab fa-creative-commons-nc"
                  style="color:#686868"
                  size="40px"
                />
              </div>
            </q-card-section>

            <q-card-actions
              class="row col-12 justify-center text-white q-pb-lg"
            >
              <div class="row">
                <q-btn
                  v-close-popup
                  class="text-white q-mt-lg"
                  no-caps
                  label="Confirmar"
                  style="background-color:#0044bc; border-radius:5px; width:150px; font-size:16px"
                />
              </div>
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
    </div>
    <div
      v-if="p2 == true"
      class="col-xl-7 col-lg-7 col-md-8 col-sm-11 col-xs-11"
    >
      <div class="row bg-info q-mt-lg q-px-sm q-py-sm q-pb-xl">
        <div
          class="justify-center row col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12"
        >
          <div
            class="row col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-12 justify-between q-mt-xl"
          >
            <div
              :class="
                $q.screen.gt.xs
                  ? 'col-xl-6 col-lg-7 col-md-7 col-sm-6 '
                  : 'col-xs-12 text-center'
              "
            >
              <span class="tamanho-titulo text-bold text-white"
                >O conteúdo é desbloqueavel?</span
              >
              <p class="tamanho-paragrafo text-white">
                Ele vai ser liberado posteriormente à compra?
              </p>
            </div>
            <div
              :class="
                $q.screen.gt.xs
                  ? 'row col-xl-6 col-lg-5 col-md-5 col-sm-3 col-xs-12 items-start justify-end text-white'
                  : 'text-white col-xs-12 justify-center row'
              "
            >
              <div
                class="row col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 row justify-center"
              >
                <q-radio
                  keep-color
                  color="primary"
                  v-model="conteudo.desbloqueavel"
                  val="sim"
                  @input="ativaLicenca()"
                />
                <span class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 row justify-center">Sim</span>
              </div>

              <div
                class="row col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 justify-center"
              >
                <q-radio
                  keep-color
                  color="primary"
                  v-model="conteudo.desbloqueavel"
                  val="nao"
                  @input="ativaLicenca()"
                />
                <span class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6 row justify-center">Não</span>
              </div>
            </div>
          </div>
          <div
            v-if="mostraDescricao == true"
            class="row col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-12 justify-between q-mt-lg"
          >
            <div
              :class="
                $q.screen.gt.xs
                  ? 'col-xl-12 col-lg-12 col-md-12 col-sm-12'
                  : 'col-xs-12 text-center'
              "
            >
              <span class="tamanho-titulo-descricao text-bold text-white"
                >Inclua conteúdo desbloqueável que só pode ser revelado pelo
                proprietário do item</span
              >
            </div>
            <div
              class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-white"
            >
              <q-input
                dark
                placeholder="Inclua informações sobre o conteúdo (chaves de acesso, código de resgate, link para um arquivo, etc)"
                class="full-width bg-info text-white q-mt-md"
                style="border-radius:5px; border:2px solid #0041b5; background-color: #3B3B3B;"
                v-model="conteudo.descricaoDesbloqueavel"
                filled
                autogrow
              />
            </div>
          </div>

          <div
            class="row col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-12 justify-between q-mt-xl"
          >
            <div
              :class="
                $q.screen.gt.xs
                  ? 'col-xl-6 col-lg-6 col-md-6 col-sm-6 '
                  : 'col-xs-12 text-center'
              "
            >
              <span class="tamanho-titulo text-bold text-white">Detalhes</span>
              <p class="tamanho-paragrafo text-white">
                Descreva o que contém no seu NFT
              </p>
            </div>
            <!-- <div
              class="q-mt-md row col-xl-4 col-lg-12 col-md-4 col-sm-4 col-xs-5"
            > -->
            <div
              class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-white"
            >
              <q-input
                dark
                class="full-width bg-info text-white"
                style="border-radius:5px; border:2px solid #0041b5; background-color: #3B3B3B;"
                v-model="conteudo.descricaoDetalhes"
                filled
                autogrow
              />
            </div>
          </div>

          <div
            class="row col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-12 justify-between q-mt-xl"
          >
            <div
              :class="
                $q.screen.gt.xs
                  ? 'col-xl-6 col-lg-5 col-md-5 col-sm-4 '
                  : 'col-xs-12 text-center'
              "
            >
              <span class="tamanho-titulo text-bold text-white">Etiqueta</span>
              <p class="tamanho-paragrafo text-white">
                Do que se trata seu NFT?
              </p>
            </div>
            <div
              class="row col-xl-6 col-lg-6 col-md-7 col-sm-5 col-xs-12"
              style="height:70px"
            >
              <q-select
                class="full-width"
                v-model="conteudo.modelMultiple"
                multiple
                :options="conteudo.etiquetas"
                use-chips
                filled
                stack-label
                color="primary"
                style="border-radius:5px; border:1px solid #0041b5; background-color: #3B3B3B"
              />
            </div>
          </div>
        </div>
        <div
          class="row justify-center q-mt-md col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12"
        >
          <div
            class="q-my-sm row justify-center col-xl-8 col-lg-9 col-md-10 col-sm-11 col-xs-11"
          >
            <div
              v-if="singleUpload"
              class="justify-center items-center full-width"
              style="border: dashed 2px #fff; border-radius:10px; height:370px; display:flex; flex-direction:column;"
            >
              <q-icon
                v-if="!imgUp"
                name="description"
                color="white"
                size="150px"
              />
              <q-img
                v-if="imgUp"
                :src="imgUp"
                style="heigth: 147px; width: 147px; border-radius:10px; background-color:#000"
              />
              <!-- <div class="text-center responsive">
                <p class="text-weight-light text-white text-caption">
                  Png, Git, JPEG, MP4, MP3, WEBP
                </p>
              </div> -->
              <div
                class="q-mt-md responsive"
                style="display:flex; flex-direction:column; justify-content:center; align-items:center"
              >
                <input
                  v-show="false"
                  name="file"
                  ref="file"
                  type="file"
                  @change="onFileChange"
                />
                <q-btn
                  class="shadow-10"
                  style="background-color: #0044bc; border-radius: 5px"
                  @click="upload"
                  label="Escolher Arquivo"
                  no-caps
                  text-color="white"
                />
              </div>
            </div>
            <!-- multiple -->
            <div
              v-if="!singleUpload"
              class="justify-center items-center full-width"
              style="border: dashed 2px #fff; border-radius:10px; height:370px; display:flex; flex-direction:column;"
            >
              <q-icon
                v-if="imgMultiple.length <= 0"
                name="description"
                color="white"
                size="150px"
              />
              <q-scroll-area
                class="q-mt-sm"
                style="width: 200px; height: 300px; max-width: 200px;"
              >
                <div v-for="(img, index) in imgMultiple" :key="index">
                  <q-img
                    v-if="img"
                    :src="img.url"
                    style="margin-bottom: 7px; heigth: auto; width: 200px; border-radius:10px; background-color:#000"
                  />
                </div>
              </q-scroll-area>

              <!-- <div class="text-center responsive">
                <p class="text-weight-light text-white text-caption">
                  Png, Git, JPEG, MP4, MP3, WEBP
                </p>
              </div> -->
              <div class="row col-12 q-mt-sm q-gutter-x-xs justify-end">
                <div v-if="commonsCC === true" class="">
                  <q-icon name="far fa-copyright" color="white" size="25px" />
                </div>
                <div v-if="commonsBY === true" class="">
                  <q-icon
                    name="fab fa-creative-commons-by"
                    color="white"
                    size="25px"
                  />
                </div>
                <div v-if="commonsSA === true" class="">
                  <q-icon
                    name="fab fa-creative-commons-sa"
                    color="white"
                    size="25px"
                  />
                </div>
                <div v-if="commonsND === true" class="">
                  <q-icon
                    name="fab fa-creative-commons-nd"
                    color="white"
                    size="25px"
                  />
                </div>
                <div v-if="commonsNC === true" class="">
                  <q-icon
                    name="fab fa-creative-commons-nc"
                    color="white"
                    size="25px"
                  />
                </div>
              </div>
              <div
                class="q-mt-md q-mb-md responsive"
                style="display:flex; flex-direction:column; justify-content:center; align-items:center"
              >
                <input
                  v-show="false"
                  @change="onFileChanges"
                  name="file"
                  ref="file"
                  type="file"
                  :multiple="multipleUpload"
                />
                <q-btn
                  class="shadow-10"
                  style="background-color: #0044bc; border-radius: 5px"
                  @click="upload"
                  label="Escolher Arquivo"
                  no-caps
                  text-color="white"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        :class="
          $q.screen.gt.xs
            ? 'row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 q-mb-md justify-end'
            : 'row justify-center col-xs-12 q-mb-md'
        "
      >
        <div
          :class="
            $q.screen.gt.xs
              ? 'row justify-end col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 q-gutter-x-sm'
              : 'row justify-between col-xs-12'
          "
        >
          <div class="row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <q-btn
              outline
              class="q-mt-lg col-12"
              no-caps
              @click="
                p1 = true;
                p2 = false;
              "
              label="Voltar"
              style="background-color:#0044bc; border-radius:5px; width:150px"
            />
          </div>
          <div class="row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <q-btn
              class="text-white q-mt-lg col-12"
              no-caps
              @click="
                p2 = false;
                p3 = true;
              "
              label="Continuar"
              style="background-color:#0044bc; border-radius:5px; width:150px"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="p3 == true"
      class="col-xl-7 col-lg-8 col-md-9 col-sm-11 col-xs-11"
    >
      <div :class="$q.screen.gt.xs ? 'row' : 'row justify-center'">
        <q-btn-group
          class="grupo-botoes"
          style="border-radius:5px; border:1px solid #0041b5"
        >
          <q-btn
            no-caps
            v-ripple="true"
            :class="
              textMultiple ? 'botoes-upload' : 'bg-background botoes-upload'
            "
            @click="textMultiple = false"
            label="Venda"
          />
          <q-btn
            v-ripple="true"
            no-caps
            :class="
              textMultiple ? 'bg-background botoes-upload' : 'botoes-upload'
            "
            @click="textMultiple = true"
            label="Leilão"
          />
        </q-btn-group>
      </div>
      <div class="row bg-info q-mt-lg q-pb-lg">
        <div
          class="row col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12 q-mt-lg items-center"
        >
          <div
            class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 justify-evenly q-mt-lg"
          >
            <div
              :class="
                $q.screen.gt.xs
                  ? 'row col-xl-4 col-lg-4 col-md-4 col-sm-3 row items-end'
                  : 'col-xs-12 text-center q-mt-xl'
              "
            >
              <span class="tamanho-titulo text-bold text-white col-12"
                >Valor venda</span
              >
              <p class="tamanho-paragrafo text-white col-12">
                Qual o valor da venda da imagem?
              </p>
            </div>
            <div
              :class="
                $q.screen.gt.xs
                  ? 'row col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-12 justify-end'
                  : 'col-xs-12 row justify-center'
              "
            >
              <div
                class="q-mt-md q-pb-md row col-xl-4 col-lg-4 col-md-5 col-sm-5 col-xs-5 justify-center text-white"
              >
                <span class="text-center">Dólar (USD)</span>
                <q-input
                  class="col-12"
                  dense
                  outlined
                  mask="#.##"
                  reverse-fill-mask
                  input-class="text-white"
                  label-color="white"
                  v-model="valorInformado"
                  @input="converterDolarEmEth()"
                  style="height:40px;border-radius:5px; border:1px solid #0041b5; background-color: #3B3B3B"
                >
                  <template :options="conteudo.etiquetas" v-slot:prepend>
                    <p class="text-white q-mt-md" style="font-size:16px">$</p>
                  </template>
                </q-input>
              </div>

              <div class="row col-1 justify-center">
                <p style="font-size: 20px" class="row text-white q-mt-xl">=</p>
              </div>

              <div
                class="q-mt-md q-pb-md row col-xl-4 col-lg-4 col-md-5 col-sm-5 col-xs-5 justify-center text-white"
              >
                <span class="text-center">Ethereum (ETH)</span>
                <q-input
                  class="col-12"
                  dense
                  outlined
                  input-class="text-white"
                  label-color="white"
                  v-model="venda.valorEthConvertido"
                  style="height:40px;border-radius:5px; border:1px solid #0041b5; background-color: #3B3B3B"
                >
                  <template v-slot:append>
                    <p class="text-primary q-mt-md" style="font-size:14px">
                      ETH
                    </p>
                  </template>
                </q-input>
              </div>
            </div>
          </div>

          <!-- <div
            class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 justify-around"
          >
            <div
              :class="
                $q.screen.gt.xs
                  ? 'col-xl-8 col-lg-8 col-md-7 col-sm-6'
                  : 'col-xs-12 text-center q-mt-xl'
              "
            >
              <span class="tamanho-titulo text-bold text-white"
                >Valor venda</span
              >
              <p class="tamanho-paragrafo text-white">
                Qual o valor da venda da imagem?
              </p>
            </div>
            <div
              class="q-mt-md row col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-5"
            >
              <q-input
                class="col-10"
                dense
                outlined
                input-class="text-white"
                label-color="white"
                v-model="venda.royalties"
                style="height:40px;border-radius:5px; border:1px solid #0041b5; background-color: #3B3B3B"
              >
                <template v-slot:append>
                  <p class="text-primary q-mt-md" style="font-size:20px">
                    ETH
                  </p>
                </template>
              </q-input>
            </div>
          </div> -->

          <div
            class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 justify-evenly q-mt-lg"
            v-show="textMultiple === true"
          >
            <div
              :class="
                $q.screen.gt.xs
                  ? 'row col-xl-4 col-lg-4 col-md-4 col-sm-3 row items-end'
                  : 'col-xs-12 text-center q-mt-xl'
              "
            >
              <span class="tamanho-titulo text-bold text-white col-12"
                >Valor mínimo lance</span
              >
              <p class="tamanho-paragrafo text-white col-12">
                Qual o valor mínimo para lance?
              </p>
            </div>
            <div
              :class="
                $q.screen.gt.xs
                  ? 'row col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-12 justify-end'
                  : 'col-xs-12 row justify-center'
              "
            >
              <div
                class="q-mt-md q-pb-md row col-xl-4 col-lg-4 col-md-5 col-sm-5 col-xs-5 justify-center text-white"
              >
                <span class="text-center">Dólar (USD)</span>
                <q-input
                  class="col-12"
                  dense
                  outlined
                  mask="#.##"
                  reverse-fill-mask
                  input-class="text-white"
                  label-color="white"
                  v-model="valorInformadoLance"
                  @input="converterDolarEmEth()"
                  style="height:40px;border-radius:5px; border:1px solid #0041b5; background-color: #3B3B3B"
                >
                  <template :options="conteudo.etiquetas" v-slot:prepend>
                    <p class="text-white q-mt-md" style="font-size:16px">$</p>
                  </template>
                </q-input>
              </div>

              <div class="row col-1 justify-center">
                <p style="font-size: 20px" class="row text-white q-mt-xl">=</p>
              </div>

              <div
                class="q-mt-md q-pb-md row col-xl-4 col-lg-4 col-md-5 col-sm-5 col-xs-5 justify-center text-white"
              >
                <span class="text-center">Ethereum (ETH)</span>
                <q-input
                  class="col-12"
                  dense
                  outlined
                  input-class="text-white"
                  label-color="white"
                  v-model="venda.valorLanceMinimoConvertido"
                  style="height:40px;border-radius:5px; border:1px solid #0041b5; background-color: #3B3B3B"
                >
                  <template v-slot:append>
                    <p class="text-primary q-mt-md" style="font-size:14px">
                      ETH
                    </p>
                  </template>
                </q-input>
              </div>
            </div>
          </div>

          <div
            v-show="textMultiple === true"
            class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 justify-evenly q-mt-lg"
          >
            <div
              :class="
                $q.screen.gt.xs
                  ? 'col-xl-4 col-lg-4 col-md-4 col-sm-3 items-end'
                  : 'col-xs-12 text-center q-mt-xl'
              "
            >
              <span class="tamanho-titulo text-bold text-white col-12"
                >Data início</span
              >
              <p class="tamanho-paragrafo text-white col-12">
                Quando o leilão começa?
              </p>
            </div>
            <div
              :class="
                $q.screen.gt.xs
                  ? 'row col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-12 justify-end'
                  : 'row justify-center col-xs-12'
              "
            >
              <div
                class="q-mt-md q-pb-md row col-xl-4 col-lg-4 col-md-5 col-sm-5 col-xs-11 justify-center"
              >
                <q-input
                  class="col-12"
                  dense
                  outlined
                  readonly
                  v-model="dataInicialFinal"
                  input-class="text-white"
                  label-color="white"
                  style="height:40px;border-radius:5px; background-color: #3B3B3B"
                >
                  <template v-slot:append>
                    <q-icon
                      v-if="inicioLeilao.referenteData"
                      @click="limpaDataHoraInicio()"
                      class="cursor-pointer"
                      name="close"
                    />
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy
                        ref="qDateProxy"
                        transition-show="scale"
                        transition-hide="scale"
                        @input="dataHoraInicio()"
                      >
                        <div class="row col-12 q-gutter-x-sm">
                          <q-date
                            :locale="myLocale"
                            mask="DD-MM-YYYY "
                            v-model="inicioLeilao.referenteData"
                          >
                            <div class="row">
                              <q-btn
                                v-close-popup
                                label="OK"
                                color="primary"
                                flat
                              />
                            </div>
                          </q-date>
                          <q-time
                            :locale="myLocale"
                            mask="HH-mm"
                            v-model="inicioLeilao.referenteHora"
                          ></q-time>
                        </div>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
            </div>
          </div>

          <div
            v-if="textMultiple == true"
            class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 justify-evenly q-mt-lg"
          >
            <div
              :class="
                $q.screen.gt.xs
                  ? 'col-xl-4 col-lg-4 col-md-4 col-sm-3'
                  : 'col-xs-12 text-center q-mt-xl'
              "
            >
              <span class="tamanho-titulo text-bold text-white col-12"
                >Data limite</span
              >
              <p class="tamanho-paragrafo text-white col-12">
                Quando o leilão encerra?
              </p>
            </div>
            <div
              :class="
                $q.screen.gt.xs
                  ? 'row col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-12 justify-end'
                  : 'row justify-center col-xs-12'
              "
            >
              <div
                class="q-mt-md q-pb-md row col-xl-4 col-lg-4 col-md-5 col-sm-5 col-xs-11 justify-center"
              >
                <q-input
                  class="col-12"
                  dense
                  outlined
                  readonly
                  v-model="dataLimiteFinal"
                  input-class="text-white"
                  input-style="disable"
                  label-color="white"
                  style="height:40px;border-radius:5px; background-color: #3B3B3B"
                >
                  <template v-slot:append>
                    <q-icon
                      v-if="limiteLeilao.referenteData"
                      @click="limpaDataHoraLimite()"
                      class="cursor-pointer"
                      name="close"
                    />
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy
                        ref="qDateProxy"
                        transition-show="scale"
                        transition-hide="scale"
                        @input="dataHoraLimite()"
                      >
                        <div class="row col-12 q-gutter-x-sm">
                          <q-date
                            :locale="myLocale"
                            mask="DD-MM-YYYY "
                            v-model="limiteLeilao.referenteData"
                          >
                            <div class="">
                              <q-btn
                                flat
                                v-close-popup
                                label="OK"
                                color="primary"
                              />
                            </div>
                          </q-date>
                          <q-time
                            :locale="myLocale"
                            mask="HH-mm"
                            v-model="limiteLeilao.referenteHora"
                          >
                          </q-time>
                        </div>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
            </div>
          </div>
        </div>

        <div
          :class="
            $q.screen.gt.xs
              ? ' q-mt-lg row items-start justify-center col-xl-4 col-lg-4 col-md-5 col-sm-12'
              : 'col-xs-12 q-mt-xl'
          "
        >
          <span
            class="row col-sm-12 justify-center text-center row text-white text-h6 no-margin text-weight-medium"
            >Prévia</span
          >
          <div class="row justify-center text-center">
            <div
              class="row justify-center col-xl-10 col-lg-10 col-md-10 col-sm-6 col-xs-11 text-center"
              style="border-radius: 10px;border-style: solid; border-color: #FFFFFF; background-color: #242424"
            >
              <div class="q-mt-md" v-if="singleUpload">
                <q-icon
                  v-if="!imgUp"
                  name="description"
                  color="white"
                  size="150px"
                />
                <q-img
                  v-if="imgUp"
                  :src="imgUp"
                  style="heigth: 250px; width: 250px; max-width: 250px; max-height: 250px; border-radius:10px; background-color:#000"
                />
              </div>
              <div class="q-mt-md" v-if="!singleUpload">
                <q-icon
                  v-if="imgMultiple.length <= 0"
                  name="description"
                  color="white"
                  size="150px"
                />
                <div>
                  <q-img
                    :src="imgAtual.img"
                    style="heigth: 250px; width: 250px; max-width: 250px; max-height: 250px; border-radius:10px; background-color:#000"
                  />

                  <div class="row q-mt-md">
                    <q-img
                      style="width: 60px; height: 60px; max-width: 60px; max-height: 60px; border-radius: 10px"
                      v-if="getUser.profile_picture"
                      :src="
                        'https://nftapi.inspireip.io/' + getUser.profile_picture
                      "
                    />
                    <div class="q-pa-sm">
                      <p
                        class="textTitlee text-left text-white"
                        v-if="getUser.name"
                      >
                        {{ getUser.name }}
                      </p>
                      <p class="textSubtitlee text-left text-white">
                        {{ imgAtual.index + 1 }} de {{ imgMultiple.length }}
                      </p>
                      <div class="q-gutter-lg">
                        <q-btn
                          flat
                          dense
                          color="primary"
                          icon="chevron_left"
                          @click="
                            imgAtual = {
                              img: imgMultiple[imgAtual.index - 1].url,
                              index: imgAtual.index - 1
                            }
                          "
                          :disable="imgAtual.index === 0"
                        />
                        <q-btn
                          flat
                          dense
                          color="primary"
                          icon="chevron_right"
                          @click="
                            imgAtual = {
                              img: imgMultiple[imgAtual.index + 1].url,
                              index: imgAtual.index + 1
                            }
                          "
                          :disable="imgMultiple.length === imgAtual.index + 1"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="q-py-md q-px-sm col-12 row justify-end">
                <!-- <div class="col">
                  <q-btn disable class="text-left text-white bg-primary q-px-sm"
                    >Lance</q-btn
                  >
                </div> -->
                <div class="row items-center">
                  <div>
                    <a class="q-pl-xl text-left text-center text-white"
                      >{{ venda.valorEthConvertido.toString().substr(0, 4)
                      }}<b class="text-primary">ETH</b>
                    </a>
                  </div>
                  <div class="q-ml-xs row q-gutter-x-xs">
                    <div v-if="commonsCC === true" class="">
                      <q-icon
                        name="far fa-copyright"
                        color="white"
                        size="15px"
                      />
                    </div>
                    <div v-if="commonsBY === true" class="">
                      <q-icon
                        name="fab fa-creative-commons-by"
                        color="white"
                        size="15px"
                      />
                    </div>
                    <div v-if="commonsSA === true" class="">
                      <q-icon
                        name="fab fa-creative-commons-sa"
                        color="white"
                        size="15px"
                      />
                    </div>
                    <div v-if="commonsND === true" class="">
                      <q-icon
                        name="fab fa-creative-commons-nd"
                        color="white"
                        size="15px"
                      />
                    </div>
                    <div v-if="commonsNC === true" class="">
                      <q-icon
                        name="fab fa-creative-commons-nc"
                        color="white"
                        size="15px"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        :class="
          $q.screen.gt.xs
            ? 'row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 q-mb-md justify-end'
            : 'row justify-center col-xs-12 q-mb-md'
        "
      >
        <div
          :class="
            $q.screen.gt.xs
              ? 'row justify-end col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 q-gutter-x-sm'
              : 'row justify-between col-xs-12'
          "
        >
          <div class="row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <q-btn
              outline
              class="q-mt-lg col-12"
              no-caps
              @click="
                p2 = true;
                p3 = false;
              "
              label="Voltar"
              style="background-color:#0044bc; border-radius:5px"
            />
          </div>
          <div class="row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <q-btn
              class="text-white q-mt-lg col-12"
              no-caps
              @click="onSubmit"
              label="Continuar"
              style="background-color:#0044bc; border-radius:5px"
            />
          </div>
        </div>
      </div>
      <q-inner-loading :showing="salvandoDados">
        <q-circular-progress
          indeterminate
          size="65px"
          :thickness="1"
          color="info"
          track-color="primary"
          class="q-ma-md"
        />
      </q-inner-loading>
    </div>
  </q-page>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import f from '../../functions/index'

export default {
  data () {
    return {
      conteudoDialog: false,
      mostraDescricao: false,
      p1: true,
      p2: false,
      p3: false,
      salvandoDados: false,
      singleUpload: true,
      multipleUpload: false,
      textMultiple: false,
      dialog: false,
      showing: false,
      commonsPD: false,
      commonsSA: false,
      commonsND: false,
      commonsNC: false,
      commonsBY: false,
      commonsCC: true,
      imgUp: null,
      imgSingle: '',
      imgMultiple: [],
      imgAtual: {
        index: 0,
        img: ''
      },
      NFT: {
        nome: '',
        coCriador: '',
        tipo: 'Selecione',
        fornecimentoSimple: '',
        fornecimentoMultiple: '',
        direitosAutorais: 'sim',
        compartilharConteudo: 'nao',
        adaptacoesCompartilhadas: 'sim',
        usoComercial: 'sim',
        royalties: '0',
        tipoNFT: [
          'Arte',
          'Fotografia',
          'Games',
          'Música',
          'Quadrinhos',
          'Domínios',
          'Estampas'
        ]
      },
      conteudo: {
        desbloqueavel: 'nao',
        descricaoDesbloqueavel: '',
        descricaoDetalhes: '',
        modelMultiple: ['Moda'],
        etiquetas: [
          'Arte',
          'Fotografia',
          'Games',
          'Música',
          'Quadrinhos',
          'Domínios',
          'Estampas'
        ]
      },
      valorInformado: '',
      valorInformadoLance: '',
      venda: {
        valorEthConvertido: 0,
        valorLanceMinimoConvertido: 0
      },
      inicioLeilao: {
        referenteData: '',
        referenteHora: '',
        dataHoraInicio: ''
      },
      myLocale: {
        days: 'Domingo_Segunda_Terça_Quarta_Quinta_Sexta_Sábado'.split('_'),
        daysShort: 'Dom_Seg_Ter_Qua_Qui_Sex_Sáb'.split('_'),
        months: 'Janeiro_Fevereiro_Março_Abril_Maio_Junho_Julho_Agosto_Setembro_Outubro_Novembro_Dezembro'.split(
          '_'
        ),
        monthsShort: 'Jan_Fev_Mar_Abr_Mai_Jun_Jul_Ago_Set_Out_Nov_Dez'.split(
          '_'
        ),
        firstDayOfWeek: 1
      },
      limiteLeilao: {
        referenteData: '',
        referenteHora: ''
      },
      dataInicialFinal: '',
      dataLimiteFinal: '',
      ethereum: ''
    }
  },
  computed: {
    ...mapGetters('user', ['getUser'])
  },

  // filters: {
  //   parseETH (value) {
  //     console.log(this.valorEthConvertido)
  //     return this.valorEthConvertido ? '2' : 0
  //   }
  // },

  methods: {
    ...mapActions('user', ['uploadMedia']),
    upload () {
      this.$refs.file.click()
    },
    onFileChange (e) {
      const file = e.target.files[0]
      this.imgUp = URL.createObjectURL(file)
      this.imgSingle = e.target.files[0]
    },
    onFileChanges (e) {
      for (let i = 0; i < e.target.files.length; i++) {
        if (e.target.files[i]) {
          this.imgMultiple.push({
            img: e.target.files[i],
            url: URL.createObjectURL(e.target.files[i])
          })
        }
      }
      this.imgAtual = {
        index: 0,
        img: this.imgMultiple[0].url
      }
    },
    clearImg () {
      this.imgMultiple = []
    },
    clearImgMulti () {
      this.imgUp = ''
      this.imgSingle = ''
    },
    ativaDialog () {
      if (this.NFT.direitosAutorais === 'nao') {
        this.dialog = true
      }
    },
    ativaLicenca () {
      if (this.NFT.compartilharConteudo === 'sim') {
        this.commonsBY = true
      } else {
        this.commonsBY = false
      }

      if (this.NFT.adaptacoesCompartilhadas === 'nao') {
        this.commonsND = true
        this.commonsSA = false
      } else if (this.NFT.adaptacoesCompartilhadas === 'outro') {
        this.commonsSA = true
        this.commonsND = false
      } else {
        this.commonsND = false
        this.commonsSA = false
      }

      if (this.NFT.usoComercial === 'nao') {
        this.commonsNC = true
      } else {
        this.commonsNC = false
      }

      if (this.NFT.direitosAutorais === 'nao') {
        this.commonsCC = false
      } else {
        this.commonsCC = true
      }

      if (this.NFT.direitosAutorais === 'sim') {
        this.commonsBY = false
        this.commonsND = false
        this.commonsSA = false
        this.commonsNC = false
        this.NFT.compartilharConteudo = 'nao'
      }

      if (this.NFT.direitosAutorais === 'sim') {
        this.NFT.compartilharConteudo = 'nao'
        this.conteudoDialog = false
      }

      if (this.NFT.compartilharConteudo === 'nao') {
        this.commonsBY = false
        this.commonsND = false
        this.commonsSA = false
        this.commonsNC = false
        this.NFT.adaptacoesCompartilhadas = 'sim'
        this.NFT.usoComercial = 'sim'
      }

      if (this.conteudo.desbloqueavel === 'sim') {
        this.mostraDescricao = true
      } else if (this.conteudo.desbloqueavel === 'nao') {
        this.mostraDescricao = false
        this.conteudo.descricaoDesbloqueavel = ''
      }
    },

    onSubmit () {
      if (this.imgSingle !== '' || this.imgMultiple.length > 0) {
        this.salvandoDados = true
        this.uploadMedia({
          dadosImg: this.imgSingle,
          dadosImgs: this.imgMultiple
        })
          .then(res => {
            this.salvandoDados = false
            this.$q.notify({
              position: 'bottom',
              color: 'positive',
              textColor: 'white',
              icon: 'check',
              message: res.data.message
            })
            this.$router.push({ name: 'perfilpessoal' })
          })
          .catch(error => {
            this.salvandoDados = false
            this.$q.notify({
              position: 'bottom',
              color: 'negative',
              textColor: 'white',
              icon: 'error',
              message: error.data.message
            })
          })
      } else {
        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: 'Selecione imagens para realizar o upload!'
        })
      }
    },

    // // NÃO UTILIZADO ATÉ CONCLUSÃO DA API PARA ENVIO DO ID JSON
    // onSubmitDados () {
    //   // CAPTURA DA STRING DE DATA O DIA, MES E ANO
    //   const diaInicio = this.inicioLeilao.referenteData.substr(0, 2)
    //   const mesInicio = this.inicioLeilao.referenteData.substr(3, 2)
    //   const anoInicio = this.inicioLeilao.referenteData.substr(6, 9)

    //   // CAPTURA DA STRING DE HORAIRO A HORA E OS MINUTOS
    //   const horaInicio = this.inicioLeilao.referenteHora.substr(0, 2)
    //   const minutosInicio = this.inicioLeilao.referenteHora.substr(3, 5)

    //   // UTILIZA COMO BASE PARA TRANSFORMAR A STRING EM DATA
    //   const data = new Date(mesInicio + '/' + diaInicio + '/' + anoInicio + ' ' + horaInicio + ':' + minutosInicio)

    //   console.log(data)

    //   // CAPTURA O HORARIO LOCAL E RETIRA A DIFERENÇA UTC (CAPTURANDO O HORARIO CORRETO DO USUÁRIO)
    //   const dataFormatada = data.getTime() - (data.getTimezoneOffset() * 60000)

    //   console.log(dataFormatada)

    //   // CONVERTE A DATA PARA O PADRAO ISO 8601 (PADRÃO DA API)
    //   // .split DIVIDE A DATA NO INICIO DO HORARIO E O 0 CAPTURA APENAS A DATA SEM HORARIO
    //   // const dataGlobalIso = new Date(dataFormatada).toISOString().split('T')[0]
    //   // .split DIVIDE A DATA NO INICIO DO HORARIO E O 1 CAPTURA APENAS O HORARIO
    //   // const horarioGlobalIso = new Date(dataFormatada).toISOString().split('T')[1]

    //   // CONCATENAÇÃO DOS DADOS DE DATA E HORARIO
    //   // const dataString = dataGlobalIso.toString() + 'T' + horarioGlobalIso.toString()

    //   const dataString = new Date(dataFormatada).toISOString()

    //   console.log(dataString)
    // },

    async converterDolarEmEth () {
      const capturaResultadoDolar = await f().conversaoDolar()
      let valorDolar

      if (
        capturaResultadoDolar.resultado != null &&
        capturaResultadoDolar.error == null
      ) {
        valorDolar = capturaResultadoDolar.resultado
      } else {
        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message:
            'Não foi possível recuperar o valor da cotação atual do Dólar, tente novamente!'
        })
      }

      const capturaResultadoEth = await f().conversaoEth()
      let valorEth

      if (
        capturaResultadoEth.resultado != null &&
        capturaResultadoEth.error == null
      ) {
        valorEth = capturaResultadoEth.resultado
      } else {
        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message:
            'Não foi possível recuperar o valor da cotação atual do ETH, tente novamente!'
        })
      }

      if (valorDolar && valorEth) {
        const valorEthEmDolar = valorEth / valorDolar
        const valorInformadoEmDolar = this.valorInformado

        const valorInformadoEmDolarLance = this.valorInformadoLance

        this.venda.valorEthConvertido = valorInformadoEmDolar / valorEthEmDolar

        this.venda.valorLanceMinimoConvertido =
          valorInformadoEmDolarLance / valorEthEmDolar
      } else {
        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: 'Não foi possível realizar a conversão, tente novamente!'
        })
      }
    },

    dataHoraInicio () {
      this.dataInicialFinal =
        this.inicioLeilao.referenteData +
        ' - ' +
        this.inicioLeilao.referenteHora
    },

    dataHoraLimite () {
      this.dataLimiteFinal =
        this.limiteLeilao.referenteData +
        ' - ' +
        this.limiteLeilao.referenteHora
    },

    limpaDataHoraInicio () {
      this.dataInicialFinal = ''
    },

    limpaDataHoraLimite () {
      this.dataLimiteFinal = ''
    }
  }
}
</script>

<style scoped>
@media only screen and (max-width: 320px) {
  .tamanho-paragrafo-dialog {
    font-size: 16px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 429px) {
  .tamanho-titulo {
    font-size: 20px;
  }

  .tamanho-titulo-descricao {
    font-size: 18px;
  }

  .tamanho-paragrafo {
    font-size: 10px;
  }

  .tamanho-paragrafo-dialog {
    font-size: 18px;
  }
}

@media only screen and (min-width: 430px) and (max-width: 1400px) {
  .tamanho-titulo {
    font-size: 20px;
  }

  .tamanho-titulo-descricao {
    font-size: 18px;
  }

  .tamanho-paragrafo {
    font-size: 10px;
  }

  .tamanho-paragrafo-dialog {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1401px) {
  .tamanho-titulo {
    font-size: 20px;
  }

  .tamanho-titulo-descricao {
    font-size: 18px;
  }

  .tamanho-paragrafo {
    font-size: 14px;
  }

  .tamanho-paragrafo-dialog {
    font-size: 18px;
  }

  .tamanho-paragrafo-royalties {
    font-size: 20px;
  }
}
</style>
