<template>
  <q-page class="bg-DarkMode justify-center items-center row">
    <div
      class="justify-center rounded-borders row bg-info col-xl-5 col-lg-6 col-md-6 col-sm-10 col-xs-11"
    >
      <div
        class="row justify-center col-xl-12 col-lg-12 col-md-12 col-sm-11 col-xs-11 q-pl-lg tamanho-paragrafo q-mt-lg q-pa-xl"
      >
        <div class="q-mt-sm col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-11">
          <span class="text-white text-subtitle1">Informe seu e-mail</span>
          <q-input
            type="email"
            input-class="text-white"
            outlined
            class="border-input q-mt-md"
            dense
            label="E-mail"
            color="blue-9"
            label-color="white"
            v-model="form.email"
          />
        </div>
      </div>

      <div class="row col-12 justify-center q-mb-lg q-mt-xl">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-6">
          <q-btn
            class="full-width"
            @click="onSubmit"
            push
            label="Recuperar"
            no-caps
            color="primary"
          />
        </div>
      </div>
      <q-inner-loading :showing="salvandoDados">
        <q-circular-progress
          indeterminate
          size="65px"
          :thickness="1"
          color="info"
          track-color="primary"
          class="q-ma-md"
        />
      </q-inner-loading>
    </div>
  </q-page>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'RecuperarSenha',
  data () {
    return {
      salvandoDados: false,
      form: {
        email: ''
      }
    }
  },
  mounted () {},
  computed: {},
  methods: {
    ...mapActions('user', ['forgotPassword']),
    onSubmit () {
      console.log(this.form)
      this.salvandoDados = true
      this.forgotPassword({
        dados: this.form
      }).then(res => {
        this.salvandoDados = false
        this.$q.notify({
          position: 'bottom',
          color: 'positive',
          textColor: 'white',
          icon: 'check',
          message: res.data.message
        })
        this.$router.push({ name: 'codigorecuperar' })
      }).catch(error => {
        this.salvandoDados = false
        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: error.data.message
        })
      })
    }
  }
}
</script>

<style scoped>
.border-input {
  border-radius: 5px;
  border: 2px solid #0041b5;
}

.q-field--labeled .q-field__native,
.q-field--labeled .q-field__prefix,
.q-field--labeled .q-field__suffix {
  color: white;
}

.border-img-dashed {
  border: dashed 2px #fff;
  border-radius: 10px;
  height: 230px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border-img-solid {
  border: solid 2px #fff;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
