<template>
  <q-dialog v-model="showDialog" persistent>
    <q-card>
      <q-card-section class="row">
        <div class="text-h6">Adicionar usuário</div>
        <q-space />
        <q-btn @click="close()" flat round icon="close" dense />
      </q-card-section>

      <form @submit.prevent="submitForm">
        <q-card-section>
          <div class="row q-mb-sm">
            <q-input
              outlined
              autofocus
              type="text"
              v-model="user.name"
              @input="$emit('update:name', $event)"
              label="Nome"
              class="col"
              ref="nome"
            />
          </div>
          <div class="row q-mb-sm">
            <q-input
              outlined
              type="text"
              v-model="user.lastname"
              @input="$emit('update:name', $event)"
              label="Sobrenome"
              class="col"
              ref="nome"
            />
          </div>
          <div class="row q-mb-sm">
            <q-input
              outlined
              v-model="user.email"
              label="E-mail"
              class="col"
              ref="email"
            />
          </div>
          <div class="row q-mb-sm">
            <q-input
              outlined
              v-model="user.password"
              label="Senha"
              class="col"
              ref="email"
            />
          </div>
          <div class="row q-mb-sm">
            <q-input
              outlined
              v-model="confirmarSenha"
              label="Confirmar senha"
              class="col"
              ref="email"
            />
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn label="Salvar" type="submit" color="primary" />
        </q-card-actions>
      </form>
    </q-card>
  </q-dialog>
  <!-- <q-inner-loading :showing="salvandoDados">
      <q-circular-progress
        indeterminate
        size="65px"
        :thickness="1"
        color="info"
        track-color="primary"
        class="q-ma-md"
      />
    </q-inner-loading> -->
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      showDialog: false,
      salvandoDados: false,
      confirmarSenha: '',
      user: {
        name: '',
        lastname: '',
        password: '',
        email: ''
      }
    }
  },
  methods: {
    ...mapActions('user', ['addUserAdmin', 'listAdmin']),
    open () {
      this.showDialog = true

      // this.verificaCamposPreenche()
    },
    close () {
      this.showDialog = false
      this.user.name = ''
      this.user.lastname = ''
      this.user.password = ''
      this.user.email = ''
      this.confirmarSenha = ''
    },
    submitForm () {
      this.salvandoDados = true

      this.addUserAdmin({
        dados: this.user
      })
        .then(res => {
          this.$q.notify({
            position: 'bottom',
            color: 'positive',
            textColor: 'white',
            icon: 'check',
            message: res.data.message
          })

          this.listAdmin()
            .then(res => {
              this.salvandoDados = false
              this.close()
            })
            .catch(error => {
              this.loading = false

              this.$q.notify({
                position: 'bottom',
                color: 'negative',
                textColor: 'white',
                icon: 'error',
                message: error.data.message
              })
            })
        })
        .catch(error => {
          this.salvandoDados = false
          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: error.data.message
          })
        })
    }
  }
}
</script>

<style scoped></style>
