<template>
<q-dialog v-model="showDialog" persistent>
  <q-card>
    <q-card-section class="row">
      <div class="text-h6">Editar senha</div>
      <q-space />
      <q-btn @click="close()" flat round icon="close" dense />
    </q-card-section>

    <form @submit.prevent="submitForm">
      <q-card-section>
        <div class="row q-mb-sm">
          <q-input
            outlined
            autofocus
            type="password"
            v-model="novaSenha"
            label="Senha"
            class="col"
            ref="senha"
          />
        </div>
        <div class="row q-mb-sm">
          <q-input
            outlined
            type="password"
            v-model="confirmarSenha"
            @input="$emit('update:name', $event)"
            label="Confirmar senha"
            class="col"
            ref="confirmarSenha"
          />
        </div>

      </q-card-section>
      <q-card-actions align="right">
        <q-btn label="Salvar" type="submit" color="primary" />
      </q-card-actions>
    </form>
  </q-card>
</q-dialog>
</template>

<script>
export default {
  data () {
    return {
      showDialog: false,
      novaSenha: '',
      confirmarSenha: '',
      user: {
        _id: '',
        name: '',
        email: ''
      }
    }
  },
  methods: {
    open (val) {
      this.showDialog = true
      this.user = val
      // this.verificaCamposPreenche()
    },
    close () {
      this.showDialog = false
    },
    submitForm () {
      this.close()
      this.$q.notify({
        position: 'bottom',
        color: 'positive',
        textColor: 'white',
        icon: 'check',
        message: 'A senha foi alterada com sucesso.'
      })
    }
  }
}
</script>

<style scoped></style>
