<template>
  <q-dialog v-model="showDialog" persistent>
    <q-card>
      <q-card-section class="row">
        <div class="text-h6">Detalhes</div>
        <q-space />
        <q-btn @click="close()" flat round icon="close" dense />
      </q-card-section>

      <form @submit.prevent="submitForm">
        <div class="row">
          <q-card class="q-mb-xl" style="height:250px">
            <img
              v-if="user.artist_banner_file"
              height="200px"
              :src="'https://nftapi.inspireip.io/' + user.artist_banner_file"
            />
            <img v-else height="200px" src="~src/assets/banner.png" />

            <div
              class="row absolute-center q-mt-xl"
              style="width:100px; height:100px"
            >
              <div class="row justify-center absolute q-mt-sm">
                <q-avatar size="100px">
                  <q-img
                    v-if="user.profile_picture"
                    :src="'https://nftapi.inspireip.io/' + user.profile_picture"
                    :loading="true"
                  />
                  <img v-else src="~src/assets/inspireIP_icone_principal.png" />
                </q-avatar>
                <div class="row">
                  <span class="text-center text-weight-bold col-12">
                    {{ user.artist ? "Artista" : "Colecionador" }}
                  </span>
                </div>
              </div>
            </div>
          </q-card>
          <q-tabs
            no-caps
            v-model="tab"
            :class="mode ? 'text-white col-12' : 'text-blue-2 col-12'"
          >
            <q-tab name="perfil" icon="fas fa-user" label="Perfil" />
            <q-tab
              v-show="user.artist"
              name="artista"
              icon="far fa-address-card"
              label="Artista"
            />
          </q-tabs>
          <q-tab-panels class="full-width" v-model="tab" animated>
            <q-tab-panel class="row" name="perfil">
              <div class="row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-11">
                <div class="row col-12">
                  <span class="col-12 text-bold q-mt-md">
                    Carteira:
                    <span class="text-caption">{{ user.ethereum_wallet }}</span>
                  </span>
                </div>
              </div>

              <div class="row q-gutter-md justify-between col-xl-12 q-mb-md">
                <div class="row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-11">
                  <span class="q-mt-lg col-12 text-bold"> Nome: </span>
                  <div class="col-12">{{ user.name }}</div>
                </div>

                <div class="row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-11">
                  <span
                    class="text-bold"
                    :class="$q.screen.gt.xs ? 'q-mt-lg col-12' : 'col-12'"
                  >
                    Sobrenome:
                  </span>
                  <div class="col-12">{{ user.lastname }}</div>
                </div>
                <div class="row col-xl-12 col-lg-5 col-md-5 col-sm-5 col-xs-11">
                  <span class="col-12 text-bold"> E-mail: </span>
                  <div class="col-12">{{ user.email }}</div>
                </div>

                <div class="row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-11">
                  <div class="row col-12">
                    <span class="col-12 text-bold">
                      Data de nascimento:
                    </span>
                    <div class="col-12">
                      {{
                        new Date(user.birth_date).toLocaleDateString("pt-BR")
                      }}
                    </div>
                  </div>
                </div>

                <div class="row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-11">
                  <div class="row col-12">
                    <span class="col-12 text-bold"> Criação da conta</span>
                    <div class="col-12">
                      {{
                        new Date(user.account_creation_date).toLocaleDateString(
                          "pt-BR"
                        )
                      }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row col-12 justify-between">
                <div class="row q-mt-md">
                  <q-btn
                    @click="mudarTipoUsuario"
                    no-caps
                    class="text-white"
                    color="primary"
                    >{{
                      user.artist ? "Tornar colecionador" : "Tornar artista"
                    }}</q-btn
                  >
                </div>

                <div class="row q-mt-md">
                  <q-btn
                    @click="desvincularCarteira()"
                    no-caps
                    class="text-white"
                    color="warning"
                    :disable="!this.user.ethereum_wallet"
                    >Desvincular Carteira</q-btn
                  >
                </div>
              </div>
            </q-tab-panel>
            <q-tab-panel class="row" name="artista">
              <div class="row q-gutter-y-lg">
                <div class="col-12">
                  <span class="text-bold">Nome Artistico: </span>
                  <span>{{ user.artist_name }}</span>
                </div>
                <div class="col-12">
                  <span class="text-bold">Categoria: </span>
                  <span>{{ user.artist_type }}</span>
                </div>
                <div class="col-12">
                  <span class="text-bold">Descrição: </span>
                  <span>{{ user.artist_description }}</span>
                </div>
                <div class="row">
                  <q-btn flat dense @click="openLink(user.artist_twitter)">
                    <q-icon
                      v-if="user.artist_twitter"
                      @click="openLink(user.artist_twitter)"
                      name="fab fa-twitter-square"
                      size="30px"
                      style="color: #0D4AB5"
                    />
                  </q-btn>
                  <q-btn flat dense @click="openLink(user.artist_facebook)">
                    <q-icon
                      v-if="user.artist_facebook"
                      @click="openLink(user.artist_facebook)"
                      name="fab fa-facebook-square"
                      size="30px"
                      style="color: #0D4AB5"
                    />
                  </q-btn>
                  <q-btn flat dense @click="openLink(user.artist_instagram)">
                    <q-icon
                      v-if="user.artist_instagram"
                      @click="openLink(user.artist_instagram)"
                      name="fab fa-instagram"
                      size="30px"
                      style="color: #0D4AB5"
                    />
                  </q-btn>
                  <q-btn flat dense @click="openLink(user.artist_youtube)">
                    <q-icon
                      v-if="user.artist_youtube"
                      @click="openLink(user.artist_youtube)"
                      name="fab fa-youtube"
                      size="30px"
                      style="color: #0D4AB5"
                    />
                  </q-btn>
                  <q-btn flat dense @click="openLink(user.artist_twitch)">
                    <q-icon
                      v-if="user.artist_twitch"
                      @click="openLink(user.artist_twitch)"
                      name="fab fa-twitch"
                      size="30px"
                      style="color: #0D4AB5"
                    />
                  </q-btn>
                </div>
              </div>
            </q-tab-panel>
          </q-tab-panels>
        </div>
      </form>
    </q-card>
  </q-dialog>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      showDialog: false,
      tab: 'perfil',
      user: {},
      dadosPessoais: {
        nome: '',
        sobrenome: '',
        email: '',
        dataNascimento: '',
        senha: ''
      }
    }
  },
  methods: {
    ...mapActions('user', ['changeUserType', 'listUsers', 'listArtist', 'deleteWallet']),
    openLink (link) {
      const win = window.open(
        link.startsWith('http') ? link : 'https://' + link,
        '_blank'
      )
      win.focus()
    },
    open (val) {
      this.showDialog = true
      this.user = val

      // this.verificaCamposPreenche()
    },
    close () {
      this.showDialog = false
      this.listArtist()
        .then(res => {
          this.loading = false

          // this.artist = this.getListUsers.filter(i => i.artist)
        })
        .catch(error => {
          this.loading = false

          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: error.data.message
          })
        })
    },
    submitForm () {
      this.close()
      this.$q.notify({
        position: 'bottom',
        color: 'positive',
        textColor: 'white',
        icon: 'check',
        message: 'A senha foi enviada por e-mail.'
      })
    },
    desvincularCarteira () {
      this.$q
        .dialog({
          title: 'Confirmação',
          message: 'Você deseja desvincular a carteira do usuário?',
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          // this.deleteTask(id)
          // Call action
          this.deleteWallet({
            dados: {
              id: this.user._id
            }
          })
            .then(res => {
              this.listUsers()
              this.user.ethereum_wallet = null

              this.$q.notify({
                position: 'bottom',
                color: 'positive',
                textColor: 'white',
                icon: 'check',
                message: res.data.message
              })
            })
            .catch(error => {
              this.$q.notify({
                position: 'bottom',
                color: 'negative',
                textColor: 'white',
                icon: 'error',
                message: error.data.message
              })
            })
        })
    },
    mudarTipoUsuario () {
      this.changeUserType({
        dados: {
          id: this.user._id,
          artist: !this.user.artist
        }
      })
        .then(res => {
          this.listUsers()
          this.user.artist = !this.user.artist

          this.$q.notify({
            position: 'bottom',
            color: 'positive',
            textColor: 'white',
            icon: 'check',
            message: 'Usuário alterado com sucesso.'
          })
        })
        .catch(error => {
          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: error.data.message
          })
        })
    }
  },
  computed: {
    mode () {
      return this.$q.dark.isActive
    }
  }
}
</script>

<style scoped>
.teste {
  background-color: red;
}
</style>
