<template>
  <q-dialog v-model="dialogEditArtist" persistent>
    <q-card class="row justify-center">
      <div class="col-12 text-center">
        <span class="text-h6 col-12">Editar Artista</span>
      </div>
      <form @submit.prevent="onSubmit">
        <div class="row col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-11">
          <div
            :class="
              $q.screen.gt.sm
                ? 'row content-center justify-center col-xl-12 col-lg-12 col-md-12 text-center'
                : 'row content-center justify-center q-mt-lg  col-sm-12 col-xs-12 text-center'
            "
            :style="
              mode
                ? 'border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424;'
                : 'border-radius: 10px; border-style: solid; border-color: #0041b5; background-color: #FFFFFF;'
            "
          >
            <q-img
              class="q-ma-sm imgFundoPerfill"
              height="260px"
              src="~src/assets/bel.jpeg"
            />
            <div class="row col-12 text-center q-px-sm justify-center">
              <div class="col-12">
                <q-input
                  required
                  outlined
                  dense
                  v-model="infoArtista.nomeArtista"
                  label="Nome do artista"
                ></q-input>
                <q-input
                  required
                  autogrow
                  class="q-mt-lg"
                  outlined
                  dense
                  bottom-slots
                  v-model="infoArtista.descricaoArtista"
                  label="Descrição do artista"
                  counter
                  maxlength="200"
                ></q-input>
              </div>
            </div>
            <!-- <div class="q-pa-md">
            <q-btn
              no-caps
              @click="
                $router.push({ name: 'navegar', params: { showObra: true } })
              "
              class="text-left text-white bg-primary"
              >Confira a sua coleção</q-btn
            >
          </div> -->
          </div>
          <div class="col-12 q-my-md">
            <div class="row justify-around">
              <q-btn flat @click="closeEditArtist()" no-caps label="Cancelar" />
              <q-btn no-caps type="submit" color="primary" label="Salvar" />
            </div>
          </div>
        </div>
      </form>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  data () {
    return {
      dialogEditArtist: false,
      infoArtista: {
        nomeArtista: '',
        descricaoArtista: ''
      }
    }
  },
  methods: {
    openEditArtist () {
      this.dialogEditArtist = true
    },
    closeEditArtist () {
      this.dialogEditArtist = false
      this.onReset()
    },

    onSubmit () {
      this.closeEditArtist()
      this.$q.notify({
        position: 'bottom',
        timeout: 2000,
        color: 'positive',
        textColor: 'white',
        icon: 'check',
        message: 'Alterações feita com sucesso'
      })
    },

    async onReset () {
      await this.resetForm()
    },
    resetForm () {
      this.infoArtista = {
        nomeArtista: '',
        descricaoArtista: ''
      }
    }
  },
  computed: {
    mode () {
      return this.$q.dark.isActive
    }
  }
}
</script>
