<template>
  <q-page class="row fundoCarteira justify-center content-center">
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-11 col-xs-11">
      <div class="col-2 justify-end">
        <q-btn class="text-primary" dense flat no-caps label="Voltar" icon="keyboard_backspace" :to="{name: 'login'}" />
      </div>
      <q-card class="cardCarteira" style="background-color: #212121">
        <q-card-section horizontal>
          <q-card-section class="text-center">
            <p class="fontTitle text-white text-left text-bold">Sua Carteira<br> Digital <a
              class="text-orange">MetaMask</a></p>
            <p class="text-white fontSubtitle text-left">Vamos cadastrar a sua carteira <br>para que você possa realizar
              as <br>transações dentro
              da plataforma.</p>
            <q-btn
              class="text-white bg-orange q-px-xl q-mt-xl"
              v-if="hasMetaMask()"
              no-caps
              no-wrap
              @click="handleWallet"
            >
              Vincular Carteira
            </q-btn>
            <div v-else class="text-red q-px-xl q-mt-xl">
              MetaMask não detectado
            </div>
            <div v-if="metaMaskError" class="text-white q-px-xl q-mt-xl">
              Você não aceitou a conexão com o MetaMask. Tente novamente.
            </div>
            <div v-if="metaMaskAccounts" class="text-white q-px-xl q-mt-xl">
              Você não aceitou a conexão com o MetaMask. Tente novamente.
            </div>
          </q-card-section>
          <q-img
            class="col-3 absolute-right raposa"
            src="raposa.png"
          />
        </q-card-section>
      </q-card>
      <div class="text-center q-pa-lg">
        <q-btn type="a" class="text-orange  text-bold textCad" flat style="text-decoration: underline"
               @click="$router.push({ name: 'carteiradigitalexplicativo' })">Não tenho uma carteira da Metamask
        </q-btn>
         <q-btn type="a" class="text-orange  text-bold textCad" flat style="text-decoration: underline"
               @click="$router.push({ name: 'navegar' })">Prosseguir sem o cadastro da carteira
        </q-btn>
      </div>
    </div>

    <q-inner-loading :showing="salvandoDados">
      <q-circular-progress
        indeterminate
        size="65px"
        :thickness="1"
        color="info"
        track-color="primary"
        class="q-ma-md"
      />
    </q-inner-loading>
  </q-page>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'CarteiraDigital',
  computed: {},
  data () {
    return {
      metaMaskError: false,
      metaMaskAccounts: false,
      salvandoDados: false,
      dados: {
        ethereum_wallet: ''
      }
    }
  },
  methods: {
    ...mapActions('user', ['loginUser', 'updateWallet']),
    onSubmit () {
      this.salvandoDados = true
      this.metaMaskAccounts = false
      this.metaMaskError = false
      this.updateWallet({
        dados: {
          carteira_artista: this.dados.ethereum_wallet
        }
      }).then(res => {
        this.$router.replace({ name: 'navegar' })
      }).catch(error => {
        this.salvandoDados = false

        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: error.data.message
        })
      })
    },
    handleWallet () {
      window.ethereum.request({ method: 'eth_requestAccounts' }).then((x) => {
        window.ethereum.request({ method: 'eth_accounts' }).then((x) => {
          this.metaMaskAccounts = true
          this.dados.ethereum_wallet = x[0]
          this.onSubmit()
        })
      }).catch((error) => {
        this.metaMaskError = true
        if (error.code === -32002) {
          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'close',
            message: 'Já existe uma conexão em andamento, verifique sua carteira.'
          })
        } else {
          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'close',
            message: 'Erro ao conectar carteira.'
          })
        }
      })
    },
    hasMetaMask () {
      const { ethereum } = window
      return Boolean(ethereum && ethereum.isMetaMask)
    }
  }
}
</script>

<style scoped>
.fundoCarteira {
  background-color: #121212;
  background-position: bottom;
  min-height: inherit;
  background-size: cover;
  position: inherit;
  background-repeat: no-repeat;
  width: 100%;
}

@media only screen and (max-width: 320px) {
  .fontTitle {
    font-size: 50px;
  }

  .fontSubtitle {
    font-size: 20px;
  }

  .textCad {
    font-size: 20px;
  }

  .raposa {
    height: 0px;
  }

  .cardCarteira {
    height: 650px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 429px) and (min-width: 321px) {
  .fontTitle {
    font-size: 50px;
  }

  .fontSubtitle {
    font-size: 20px;
  }

  .textCad {
    font-size: 20px;
  }

  .raposa {
    height: 0px;
  }

  .cardCarteira {
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 430px) {
  .fontTitle {
    font-size: 60px;
  }

  .fontSubtitle {
    font-size: 20px;
  }

  .textCad {
    font-size: 20px;
  }

  .raposa {
    height: 450px;
  }

  .cardCarteira {
    height: 450px;
  }
}

@media only screen and (min-width: 1400px) {
  .fontTitle {
    font-size: 70px;
  }

  .fontSubtitle {
    font-size: 25px;
  }

  .textCad {
    font-size: 25px;
  }

  .raposa {
    height: 600px;
  }

  .cardCarteira {
    height: 600px;
  }
}
</style>
