<template>
  <q-page class="row fundoCarteira justify-center content-center">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-11 col-xs-11 q-mt-md">
      <div class="col-2 justify-end">
        <q-btn
          class="text-primary"
          dense
          flat
          no-caps
          label="Voltar"
          icon="keyboard_backspace"
          @click="$router.back()"
        />
      </div>
      <q-card class="cardCarteira" style="background-color: #212121">
        <div class="row">
          <div class="col-12 text-left textTitleC text-white text-bold q-pa-lg">
            Como Funciona?
          </div>
          <div
            class="col-xl-4 col-lg-3 col-md-4 col-sm-11 col-xs-11 textSubtitleC q-pa-lg text-left text-white"
          >
            Esse vídeo explica o passo a passo de como funciona para criar sua
            carteira com a <a class="text-orange">MetaMask</a>.
          </div>
          <div class="col-xl-7 col-lg-8 col-md-8 col-sm-6 col-xs-12 q-pa-sm">
            <div class="justify-center">
              <q-video
                :ratio="16 / 9"
                src="https://www.youtube.com/embed/EZqSiNw3EIY"
              />
            </div>
          </div>
          <div class="row col-12 q-mt-md q-pa-sm justify-end">
            <a
              target="_blank"
              color="primary"
              class="text-h6 text-orange"
              href="https://metamask.io/"
              >Ir ao site MetaMask</a
            >
            <q-icon
              color="orange"
              class="q-mt-sm q-ml-sm"
              name="arrow_forward_ios"
              size="18px"
            />
          </div>
        </div>
      </q-card>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'CarteiraDigitalExplicativo',
  computed: {},
  methods: {
    handleRoute () {
      this.$router.back()
    }
  }
}
</script>

<style scoped>
.fundoCarteira {
  background-color: #121212;
  background-position: bottom;
  min-height: inherit;
  background-size: cover;
  position: inherit;
  background-repeat: no-repeat;
  width: 100%;
}

@media only screen and (max-width: 320px) {
  .textTitleC {
    font-size: 50px;
  }

  .textSubtitleC {
    font-size: 20px;
  }

  .cardCarteira {
    height: 670px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .tamanho-video {
    width: 300px;
    height: 170px;
  }
}

@media only screen and (max-width: 429px) and (min-width: 321px) {
  .textTitleC {
    font-size: 50px;
  }

  .textSubtitleC {
    font-size: 20px;
  }

  .cardCarteira {
    height: 650px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .tamanho-video {
    width: 350px;
    height: 200px;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 430px) {
  .textTitleC {
    font-size: 50px;
  }

  .textSubtitleC {
    font-size: 20px;
  }

  .textCad {
    font-size: 20px;
  }

  .cardCarteira {
    height: 500px;
  }

  .tamanho-video {
    width: 520px;
    height: 400px;
  }
}

@media only screen and (min-width: 1400px) {
  .textTitleC {
    font-size: 50px;
  }

  .textSubtitleC {
    font-size: 25px;
  }

  .textCad {
    font-size: 25px;
  }

  .cardCarteira {
    height: 650px;
  }

  .tamanho-video {
    width: 720px;
    height: 380px;
  }
}
</style>
