<template>
  <q-page class="">
    <!-- topo -->
    <div class="row justify-evenly">
      <div
        :class="mode ? 'col-xl-5 col-lg-6 col-md-5 col-sm-11 col-xs-11' : 'col-xl-5 col-lg-6 col-md-5 col-sm-11 col-xs-11 text-primary'"
        style="margin-top:50px"
      >
        <span
          :class="
            $q.screen.gt.md ? 'text-bold text-h1' : 'text-bold text-h3 q-pl-sm'
          "
          >InspireIP</span
        >
        <span
          :class="$q.screen.gt.md ? 'text-bold text-h2' : 'text-bold text-h4'"
        >
          Collectibles</span
        >
        <p
          :class="
            $q.screen.gt.sm
              ? 'text-bold text-h4 q-mb-xl q-pl-sm'
              : 'text-bold text-h6 q-pl-sm'
          "
        >
          NFT done right
        </p>
        <p
          :class="
            $q.screen.gt.md
              ? 'text-weight-regular text-h4 q-mb-md'
              : 'text-weight-regular text-h5 q-mb-md q-pl-sm'
          "
        >
          O marketplace mais completo de Propriedade Intelectual em NFT
        </p>
        <p
          :class="
            $q.screen.gt.md
              ? 'text-weight-regular text-h5'
              : 'text-weight-regular text-h6 q-pl-sm'
          "
        >
          Junte-se à nossa comunidade, mostre e venda suas obras digitais.
          Assine digitalmente seu trabalho criando um certificado tokenizado.
          Venda e transfira seus direitos de forma fácil, rápida e segura.
        </p>
      </div>
      <div
        class="justify-center items-start text-center row col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-11"
      >
        <img
          class="col-12 justify-center"
          src="~assets/ilustra-inspire-ip.png"
          alt=""
        />
        <div class="justify-center col-12 margem-topo">
          <q-btn
            no-caps
            type="a"
            target="_blank"
            href="https://docs.google.com/forms/d/e/1FAIpQLSd1qmtpVKGQehRX7xVcrhpUdfaR40ASJd10sRE0YBecExslrQ/viewform"
            :class="
              $q.screen.gt.sm
                ? 'bg-botao text-bold shadow-14 justify-center'
                : 'text-bold shadow-14 bg-botao-sm'
            "
            label="Quero Participar"
          />
        </div>
      </div>
    </div>

    <!-- Publi -->
    <div class="q-mt-xl row col-12 justify-center ">
      <div
        class="row col-xl-9 col-lg-8 col-md-10 col-sm-11 col-xs-11 justify-center justify-evenly"
      >
        <div
          class="justify-center"
          style="display:flex; flex-direction:column; align-items:center; width:200px"
        >
          <q-card-section>
            <img src="~src/assets/awesome-gem.png" alt="" v-if="mode" />
            <img src="~src/assets/awesome-gem.white.png" alt="" v-else />
          </q-card-section>
          <q-card-section class="no-padding">
            <span
              :class="
                mode
                  ? 'text-h6 text-weight-regular'
                  : 'text-h6 text-weight-regular text-primary'
              "
            >
              Minting de Arte</span
            >
          </q-card-section>
          <q-card-section
            :class="mode ? 'text-center text-white' : 'text-center text-primary'"
          >
            <span> Torne suas obras uma peça única!</span>
          </q-card-section>
        </div>
        <div
          class="no-shadow"
          style="display:flex; flex-direction:column; align-items:center; width:200px"
        >
          <q-card-section>
            <img src="~src/assets/awesome-unlock-alt.png" alt="" v-if="mode" />
            <img src="~src/assets/awesome-unlock-alt.white.png" alt="" v-else />
          </q-card-section>
          <q-card-section class="no-padding">
            <span
              :class="
                mode
                  ? 'text-h6 text-weight-regular'
                  : 'text-h6 text-weight-regular text-primary'
              "
              >Token Criptografado</span
            >
          </q-card-section>
          <q-card-section
            :class="mode ? 'text-center text-white' : 'text-center text-primary'"
          >
            <span>Toda a segurança para sua criação e registro!</span>
          </q-card-section>
        </div>
        <div
          class="no-shadow"
          style="display:flex; flex-direction:column; align-items:center; width:200px"
        >
          <q-card-section>
            <img
              src="~src/assets/material-collections.png"
              alt=""
              v-if="mode"
            />
            <img
              src="~src/assets/material-collections.white.png"
              alt=""
              v-else
            />
          </q-card-section>
          <q-card-section class="no-padding">
            <span
              :class="
                mode
                  ? 'text-h6 text-weight-regular'
                  : 'text-h6 text-weight-regular text-primary'
              "
            >
              Coleção de Obras</span
            >
          </q-card-section>
          <q-card-section
            :class="mode ? 'text-center text-white' : 'text-center cor-letra'"
          >
            <span>Colecione obras de seus artistas favoritos!</span>
          </q-card-section>
        </div>
        <div
          class="no-shadow cor-letra"
          style="display:flex; flex-direction:column; align-items:center; width:200px;"
        >
          <q-card-section>
            <img
              src="~src/assets/metro-earth2.png"
              width="39"
              alt=""
              v-if="mode"
            />
            <img
              src="~src/assets/metro-earth2.white.png"
              width="39"
              alt=""
              v-else
            />
          </q-card-section>
          <q-card-section class="no-padding">
            <span
              :class="
                mode
                  ? 'text-h6 text-weight-regular text-white'
                  : 'text-h6 text-weight-regular cor-letra'
              "
            >
              Registro Blockchain</span
            >
          </q-card-section>
          <q-card-section
            :class="mode ? 'text-center text-white' : 'text-center cor-letra'"
          >
            <span>Registros por meio de Blockchain</span>
          </q-card-section>
        </div>
      </div>
    </div>

    <!-- Artista do Mês -->
    <div class="q-mt-xl justify-center row">
      <div class="row col-12 justify-center q-mb-sm">
        <span class="col-12 text-center text-bold text-h5 text-primary"
          >Artistas do mês</span
        >
        <p class="text-bold text-primary">
          Confira os artistas em destaque do mês
        </p>
      </div>
      <div class="row col-12 justify-center q-gutter-x-xl">
        <div
          v-for="item in listHighlightProfile"
          :key="item._id"
          class="row col-xl-2 col-lg-2 col-md-3 col-sm-5 col-xs-11"
        >
          <div
            :class="
              $q.screen.gt.sm
                ? 'row content-center justify-center col-xl-12 col-lg-12 col-md-12 text-center'
                : 'row content-center justify-center q-mt-lg  col-sm-12 col-xs-12 text-center'
            "
            :style="
              mode
                ? 'border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424;'
                : 'border-radius: 10px; border-style: solid; border-color: #A6327D; background-color: #FFFFFF;'
            "
          >
            <q-img
              class="q-ma-sm imgFundoPerfill"
              height="260px"
              :src="'https://nftapi.inspireip.io/' + item.profile_picture"
            />
            <div style="height:150px" class="col-12 text-center q-px-sm">
              <span class="text-primary text-bold text-h6">{{
                `${item.name} ${item.lastname}`
              }}</span>
              <p class="q-mt-md">
                {{ item.artist_description }}
              </p>
            </div>
            <div class="q-pa-md">
              <q-btn
                no-caps
                @click="
                  $router.push({ path: `/perfilartista/${item._id}` })
                "
                class="text-left text-white bg-primary"
                >Confira a sua coleção</q-btn
              >
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Card Inspire -->

    <div class="row justify-center">
      <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 col-xs-11">
        <div
          id="oqSomos"
          class="no-shadow cor-letra justify-center text-center"
          style="display:flex; flex-direction:column; align-items:center; margin-top:100px"
        >
          <q-card-section
            :class="mode ? 'text-h3 text-white' : 'text-h3 cor-letra'"
          >
            O Que Somos?
          </q-card-section>
          <q-card-section
            :class="
              mode
                ? 'text-weight-light text-white'
                : 'text-weight-light cor-letra'
            "
            style="font-size:25px"
          >
            Este vídeo pode te ajudar a entender o que é a InspireIP e como
            funciona a plataforma
          </q-card-section>
        </div>
      </div>
    </div>
    <div
      style="display:flex; flex-direction:column; align-items:center; margin-top:70px"
    >
      <iframe
        class="tamanho-video"
        src="https://www.youtube.com/embed/lzUDvYU08K0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <div class="row full-width justify-center">
        <div class="col-xl-7 col-lg-8 col-md-8 col-sm-11 col-xs-11 text-center">
          <div
            id="trending"
            class="no-shadow cor-letra "
            style="display:flex; flex-direction:column; align-items:center; margin-top:100px"
          >
            <q-card-section
              :class="mode ? 'text-h3 text-white' : 'text-h3 cor-letra'"
            >
              Trending
            </q-card-section>
            <q-card-section
              :class="
                mode
                  ? 'text-weight-light text-white'
                  : 'text-weight-light cor-letra'
              "
              style="font-size:25px"
            >
              Estas são as obras com mais sucesso nesse momento!
            </q-card-section>
          </div>
        </div>
      </div>
    </div>
    <!-- card artistas -->

    <div class="col-12 q-mt-xl row items-center justify-center">
      <div
        class="row q-gutter-x-md q-gutter-y-md col-xl-9 col-lg-9 col-md-10 col-sm-11 col-xs-11 justify-center"
      >
        <div
          class="row content-center justify-center col-xl-3 col-lg-3 col-md-3 col-sm-11 col-xs-12 text-center"
          :style="
            mode
              ? 'border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424;'
              : 'border-radius: 10px; border-style: solid; border-color: #A6327D; background-color: #FFFFFF;'
          "
        >
          <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg" />
          <div class="q-pa-sm">
            <q-img class="imgPerfill" src="../assets/perfil.png" />
          </div>
          <div class="q-pa-sm">
            <p
              :class="
                mode
                  ? 'textTitlee text-left text-white'
                  : 'textTitlee text-left text-black'
              "
            >
              Gabriel Medeiros
            </p>
            <p
              :class="
                mode
                  ? 'textSubtitlee text-left text-white'
                  : 'textSubtitlee text-left text-black'
              "
            >
              5 de 8
            </p>
          </div>
          <div class="q-pa-md">
            <q-btn
              @click="
                $router.push({ name: 'navegar', params: { showObra: true } })
              "
              class="text-left text-white bg-primary q-px-md"
              >Lance</q-btn
            >
            <a
              :class="
                mode
                  ? 'q-pl-xl text-left text-white'
                  : 'q-pl-xl text-left text-black text-bold'
              "
              >1.09 <b class="text-primary">ETH</b> ©</a
            >
          </div>
        </div>
        <div
          class="row content-center justify-center col-xl-3 col-lg-3 col-md-3 col-sm-11 col-xs-12 text-center"
          :style="
            mode
              ? 'border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424;'
              : 'border-radius: 10px; border-style: solid; border-color: #A6327D; background-color: #FFFFFF;'
          "
        >
          <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg" />
          <div class="q-pa-sm">
            <q-img class="imgPerfill" src="../assets/perfil.png" />
          </div>
          <div class="q-pa-sm">
            <p
              :class="
                mode
                  ? 'textTitlee text-left text-white'
                  : 'textTitlee text-left text-black'
              "
            >
              Gabriel Medeiros
            </p>
            <p
              :class="
                mode
                  ? 'textSubtitlee text-left text-white'
                  : 'textSubtitlee text-left text-black'
              "
            >
              5 de 8
            </p>
          </div>
          <div class="q-pa-md">
            <q-btn
              @click="
                $router.push({ name: 'navegar', params: { showObra: true } })
              "
              class="text-left text-white bg-primary q-px-md"
              >Lance</q-btn
            >
            <a
              :class="
                mode
                  ? 'q-pl-xl text-left text-white'
                  : 'q-pl-xl text-left text-black text-bold'
              "
              >1.09 <b class="text-primary">ETH</b> ©</a
            >
          </div>
        </div>
        <div
          class="row content-center justify-center col-xl-3 col-lg-3 col-md-3 col-sm-11 col-xs-12 text-center"
          :style="
            mode
              ? 'border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424;'
              : 'border-radius: 10px; border-style: solid; border-color: #A6327D; background-color: #FFFFFF;'
          "
        >
          <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg" />
          <div class="q-pa-sm">
            <q-img class="imgPerfill" src="../assets/perfil.png" />
          </div>
          <div class="q-pa-sm">
            <p
              :class="
                mode
                  ? 'textTitlee text-left text-white'
                  : 'textTitlee text-left text-black'
              "
            >
              Gabriel Medeiros
            </p>
            <p
              :class="
                mode
                  ? 'textSubtitlee text-left text-white'
                  : 'textSubtitlee text-left text-black'
              "
            >
              5 de 8
            </p>
          </div>
          <div class="q-pa-md">
            <q-btn
              @click="
                $router.push({ name: 'navegar', params: { showObra: true } })
              "
              class="text-left text-white bg-primary q-px-md"
              >Lance</q-btn
            >
            <a
              :class="
                mode
                  ? 'q-pl-xl text-left text-white'
                  : 'q-pl-xl text-left text-black text-bold'
              "
              >1.09 <b class="text-primary">ETH</b> ©</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- FAQ -->
    <div class="row col-12 justify-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-sm-11 col-xs-11">
        <div
          id="faq"
          class="no-shadow items-center q-ma-sm"
          style="display:flex; flex-direction:column; align-items:center; margin-top:100px"
        >
          <q-card-section
            :class="
              mode
                ? 'no-padding text-h3 cor-white items-center'
                : 'no-padding text-h3 cor-letra items-center'
            "
          >
            FAQ
          </q-card-section>
          <q-card-section
            :class="
              mode
                ? 'text-weight-light text-white q-mb-lg text-center'
                : 'text-weight-light cor-letra q-mb-lg text-center'
            "
            style="font-size:25px"
          >
            Perguntas que recebemos frequentemente.
          </q-card-section>
        </div>
        <div class="row">
          <div class="row items-center justify-center col-12">
            <q-list
              bordered
              class="col-xl-12 col-lg-11 col-md-11 col-sm-11 col-xs-12"
            >
              <q-expansion-item
                class="bordas-faq q-pb-md q-pt-md"
                group="somegroup"
                label="O que é NFT?"
                caption="What is NFT?"
                :header-class="
                  mode
                    ? 'text-white text-bold text-h5'
                    : 'cor-letra text-bold text-h6'
                "
              >
                <q-card>
                  <q-card-section class="bg-primary text-white">
                    <p class="q-pa-sm">
                      Um NFT é como se fosse um autografo digital em sua arte.
                      Isso torna a arte única, gerando escassez no universo
                      digital e fazendo seu preço subir no mercado.
                    </p>
                    <p class="q-pa-sm">
                      Os NFTs são protegidos com tecnologia blockchain
                      semelhante ao Bitcoin (na verdade, eles fazem parte do
                      blockchain Ethereum). Blockchains são basicamente bancos
                      de dados criptografados e descentralizados, transparentes
                      e praticamente invioláveis.
                    </p>
                    <p class="q-pa-sm">
                      Sabe qual é a melhor parte? Quando alguém revende sua arte
                      em NFT, você recebe uma porcentagem da venda diretamente
                      em sua carteira. E o que você pode vender em NFT? Bem,
                      praticamente tudo! Artes, músicas, fotografias, marcas,
                      patentes... O céu é o limite, e estamos aqui para te
                      ajudar!
                    </p>
                    <q-separator dark />
                    <p class="q-pa-sm q-pt-lg">
                      An NFT is like a digital autograph in your art. This makes
                      art unique, generating scarcity in the digital universe
                      and making its price rise in the market.
                    </p>
                    <p class="q-pa-sm">
                      NFTs are protected with Bitcoin-like blockchain technology
                      (in fact, they are part of the Ethereum blockchain).
                      Blockchains are basically encrypted and decentralized
                      databases, transparent and virtually tamper-proof.
                    </p>
                    <p class="q-pa-sm">
                      You know what the best part is? When someone resells their
                      art in NFT, you get a percentage of the sale directly in
                      your portfolio. And what can you sell in NFT? Well, pretty
                      much everything! Arts, music, photographs, trademarks,
                      patents... The sky is the limit, and we're here to help.
                    </p>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
              <q-expansion-item
                class="bordas-faq q-pb-md q-pt-md"
                group="somegroup"
                label="O que é a InspireIP Collectibles?"
                caption="What is InspireIP Collectibles?"
                :header-class="
                  mode
                    ? 'text-white text-bold text-h5'
                    : 'cor-letra text-bold text-h6'
                "
              >
                <q-card>
                  <q-card-section class="bg-primary text-white">
                    <p class="q-pa-sm">
                      A InspireIP Collectibles é um mercado para bens digitais,
                      incluindo colecionáveis, itens de jogos, arte digital e
                      outros ativos digitais que são sustentados por uma
                      blockchain, como o Ethereum. No InspireIP, você pode
                      comprar, vender e negociar qualquer um desses itens com
                      qualquer pessoa no mundo.
                    </p>
                    <p class="q-pa-sm">
                      O InspireIP também é um mercado descentralizado. A
                      negociação na InspireIP acontece por meio de um contrato
                      inteligente, o que significa que nenhuma autoridade
                      central jamais detém a custódia de seus itens. Em vez
                      disso, os usuários armazenam itens em sua carteira
                      Metamask.
                    </p>
                    <q-separator dark />
                    <p class="q-pa-sm q-pt-lg">
                      InspireIP is a marketplace for digital goods, including
                      collectibles, gaming items, digital art, and other digital
                      assets that are backed by a blockchain like Ethereum. On
                      InspireIP, you can buy, sell, and trade any of these items
                      with anyone in the world.
                    </p>
                    <p class="q-pa-sm">
                      InspireIP is also a decentralized marketplace. Trading on
                      on InspireIP happens through a smart contract, meaning
                      that no central authority ever holds custody of your
                      items. Instead, users store items in their Metamask
                      wallet.
                    </p>
                  </q-card-section>
                </q-card>
              </q-expansion-item>

              <q-expansion-item
                class="bordas-faq q-pb-md q-pt-md"
                group="somegroup"
                label="O que exatamente são os itens vendidos na InspireIP Collectibles?"
                caption="What exactly are these items I see on InspireIP Collectibles?"
                :header-class="
                  mode
                    ? 'text-white text-bold text-h5'
                    : 'cor-letra text-bold text-h6'
                "
              >
                <q-card>
                  <q-card-section class="bg-primary text-white">
                    <p class="q-pa-sm">
                      Todos os itens que você vê no InspireIP são itens digitais
                      baseados em blockchain. Algumas pessoas gostam de
                      chamá-los de tokens não fungíveis, ou NFTs. O fantástico é
                      que eles podem ser vistos em qualquer lugar, trocados
                      abertamente e verdadeiramente possuídos de uma maneira que
                      nunca foi possível no mundo digital.
                    </p>
                    <q-separator dark />
                    <p class="q-pa-sm q-pt-lg">
                      All of the items you see on InspireIP are blockchain-based
                      digital items. Some people like to call them non-fungible
                      tokens, or NFTs. Excitingly, they can be viewed anywhere,
                      exchanged openly, and truly owned in a way that was never
                      before possible in the digital world.
                    </p>
                  </q-card-section>
                </q-card>
              </q-expansion-item>

              <q-expansion-item
                class="bordas-faq q-pb-md q-pt-md"
                group="somegroup"
                label="Como eu posso criar e anunciar meus próprios NFTs?"
                caption="How can I create and put on sale my own NFTs?"
                :header-class="
                  mode
                    ? 'text-white text-bold text-h5'
                    : 'cor-letra text-bold text-h6'
                "
              >
                <q-card>
                  <q-card-section class="bg-primary text-white">
                    <p class="q-pa-sm">
                      Somente artistas aprovados podem anunciar suas obras na
                      InspireIP. Levamos autoria muito a sério, e queremos
                      garantir que todos os artistas que anunciam em nosso
                      marketlace realmente possuem direitos sobre a obra.
                    </p>
                    <p class="q-pa-sm">
                      Você pode usar
                      <a
                        class="text-blue-4"
                        target="_blank"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSd1qmtpVKGQehRX7xVcrhpUdfaR40ASJd10sRE0YBecExslrQ/viewform"
                        >este formulário</a
                      >
                      para enviar seu perfil de artista. Caso você seja
                      selecionado, entraremos em contato com os próximos passos.
                    </p>
                    <q-separator dark />
                    <p class="q-pa-sm q-pt-lg">
                      Only approved artists can sell their works on InspireIP.
                      We take copyright very seriously, and we want to ensure
                      that the artists who sell on our marketlace actually owns
                      the work.
                    </p>
                    <p class="q-pa-sm">
                      You can use
                      <a
                        class="text-blue-4"
                        target="_blank"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSd1qmtpVKGQehRX7xVcrhpUdfaR40ASJd10sRE0YBecExslrQ/viewform"
                        >this form</a
                      >
                      to submit your artist profile. If you are selected, we
                      will contact you with the next steps.
                    </p>
                  </q-card-section>
                </q-card>
              </q-expansion-item>

              <q-expansion-item
                class="bordas-faq q-pb-md q-pt-md"
                group="somegroup"
                label="Eu também estou adquirindo os direitos autorais junto com o NFT?"
                caption="Am I also acquiring the copyright along with the NFT?"
                :header-class="
                  mode
                    ? 'text-white text-bold text-h5'
                    : 'cor-letra text-bold text-h6'
                "
              >
                <q-card>
                  <q-card-section class="bg-primary text-white">
                    <p class="q-pa-sm">
                      Não. A menos que o criador especifique o contrário, você
                      somente adquire o direito de revender o token ao comprar
                      um NFT. Preste atenção nas licenças que o criador escolheu
                      antes de comprar seu token.
                    </p>
                    <q-separator dark />
                    <p class="q-pa-sm q-pt-lg">
                      No. Unless the creator specifies otherwise, you only
                      acquire the right to resell the token when purchasing an
                      NFT. Pay attention to the licenses the creator has chosen
                      before purchasing your token.
                    </p>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
              <q-expansion-item
                class="bordas-faq q-pb-md q-pt-md"
                group="somegroup"
                label="Eu consigo cancelar uma compra de NFT e receber o reembolso?"
                caption="Can I cancel an NFT purchase and receive a refund?"
                :header-class="
                  mode
                    ? 'text-white text-bold text-h5'
                    : 'cor-letra text-bold text-h6'
                "
              >
                <q-card>
                  <q-card-section class="bg-primary text-white">
                    <p class="q-pa-sm">
                      Não. Todas a compras realizadas são definitivas e não
                      reembolsáveis, uma vez que a venda é registrada em
                      blockchain. No entanto, você pode revender o NFT e receber
                      seu dinheiro de volta.
                    </p>
                    <q-separator dark />
                    <p class="q-pa-sm q-pt-lg">
                      No. All realized purchases are final and non-refundable
                      since the sale is registered in blockchain. However, you
                      can resell the NFT and get your money back.
                    </p>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </q-list>
          </div>
        </div>
      </div>
    </div>
    <rodape />
  </q-page>
</template>

<script>
import Rodape from 'components/Rodape.vue'
import { mapGetters, mapState, mapActions } from 'vuex'

export default {
  name: 'LandingPage',
  data () {
    return {
      listHighlightProfile: []
    }
  },
  components: {
    Rodape
  },

  computed: {
    ...mapGetters('user', ['getUser', 'getListBanners']),
    ...mapState('user', ['user']),
    mode: function () {
      return this.$q.dark.isActive
    }
  },
  methods: {
    ...mapActions('user', ['listBanners'])
  },

  mounted () {
    this.listBanners()
      .then(res => {
        this.loading = false
        this.listHighlightProfile = this.getListBanners.filter(
          item =>
            item.artist_banner_file &&
            item.highlight_profile &&
            item.profile_picture
        )
        this.listHighlightProfile = this.listHighlightProfile.slice(0, 3)
      })
      .catch(error => {
        this.loading = false

        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: error.data.message
        })
      })
  },

  beforeMount () {
    // if (this.user._id) {
    //   this.$router.push({ name: 'navegar' })
    // }
  }
}
</script>

<style scoped>

@media only screen and (max-width: 320px) {
  .margem-topo {
    margin-top: -40px;
  }

  .tamanho-video {
    width: 300px;
    height: 170px;
  }

  .imgPerfil {
    width: 50vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 25vw;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .textTitlee {
    font-size: 20px;
  }

  .textSubtitlee {
    font-size: 12px;
  }

  .titleArtistasMomento {
    font-size: 23px;
  }
}

@media only screen and (max-width: 429px) and (min-width: 321px) {
  .margem-topo {
    margin-top: -40px;
  }

  .tamanho-video {
    width: 350px;
    height: 200px;
  }

  .imgPerfil {
    width: 50vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 25vw;
  }

  .textTitlee {
    font-size: 25px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 430px) {
  .margem-topo {
    margin-top: -90px;
  }

  .tamanho-video {
    width: 720px;
    height: 400px;
  }

  .imgPerfil {
    width: 12vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 8vw;
  }

  .textTitlee {
    font-size: 22px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1401px) {
  .margem-topo {
    margin-top: -100px;
  }

  .tamanho-video {
    width: 927px;
    height: 520px;
  }

  .imgPerfil {
    width: 10vw;
    margin-top: -100px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 5vw;
  }

  .textTitlee {
    font-size: 22px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 35px;
  }
}
</style>
