<template>
  <q-page class="row justify-center">
    <div class="col-12">
      <q-carousel
        v-if="listCarousel.length > 0"
        animated
        v-model="slide"
        arrows
        navigation
        infinite
        style="height: 60vh"
      >
        <q-carousel-slide
          v-for="item in listCarousel"
          :key="item._id"
          :name="item._id"
          :img-src="'https://nftapi.inspireip.io/' + item.artist_banner_file"
        />
      </q-carousel>
      <!-- <q-carousel
        animated
        v-model="slide"
        arrows
        navigation
        infinite
        style="height: 60vh;"
      >
        <q-carousel-slide
          :name="1"
          img-src="~/assets/Banners/banner_anie.png"
        />
        <q-carousel-slide
          :name="2"
          img-src="~/assets/Banners/banner_Bel_Borba.png"
        />
        <q-carousel-slide
          :name="3"
          img-src="~/assets/Banners/banner_Henrique_Toledo.png"
        />
        <q-carousel-slide
          :name="4"
          img-src="~/assets/Banners/banner_Jetlag.png"
        />
        <q-carousel-slide
          :name="5"
          img-src="~/assets/Banners/banner_Sandro.png"
        />
      </q-carousel> -->
    </div>
    <div class="row col-10 q-pt-xl text-center justify-center">
      <q-btn
        class="col-xl-2 col-lg-2 col-md-2 col-sm-10 col-xs-10 q-ma-sm"
        style="background-color: #363636;"
        text-color="white"
        label="Música"
        no-caps
        rounded
      />
      <q-btn
        class="col-xl-2 col-lg-2 col-md-2 col-sm-10 col-xs-10 q-ma-sm"
        style="background-color: #363636;"
        text-color="white"
        label="Desenho"
        no-caps
        rounded
      />
      <q-btn
        class="col-xl-2 col-lg-2 col-md-2 col-sm-10 col-xs-10 q-ma-sm"
        style="background-color: #363636;"
        text-color="white"
        label="Jogos"
        no-caps
        rounded
      />
      <q-btn
        class="col-xl-2 col-lg-2 col-md-2 col-sm-10 col-xs-10 q-ma-sm"
        style="background-color: #363636;"
        text-color="white"
        label="Geek"
        no-caps
        rounded
      />
      <q-btn
        class="col-xl-2 col-lg-2 col-md-2 col-sm-10 col-xs-10 q-ma-sm"
        style="background-color: #363636;"
        text-color="white"
        label="Livros"
        no-caps
        rounded
      />
    </div>
    <div class="row col-12 q-pa-xl justify-center titleArtistasMomento">
      Lances De Última Hora
    </div>
    <div class="row col-12 justify-center">
      <div
        class="row content-center justify-center col-xl-2 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
        style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424"
      >
        <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg" />
        <div class="q-pa-sm">
          <q-img class="imgPerfill" src="../assets/perfil.png" />
        </div>
        <div class="q-pa-sm">
          <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
          <p class="textSubtitlee text-left text-white">5 de 8</p>
        </div>
        <div class="q-pa-md">
          <q-btn class="text-left text-white bg-primary q-px-md">Lance</q-btn>
          <a class="q-pl-xl text-left text-white"
            >1.09 <b class="text-primary">ETH</b> ©</a
          >
        </div>
      </div>
      <div
        class="row content-center justify-center col-xl-2 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
        style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424"
      >
        <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg" />
        <div class="q-pa-sm">
          <q-img class="imgPerfill" src="../assets/perfil.png" />
        </div>
        <div class="q-pa-sm">
          <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
          <p class="textSubtitlee text-left text-white">5 de 8</p>
        </div>
        <div class="q-pa-md">
          <q-btn class="text-left text-white bg-primary q-px-md">Lance</q-btn>
          <a class="q-pl-xl text-left text-white"
            >1.09 <b class="text-primary">ETH</b> ©</a
          >
        </div>
      </div>
      <div
        class="row content-center justify-center col-xl-2 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
        style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424"
      >
        <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg" />
        <div class="q-pa-sm">
          <q-img class="imgPerfill" src="../assets/perfil.png" />
        </div>
        <div class="q-pa-sm">
          <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
          <p class="textSubtitlee text-left text-white">5 de 8</p>
        </div>
        <div class="q-pa-md">
          <q-btn class="text-left text-white bg-primary q-px-md">Lance</q-btn>
          <a class="q-pl-xl text-left text-white"
            >1.09 <b class="text-primary">ETH</b> ©</a
          >
        </div>
      </div>
      <div
        class="row content-center justify-center col-xl-2 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
        style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424"
      >
        <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg" />
        <div class="q-pa-sm">
          <q-img class="imgPerfill" src="../assets/perfil.png" />
        </div>
        <div class="q-pa-sm">
          <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
          <p class="textSubtitlee text-left text-white">5 de 8</p>
        </div>
        <div class="q-pa-md">
          <q-btn class="text-left text-white bg-primary q-px-md">Lance</q-btn>
          <a class="q-pl-xl text-left text-white"
            >1.09 <b class="text-primary">ETH</b> ©</a
          >
        </div>
      </div>
    </div>
    <div class="row col-12 q-pa-xl justify-center titleArtistasMomento">
      Artistas do Momento
    </div>
    <div class="row col-12 justify-center">
      <div class="col-5">
        <q-carousel
          animated
          v-model="slide2"
          infinite
          :autoplay="autoplay"
          arrows
          control-color="primary"
          :style="mode ? 'background-color:#121212' : 'background-color:#fff'"
          transition-prev="slide-right"
          transition-next="slide-left"
          @mouseenter="autoplay = false"
          @mouseleave="autoplay = true"
        >
          <q-carousel-slide :name="item._id"  v-for="item in listCarousel"
                :key="item._id">
            <div class="row q-gutter-x-md q-gutter-y-md q-mb-lg justify-center">
              <q-card

                class="my-card justify-center"
                style="border-radius: 10px; border-style: solid; border-color: #fff2; background-color: #242424"
              >
                <div class="row col-12 justify-center">
                  <q-img
                    style="border-radius: 10px 10px 1px 1px"
                    :src="
                      'https://nftapi.inspireip.io/' + item.artist_banner_file
                    "
                  />
                  <q-avatar size="100px" style="transform: translateY(-50%);">
                    <q-img
                      :src="
                        'https://nftapi.inspireip.io/' + item.profile_picture
                      "
                    />
                  </q-avatar>
                  <q-card-section class="no-padding no-margin col-12">
                    <div
                      style="transform: translateY(-50%);"
                      class="row no-padding no-margin"
                    >
                      <p class="text-h6 text-center text-white col-12">
                        {{ `${item.name} ${item.lastname}` }}
                      </p>
                    </div>
                  </q-card-section>
                  <q-card-section
                    class="q-mt-md q-pb-sm row no-margin no-padding justify-around col-12"
                  >
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <q-img src="~src/assets/anie-dvd.jpg" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <q-img src="~src/assets/anie-dvd.jpg" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <q-img src="~src/assets/anie-dvd.jpg" />
                    </div>
                  </q-card-section>
                </div>
              </q-card>
            </div>
          </q-carousel-slide>
          <!-- DEIXEI DUPLICADO PARA MOSTRAR COMO FICARIA COM MAIS DE UM CAROUSEL !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
          <!-- <q-carousel-slide :name="2">
            <div class="row q-gutter-x-md q-gutter-y-md q-mb-lg justify-center">
              <q-card
                v-for="item in listHighlightProfile"
                :key="item._id"
                class="my-card justify-center"
                style="border-radius: 10px; border-style: solid; border-color: #fff2; background-color: #242424"
              >
                <div class="row col-12 justify-center">
                  <q-img
                    style="border-radius: 10px 10px 1px 1px"
                    :src="
                      'https://nftapi.inspireip.io/' + item.artist_banner_file
                    "
                  />
                  <q-avatar size="100px" style="transform: translateY(-50%);">
                    <q-img
                      :src="
                        'https://nftapi.inspireip.io/' + item.profile_picture
                      "
                    />
                  </q-avatar>
                  <q-card-section class="no-padding no-margin col-12">
                    <div
                      style="transform: translateY(-50%);"
                      class="row no-padding no-margin"
                    >
                      <p class="text-h6 text-center text-white col-12">
                        {{ `${item.name} ${item.lastname}` }}
                      </p>
                    </div>
                  </q-card-section>
                  <q-card-section
                    class="q-mt-md q-pb-sm row no-margin no-padding justify-around col-12"
                  >
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <q-img src="~src/assets/anie-dvd.jpg" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <q-img src="~src/assets/anie-dvd.jpg" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <q-img src="~src/assets/anie-dvd.jpg" />
                    </div>
                  </q-card-section>
                </div>
              </q-card>
            </div>
          </q-carousel-slide> -->
        </q-carousel>
      </div>

      <q-inner-loading :showing="loading">
        <q-circular-progress
          indeterminate
          size="65px"
          :thickness="1"
          color="info"
          track-color="primary"
          class="q-ma-md"
        />
      </q-inner-loading>
    </div>
    <q-dialog v-model="showBannerPreview">
      <banner-preview />
    </q-dialog>
    <q-dialog v-model="showObraPreview">
      <obra-preview :tabIndex="tabIndex" />
    </q-dialog>
    <rodape />
  </q-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import Rodape from 'components/Rodape'

export default {
  data () {
    return {
      showBannerPreview: false,
      loading: false,
      listArtists: [],
      listCarousel: [],
      slide: 1,
      slide2: 1,
      autoplay: true,
      showObraPreview: false,
      perfil: {
        imagem: '../assets/anie-06771-2.jpg',
        nome: 'Anie banda',
        obras: [
          {
            id: 1,
            tempo: '18:08',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 2,
            tempo: '112:08',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 3,
            tempo: '11:08',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 4,
            tempo: '10:11',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          }
        ]
      }
    }
  },
  components: {
    'banner-preview': require('components/PerfilPessoal/Modals/BannerPreview')
      .default,
    'obra-preview': require('components/PerfilPessoal/Modals/Obra').default,
    Rodape
  },
  props: ['showObra', 'tabIndex'],
  mounted () {
    if (this.showObra) {
      this.showObraPreview = this.showObra
    }
    this.loading = true

    this.listBanners()
      .then(res => {
        this.listCarousel = this.getListBanners.filter(
          item =>
            item.artist_banner_file &&
            item.highlight_profile &&
            item.profile_picture
        )

        this.listArtists = this.getListBanners.filter(
          item =>
            item.artist_banner_file &&
            item.profile_picture
        )

        this.slide = this.listCarousel[0]._id
        this.slide2 = this.listCarousel[0]._id
        this.loading = false
      })
      .catch(error => {
        this.loading = false

        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: error.data.message
        })
      })

    // this.listUsers()
    //   .then(res => {
    //     this.listArtists = this.getListArtist.filter(
    //       item =>
    //         item.artist_banner_file &&
    //         item.highlight_profile &&
    //         item.profile_picture
    //     )
    //     this.slide2 = this.listArtists[0]._id
    //     this.loading = false
    //   })
    //   .catch(error => {
    //     this.loading = false

    //     this.$q.notify({
    //       position: 'bottom',
    //       color: 'negative',
    //       textColor: 'white',
    //       icon: 'error',
    //       message: error.data.message
    //     })
    //   })
  },

  methods: {
    ...mapActions('user', ['listBanners', 'listUsers'])
  },

  computed: {
    ...mapGetters('user', ['getListUsers', 'getListBanners', 'getListArtist']),
    mode () {
      return this.$q.dark.isActive
    }
  }
}
</script>
<style>
@media only screen and (max-width: 320px) {
  .imgPerfil {
    width: 50vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 25vw;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .textTitlee {
    font-size: 20px;
  }

  .textSubtitlee {
    font-size: 12px;
  }

  .titleArtistasMomento {
    font-size: 23px;
  }
}

@media only screen and (max-width: 429px) and (min-width: 321px) {
  .imgPerfil {
    width: 50vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 25vw;
  }

  .textTitlee {
    font-size: 25px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 430px) {
  .imgPerfil {
    width: 12vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 8vw;
  }

  .textTitlee {
    font-size: 22px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1400px) {
  .imgPerfil {
    width: 10vw;
    margin-top: -100px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 5vw;
  }

  .textTitlee {
    font-size: 22px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 35px;
  }
}
</style>
