<template>
  <q-page class="row justify-center">
    <div class="col-xl-7 col-lg-8 col-md-8 col-sm-10 col-xs-11">
      <q-card
        style="background-color: #212121"
        class="col-xl-12 col-lg-12 col-md-12 col-sm-11 col-xs-11"
      >
        <div v-if="getPublicArtist.artist_banner_file">
          <q-img
            class="imgFundoPerfil"
            :img-style="{ 'background-position': '50% 10%' }"
            :src="
              'https://nftapi.inspireip.io/' +
                getPublicArtist.artist_banner_file
            "
          />
        </div>
        <div v-else>
          <q-img
            class="imgFundoPerfil"
            :img-style="{ 'background-position': '50% 50%' }"
            src="../assets/banner.png"
          />
        </div>

        <div
          :class="
            $q.screen.gt.xs
              ? 'row col-xl-12 col-lg-12 col-md-12 col-sm-11 col-xs-11 q-mt-md q-mr-md'
              : 'row col-xs-11 justify-center q-mt-md'
          "
        >
          <div
            :class="
              $q.screen.gt.sm
                ? 'row col-xl-7 col-lg-8 col-md-8 col-sm-6 col-xs-6'
                : 'row col-12 q-mx-xs justify-center'
            "
          >
            <div v-if="getPublicArtist.profile_picture">
              <q-img
                class="imgPerfil"
                :src="
                  'https://nftapi.inspireip.io/' +
                    getPublicArtist.profile_picture
                "
              />
            </div>
            <div v-else>
              <q-img
                class="imgPerfil"
                src="../assets/inspireIP_icone_principal.png"
              />
            </div>
            <div
              class="row text-white justify-center col-xl-8 col-lg-8 col-md-8 col-sm-11 col-xs-12"
            >
              <div class="q-ml-md" v-if="!getPublicArtist.artist_name">
                <p class="text-h5 text-bold">{{ getUser.name }}</p>
                <span class="text-white"
                  >Você foi aprovado como artista, acesse o botão "Editar" para
                  inserir seus dados pessoais</span
                >
              </div>
              <div
                :class="
                  $q.screen.gt.sm
                    ? 'col-xl-12 col-lg-12 col-md-12 q-ml-md'
                    : 'row col-sm-12 col-xs-12 q-ml-md'
                "
                v-else
              >
                <p class="text-h5 text-bold text-white">
                  {{ getPublicArtist.artist_name }}
                </p>
                <div class="col-12" v-if="getPublicArtist.artist_type">
                  <p class="text-h6 text-white">
                    {{ getPublicArtist.artist_type }}
                  </p>
                </div>

                <div
                  class="row col-12"
                  v-if="
                    getPublicArtist.artist_type &&
                      getPublicArtist.ethereum_wallet
                  "
                >
                  <span style="color: #b5b5b5;" class="paye-coffee"
                    >Me pague um café:
                  </span>
                </div>

                <div
                  class="row col-12"
                  v-if="
                    getUser._id === getPublicArtist._id &&
                      !getUser.ethereum_wallet
                  "
                >
                  <q-btn
                    outline
                    style="z-index: 100"
                    class="text-white text-bold q-mb-lg"
                    no-caps
                    no-wrap
                    @click="handleWallet"
                    >Conectar &nbsp;<a class="text-orange">MetaMask</a></q-btn
                  >
                </div>

                <div class="row col-12" v-if="getUser.ethereum_wallet">
                  <span
                    class="text-bold gt-xs"
                    :style="
                      $q.screen.gt.xs
                        ? 'color: #412F1A'
                        : 'color: #412F1A;font-size:13px'
                    "
                  >
                    {{ getUser.ethereum_wallet }}
                  </span>

                  <span
                    class="text-bold lt-sm"
                    :style="
                      $q.screen.gt.sm
                        ? 'color: #412F1A'
                        : 'color: #412F1A;font-size:13px'
                    "
                  >
                    {{ getUser.ethereum_wallet.substr(1, 30) + "..." }}
                  </span>
                  <q-btn
                    style="z-index: 100"
                    flat
                    dense
                    @click="copiarTexto(getUser.ethereum_wallet)"
                  >
                    <q-icon
                      style="color: #C07C2F"
                      name="far fa-copy"
                      size="1.5em"
                    />
                  </q-btn>
                </div>
              </div>
            </div>
          </div>

          <!--  -->
          <div
            :class="
              $q.screen.gt.sm
                ? 'col-xl-5 col-md-4 col-lg-4 col-sm-11 col-xs-11'
                : 'row justify-center col-sm-12 col-xs-12'
            "
          >
            <div
              :class="
                $q.screen.gt.sm
                  ? 'row justify-end col-lg-5 col-md-5 col-sm-11 col-xs-12'
                  : 'row q-gutter-x-sm justify-between col-sm-12 col-xs-12'
              "
            >
              <q-btn
                v-if="getUser._id === getPublicArtist._id"
                class="row col-xl-4 col-lg-4 col-md-5 col-sm-5 col-xs-5"
                :class="$q.screen.gt.sm ? 'q-mr-sm' : ''"
                style="background-color: #0044bc; border-radius: 5px; z-index: 12"
                text-color="white"
                label="Banner"
                @click="$refs.BannerPerfilPessoal.open()"
                no-caps
              />
              <q-btn
                v-if="getUser._id === getPublicArtist._id"
                class="row col-lg-4 col-md-5 col-sm-5 col-xs-5"
                style="background-color: #0044bc; border-radius: 5px; z-index: 12"
                text-color="white"
                label="Editar"
                @click="$refs.EditarPerfilPessoal.open()"
                no-caps
              />
            </div>
            <div
              :class="
                $q.screen.gt.sm
                  ? 'row col-lg-5 col-md-6 col-sm-12 col-xs-12 justify-end'
                  : 'row col-xs-12 justify-end q-px-xs'
              "
            >
              <q-btn
                v-if="getUser._id === getPublicArtist._id"
                label="Criar"
                class="row q-mt-sm offset-lg-4 offset-md-4 col-lg-6 col-md-7 col-sm-12 col-xs-12"
                style="background-color: white; border-radius: 5px; z-index: 12;"
                no-caps
                @click="$router.push({ name: 'primeirosdetalhes' })"
                text-color="black"
              />
            </div>
          </div>
        </div>

        <q-card-section
          class="row col-12"
          :style="$q.screen.gt.sm ? 'margin-top: -40px' : ''"
        >
          <div class="row col-12 q-mt-lg justify-between">
            <div
              class="row col-xl-6 col-lg-8 col-md-6 col-sm-12 col-xs-12 q-mt-md q-pl-xl"
            >
              <p
                v-if="getPublicArtist.artist_description"
                style="color: #b5b5b5;"
              >
                {{ getPublicArtist.artist_description }}
              </p>
            </div>
            <div
              class="row offset-lg-1 offset-md-2 col-lg-3 col-md-4 col-xs-12 justify-end q-mt-md"
            >
              <div class="row col-12 justify-end">
                <q-btn
                  v-if="getPublicArtist.artist_twitter"
                  flat
                  dense
                  @click="openLink(getPublicArtist.artist_twitter)"
                >
                  <q-icon
                    name="fab fa-twitter-square"
                    size="40px"
                    style="color: #0D4AB5"
                  />
                </q-btn>
                <q-btn
                  v-if="getPublicArtist.artist_facebook"
                  flat
                  dense
                  @click="openLink(getPublicArtist.artist_facebook)"
                >
                  <q-icon
                    name="fab fa-facebook-square"
                    size="40px"
                    style="color: #0D4AB5"
                  />
                </q-btn>
                <q-btn
                  v-if="getPublicArtist.artist_instagram"
                  flat
                  dense
                  @click="openLink(getPublicArtist.artist_instagram)"
                >
                  <q-icon
                    name="fab fa-instagram"
                    size="40px"
                    style="color: #0D4AB5"
                  />
                </q-btn>
                <q-btn
                  v-if="getPublicArtist.artist_youtube"
                  flat
                  dense
                  @click="openLink(getPublicArtist.artist_youtube)"
                >
                  <q-icon
                    name="fab fa-youtube"
                    size="43px"
                    style="color: #0D4AB5"
                  />
                </q-btn>
                <q-btn
                  v-if="getPublicArtist.artist_twitch"
                  flat
                  dense
                  @click="openLink(getPublicArtist.artist_twitch)"
                >
                  <q-icon
                    name="fab fa-twitch"
                    size="40px"
                    style="color: #0D4AB5"
                  />
                </q-btn>
              </div>
              <div class="row col-12 justify-end">
                <span style="color: #b5b5b5;"
                  >Desde:
                  {{
                    new Date(getUser.account_creation_date).toLocaleDateString(
                      "pt-BR"
                    )
                  }}</span
                >
              </div>
            </div>
          </div>
        </q-card-section>
      </q-card>

      <div
        class="row col-lg-8 col-md-8 col-sm-12 col-xs-12 justify-start q-mt-lg"
      >
        <div class="row col-lg-2 col-md-2 col-sm-12 col-xs-4 justify-start">
          <span :style="mode ? 'color: #B5B5B5' : 'color: #000'"
            >Criação: 4 itens
          </span>
        </div>
        <div class="row col-lg-2 col-md-2 col-sm-12 col-xs-4  justify-start">
          <span :style="mode ? 'color: #B5B5B5' : 'color: #000'"
            >Coleção: 24 itens
          </span>
        </div>
      </div>

      <div class="row col-8 justify-center q-mt-lg">
        <q-btn
          class="row col-lg-2 col-md-2 col-sm-5 col-xs-5 q-m-sm"
          style="background-color: #0044bc; border-radius: 20px"
          text-color="white"
          label="Coleção"
          no-caps
        />
        <q-btn
          class="row offset-lg-1 offset-md-1 col-lg-2 col-md-2 col-sm-5 col-xs-5 q-ml-sm"
          style="background-color: #0044bc; border-radius: 20px"
          text-color="white"
          label="Criação"
          no-caps
        />
      </div>

      <div class="row col-8 justify-between q-mt-lg">
        <q-btn
          class="row col-lg-2 col-md-2 col-sm-4 col-xs-4"
          style="background-color: #363636; border-radius: 20px; margin: 5px"
          text-color="white"
          label="Música"
          no-caps
        />

        <q-btn
          class="row col-lg-2 col-md-2 col-sm-4 col-xs-4"
          style="background-color: #363636; border-radius: 20px; margin: 5px"
          text-color="white"
          label="Desenho"
          no-caps
        />
        <q-btn
          class="row col-lg-2 col-md-2 col-sm-4 col-xs-4"
          style="background-color: #363636; border-radius: 20px; margin: 5px"
          text-color="white"
          label="Jogos"
          no-caps
        />
        <q-btn
          class="row col-lg-2 col-md-2 col-sm-4 col-xs-4"
          style="background-color: #363636; border-radius: 20px; margin: 5px"
          text-color="white"
          label="Geek"
          no-caps
        />
        <q-btn
          class="row col-lg-2 col-md-2 col-sm-4 col-xs-4"
          style="background-color: #363636; border-radius: 20px; margin: 5px"
          text-color="white"
          label="Livros"
          no-caps
        />
      </div>

      <div class="row col-12 q-gutter-m justify-center q-mt-lg">
        <div
          class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-pa-sm card-container"
          v-for="obra in perfil.obras"
          :key="obra.id"
        >
          <div
            class="my-card row justify-center col-xl-2 col-lg-3 col-md-3 col-sm-11 col-xs-11 text-center"
            style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #121212"
          >
            <span style="color: #e8e8e8; font-size: 2em">
              {{ obra.tempo }}
            </span>
            <q-img class="q-ma-sm img-card" :src="obra.imagem" />
            <div class="row col-12 q-pa-sm">
              <q-btn
                class="col-6 text-white bg-primary"
                text-color="white"
                label="Lance"
                @click="
                  $router.push({ name: 'navegar', params: { showObra: true } })
                "
                no-caps
              />
              <div class="row col-6 items-end justify-end">
                <div class="row col-12 items-center justify-end">
                  <span class="text-left text-white items-center">{{
                    obra.valor
                  }}</span>
                  <span class="text-primary"
                    ><b class="text-primary">ETH</b></span
                  >

                  <q-icon
                    class="q-ml-sm"
                    name="far fa-copyright"
                    style="color: #787878"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <editar-perfil-pessoal ref="EditarPerfilPessoal" />
      <banner-perfil-pessoal ref="BannerPerfilPessoal" />
      <rodape />
    </div>

    <q-inner-loading :showing="loading" aria-orientation="top">
      <q-circular-progress
        indeterminate
        size="65px"
        :thickness="1"
        color="info"
        track-color="primary"
        class="q-ma-md"
      />
    </q-inner-loading>
  </q-page>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'
import { copyToClipboard } from 'quasar'
import EditarPerfilPessoal from 'src/components/PerfilPessoal/Modals/Editar'
import BannerPerfilPessoal from 'src/components/PerfilPessoal/Modals/BannerPreview'
import Rodape from 'src/components/Rodape.vue'

export default {
  data () {
    return {
      dados: {
        ethereum_wallet: ''
      },
      showObraPreview: false,
      loading: false,
      perfil: {
        imagem: '../assets/anie-06771-2.jpg',
        nome: 'Anie banda',
        obras: [
          {
            id: 1,
            tempo: '18:08',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 2,
            tempo: '112:08',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 3,
            tempo: '11:08',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 4,
            tempo: '10:11',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 5,
            tempo: '12:08',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 6,
            tempo: '12:08',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          }
        ]
      }
    }
  },
  components: {
    EditarPerfilPessoal,
    BannerPerfilPessoal,
    Rodape
  },

  computed: {
    ...mapState('user', ['user']),
    ...mapGetters('user', ['getUser', 'getPublicArtist']),
    mode: function () {
      return this.$q.dark.isActive
    }
  },
  mounted () {
    this.loading = true
    this.clearPublicArtist()

    this.getPublicArtistById({
      userId: this.$router.currentRoute.params.slug
    })
      .then(res => {
        this.loading = false
      })
      .catch(error => {
        this.loading = true
        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: error.data.message
        })
      })
  },

  methods: {
    ...mapActions('user', [
      'loginUser',
      'updateWallet',
      'getPublicArtistById',
      'clearPublicArtist'
    ]),
    openLink (link) {
      const win = window.open(
        link.startsWith('http') ? link : 'https://' + link,
        '_blank'
      )
      win.focus()
    },

    copiarTexto (texto) {
      copyToClipboard(texto)
        .then(() => {
          this.$q.notify({
            position: 'bottom',
            color: 'positive',
            textColor: 'white',
            icon: 'check',
            message: 'Código copiado com sucesso!'
          })
        })
        .catch(() => {
          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'close',
            message: 'Não foi possível copiar o código!'
          })
        })
    },
    onSubmit () {
      this.salvandoDados = true
      this.metaMaskAccounts = false
      this.metaMaskError = false
      this.updateWallet({
        dados: {
          carteira_artista: this.dados.ethereum_wallet
        }
      })
        .then(res => {
          this.$q.notify({
            position: 'bottom',
            color: 'positive',
            textColor: 'white',
            icon: 'check',
            message: 'Conectado com sucesso'
          })

          this.salvandoDados = false
        })
        .catch(error => {
          this.salvandoDados = false

          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: error.data.message
          })
        })
    },
    handleWallet () {
      window.ethereum
        .request({ method: 'eth_requestAccounts' })
        .then(x => {
          window.ethereum.request({ method: 'eth_accounts' }).then(x => {
            this.metaMaskAccounts = true
            this.dados.ethereum_wallet = x[0]
            this.onSubmit()
          })
        })
        .catch(error => {
          this.metaMaskError = true
          if (error.code === -32002) {
            this.$q.notify({
              position: 'bottom',
              color: 'negative',
              textColor: 'white',
              icon: 'close',
              message:
                'Já existe uma conexão em andamento, verifique sua carteira.'
            })
          } else {
            this.$q.notify({
              position: 'bottom',
              color: 'negative',
              textColor: 'white',
              icon: 'close',
              message: 'Erro ao conectar carteira.'
            })
          }
        })
    },
    hasMetaMask () {
      const { ethereum } = window
      return Boolean(ethereum && ethereum.isMetaMask)
    }
  }
}
</script>

<style scoped>
.teste {
  background-color: red;
}

@media only screen and (max-width: 320px) {
  .imgPerfil {
    width: 10vw;
    margin-top: -100px;
    height: 120px;
    width: 120px;
    border-radius: 100px !important;
  }

  .imgFundoPerfil {
    width: 100%;
    height: 150px;
  }

  .img-card {
    height: 180px;
  }
}

@media only screen and (max-width: 429px) and (min-width: 321px) {
  .imgPerfil {
    width: 10vw;
    margin-top: -100px;
    height: 120px;
    width: 120px;
    border-radius: 100px !important;
  }

  .imgFundoPerfil {
    width: 100%;
    height: 150px;
  }

  .img-card {
    height: 180px;
    width: 265px !important;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 430px) {
  .imgPerfil {
    width: 10vw;
    margin-top: -100px;
    height: 120px;
    width: 120px;
    border-radius: 100px !important;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 1024px) {
  .imgPerfil {
    width: 10vw;
    margin-top: -70px;
    margin-left: 60px;
    height: 120px;
    width: 120px;
    border-radius: 100px !important;
  }

  .imgFundoPerfil {
    width: 100%;
    height: 300px;
  }

  .img-card {
    height: 150px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 2000px) {
  .imgPerfil {
    width: 10vw;
    margin-top: -70px;
    margin-left: 60px;
    height: 120px;
    width: 120px;
    border-radius: 100px !important;
  }

  .imgFundoPerfil {
    width: 100%;
    height: 350px;
  }

  .img-card {
    height: 200px;
    width: 280px;
  }
}

@media screen and (min-width: 2000px) {
  .imgPerfil {
    width: 10vw;
    margin-top: -70px;
    margin-left: 60px;
    height: 120px;
    width: 120px;
    border-radius: 100px !important;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
    height: 400px;
  }

  .card-container {
    display: flex;
    justify-content: center;
  }

  .perfil-category {
    color: white;
    font-size: 1rem;
    height: 120px;
    width: 120px;
  }

  .img-card {
    height: 220px;
    width: 270px;
  }

  .my-card {
    width: 300px;
  }
}
</style>
