<template>
  <q-page class="row justify-center">
    <div class="col-xl-7 col-lg-8 col-md-8 col-sm-10 col-xs-11 q-mt-xl">
      <div>
        <q-btn class="imgPerfil" flat round @click="selecionarImagem()">
          <q-avatar
            :style="
              $q.screen.gt.xs
                ? 'width: 120px; height: 120px; max-width: 120px; max-height: 120px'
                : 'width: 90px; height: 90px; max-width: 90px; max-height: 90px'
            "
          >
            <input
              v-show="false"
              @input="salvarImagemSelecionada"
              name="file"
              ref="file"
              type="file"
              accept="image/png, image/jpeg, image/jpg"
            />
            <template v-if="getUser.profile_picture">
              <q-img
                :style="
                  $q.screen.gt.xs
                    ? 'width: 120px; height: 120px; max-width: 120px; max-height: 120px'
                    : 'width: 90px; height: 90px; max-width: 90px; max-height: 90px'
                "
                :src="'https://nftapi.inspireip.io/' + getUser.profile_picture"
                :loading="true"
              />
            </template>
            <template v-else>
              <q-img
                :style="
                  $q.screen.gt.xs
                    ? 'width: 120px; height: 120px; max-width: 120px; max-height: 120px'
                    : 'width: 90px; height: 90px; max-width: 90px; max-height: 90px'
                "
                src="../assets/inspireIP_hor_mono.png"
              />
            </template>
          </q-avatar>
        </q-btn>
      </div>

      <div class="row justify-center">
        <q-card
          style="background-color: #212121"
          class="col-xl-12 col-lg-12 col-md-12 col-sm-11 col-xs-11 q-mt-lg"
        >
          <q-card-section
            class="row"
            :style="$q.screen.gt.sm ? 'margin-top: -30px' : ''"
          >
            <div class="row col-12 justify-between text-white q-mt-lg">
              <div
                :class="
                  $q.screen.gt.xs
                    ? 'offset-xl-2 offset-lg-2 offset-md-2 offset-sm-2 offset-xs-1 col-xl-6 col-lg-6 col-md-6 col-sm-11 col-xs-11 q-pl-lg'
                    : 'justify-center'
                "
              >
                <p
                  class="q-mt-md text-h5 text-bold q-mb-lg"
                  :class="$q.screen.gt.sm ? '' : 'q-mt-lg'"
                >
                  {{ getUser.name }}
                </p>
                <p
                  style="margin-top: -20px; font-size: 17px"
                  :class="$q.screen.gt.sm ? 'text-subtitle2' : ''"
                >
                  Colecionador
                </p>
                <div class="row col-12" v-if="getUser.ethereum_wallet">
                  <span style="color: #b5b5b5;" class="paye-coffee"
                    >Me pague um café:
                  </span>
                </div>

                <div class="row col-12 q-ml-lg" v-else>
                  <q-btn
                    outline
                    style="z-index: 100"
                    class="text-white text-bold q-mb-lg"
                    no-caps
                    no-wrap
                    @click="handleWallet"
                    >Conectar &nbsp;<a class="text-orange">MetaMask</a></q-btn
                  >
                </div>
                <div class="row">
                  <div class="col-12">
                    <div v-if="getUser.ethereum_wallet">
                      <span
                        class="text-bold gt-xs"
                        :style="
                          $q.screen.gt.xs
                            ? 'color: #412F1A'
                            : 'color: #412F1A;font-size:13px'
                        "
                      >
                        {{ getUser.ethereum_wallet }}
                      </span>

                      <span
                        class="text-bold lt-sm q-ml-sm"
                        :style="
                          $q.screen.gt.sm
                            ? 'color: #412F1A;'
                            : 'color: #412F1A;font-size:13px'
                        "
                      >
                        {{ getUser.ethereum_wallet.substr(1, 30) + "..." }}
                      </span>
                      <q-btn
                        style="z-index: 100"
                        flat
                        dense
                        @click="copiarTexto(getUser.ethereum_wallet)"
                      >
                        <q-icon
                        class="q-pl-md"
                          style="color: #C07C2F"
                          name="far fa-copy"
                          size="1.5em"
                        />
                      </q-btn>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="row col-12">
                  <q-btn
                    class="row col-12 q-mt-md"
                    style="background-color: #0044bc; border-radius: 5px; z-index: 12"
                    text-color="white"
                    label="Deseja se tornar um criador?"
                    no-caps
                    target="_blank"
                    type="a"
                    href="https://docs.google.com/forms/d/e/1FAIpQLSd1qmtpVKGQehRX7xVcrhpUdfaR40ASJd10sRE0YBecExslrQ/viewform"
                  />
                </div>
              </div>
            </div>

            <div class="row q-mt-lg col-12 justify-end">
              <div class="row col-12 justify-end">
                <span style="color: #b5b5b5;"
                  >Desde:
                  {{
                    new Date(getUser.account_creation_date).toLocaleDateString(
                      "pt-BR"
                    )
                  }}</span
                >
              </div>
            </div>
          </q-card-section>
        </q-card>
      </div>

      <div
        class="row col-lg-8 col-md-8 col-sm-12 col-xs-12 justify-start q-mt-lg"
      >
        <div class="row col-lg-2 col-md-2 col-sm-12 col-xs-4 justify-start">
          <span :style="mode ? 'color: #B5B5B5' : 'color: #000'"
            >Coleção: 4 itens
          </span>
        </div>
      </div>

      <div class="row col-8 justify-between q-mt-lg">
        <q-btn
          class="row col-lg-2 col-md-2 col-sm-4 col-xs-4"
          style="background-color: #363636; border-radius: 20px; margin: 5px"
          text-color="white"
          label="Música"
          no-caps
        />

        <q-btn
          class="row col-lg-2 col-md-2 col-sm-4 col-xs-4"
          style="background-color: #363636; border-radius: 20px; margin: 5px"
          text-color="white"
          label="Desenho"
          no-caps
        />
        <q-btn
          class="row col-lg-2 col-md-2 col-sm-4 col-xs-4"
          style="background-color: #363636; border-radius: 20px; margin: 5px"
          text-color="white"
          label="Jogos"
          no-caps
        />
        <q-btn
          class="row col-lg-2 col-md-2 col-sm-4 col-xs-4"
          style="background-color: #363636; border-radius: 20px; margin: 5px"
          text-color="white"
          label="Geek"
          no-caps
        />
        <q-btn
          class="row col-lg-2 col-md-2 col-sm-4 col-xs-4"
          style="background-color: #363636; border-radius: 20px; margin: 5px"
          text-color="white"
          label="Livros"
          no-caps
        />
      </div>

      <div class="row col-12 q-gutter-m justify-center q-mt-lg q-mb-xl tete">
        <div
          class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-pa-sm card-container"
          v-for="obra in perfil.obras"
          :key="obra.id"
        >
          <div
            class="my-card row justify-center col-xl-2 col-lg-3 col-md-3 col-sm-11 col-xs-11 text-center"
            style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #121212"
          >
            <span style="color: #e8e8e8; font-size: 2em">
              {{ obra.tempo }}
            </span>
            <!-- style="height: 150px" -->
            <!-- :style="$q.screen.gt.sm ? 'height: 180px' : 'height: 200px'" -->
            <q-img class="q-ma-sm img-card" :src="obra.imagem" />
            <div class="row col-12 q-pa-sm">
              <q-btn
                class="col-6 text-white bg-primary"
                text-color="white"
                label="Lance"
                @click="showObraPreview = true"
                no-caps
              />
              <div class="row col-6 items-end justify-end">
                <div class="row col-12 items-center justify-end">
                  <span class="text-left text-white items-center">{{
                    obra.valor
                  }}</span>
                  <span class="text-primary"
                    ><b class="text-primary">ETH</b></span
                  >

                  <q-icon
                    class="q-ml-sm"
                    name="far fa-copyright"
                    style="color: #787878"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <rodape />

      <q-dialog v-model="showObraPreview">
        <obra-preview />
      </q-dialog>

      <q-inner-loading :showing="salvandoDados">
        <q-circular-progress
          indeterminate
          size="65px"
          :thickness="1"
          color="info"
          track-color="primary"
          class="q-ma-md"
        />
      </q-inner-loading>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import { copyToClipboard } from 'quasar'
import Rodape from 'src/components/Rodape.vue'

export default {
  data () {
    return {
      showObraPreview: false,
      salvandoDados: false,
      dados: {
        ethereum_wallet: ''
      },
      perfil: {
        imagem: '../assets/anie-06771-2.jpg',
        nome: 'Anie banda',

        obras: [
          {
            id: 1,
            tempo: '18:08',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 2,
            tempo: '112:08',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 3,
            tempo: '11:08',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 4,
            tempo: '10:11',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 5,
            tempo: '12:08',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 6,
            tempo: '12:08',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          }
        ]
      },
      imagemSelecionada: ''
    }
  },
  components: {
    'obra-preview': require('components/PerfilPessoal/Modals/Obra').default,
    Rodape
  },
  mounted () {},
  computed: {
    ...mapState('user', ['user']),
    ...mapGetters('user', ['getUser']),
    mode: function () {
      return this.$q.dark.isActive
    }
  },
  methods: {
    ...mapActions('user', ['updateUserProfilePicture', 'updateWallet']),
    selecionarImagem () {
      this.$refs.file.click()
    },
    salvarImagemSelecionada (img) {
      if (img.target.files) {
        this.updateUserProfilePicture({
          dadosImg: {
            imagem: img.target.files[0]
          }
        })
          .then(res => {
            this.$q.notify({
              position: 'bottom',
              color: 'positive',
              textColor: 'white',
              icon: 'check',
              message: res.data.message
            })
          })
          .catch(error => {
            this.$q.notify({
              position: 'bottom',
              color: 'negative',
              textColor: 'white',
              icon: 'error',
              message: error.data.message
            })
          })
      }
    },
    onSubmit () {
      this.salvandoDados = true
      this.metaMaskAccounts = false
      this.metaMaskError = false
      this.updateWallet({
        dados: {
          carteira_artista: this.dados.ethereum_wallet
        }
      })
        .then(res => {
          this.$q.notify({
            position: 'bottom',
            color: 'positive',
            textColor: 'white',
            icon: 'check',
            message: 'Conectado com sucesso'
          })

          this.salvandoDados = false
        })
        .catch(error => {
          this.salvandoDados = false

          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: error.data.message
          })
        })
    },
    handleWallet () {
      window.ethereum
        .request({ method: 'eth_requestAccounts' })
        .then(x => {
          window.ethereum.request({ method: 'eth_accounts' }).then(x => {
            this.metaMaskAccounts = true
            this.dados.ethereum_wallet = x[0]
            this.onSubmit()
          })
        })
        .catch(error => {
          this.metaMaskError = true
          if (error.code === -32002) {
            this.$q.notify({
              position: 'bottom',
              color: 'negative',
              textColor: 'white',
              icon: 'close',
              message:
                'Já existe uma conexão em andamento, verifique sua carteira.'
            })
          } else {
            this.$q.notify({
              position: 'bottom',
              color: 'negative',
              textColor: 'white',
              icon: 'close',
              message: 'Erro ao conectar carteira.'
            })
          }
        })
    },
    hasMetaMask () {
      const { ethereum } = window
      return Boolean(ethereum && ethereum.isMetaMask)
    },
    copiarTexto (texto) {
      copyToClipboard(texto)
        .then(() => {
          this.$q.notify({
            position: 'bottom',
            color: 'positive',
            textColor: 'white',
            icon: 'check',
            message: 'Código copiado com sucesso!'
          })
        })
        .catch(() => {
          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'close',
            message: 'Não foi possível copiar o código!'
          })
        })
    }
  }
}
</script>

<style scoped>
@media only screen and (max-width: 320px) {
  .imgPerfil {
    width: 5vw;
    margin-top: -50px;
    margin-bottom: -120px;
    margin-left: 40px;
    height: 90px;
    width: 90px;
    z-index: 10;
    border-radius: 50px !important;
  }

  .perfil-name {
    color: white;
    font-size: 2rem;
    height: 120px;
    width: 120px;
  }

  .perfil-category {
    color: white;
    height: 120px;
    width: 120px;
    font-size: 0.8rem !important;
  }

  .img-card {
    height: 180px;
  }
}

@media only screen and (max-width: 429px) and (min-width: 321px) {
  .imgPerfil {
    width: 10vw;
    margin-top: -50px;
    margin-bottom: -120px;
    margin-left: 60px;
    height: 120px;
    width: 120px;
    z-index: 10;
    border-radius: 100px !important;
  }

  .perfil-name {
    color: white;
    font-size: 2rem;
    height: 120px;
    width: 120px;
  }

  .perfil-category {
    color: white;
    height: 120px;
    width: 120px;
    font-size: 0.8rem !important;
  }

  .img-card {
    height: 180px;
    width: 265px !important;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 430px) {
  .imgPerfil {
    width: 10vw;
    margin-top: -50px;
    margin-bottom: -120px;
    margin-left: 60px;
    height: 120px;
    width: 120px;
    z-index: 10;
    border-radius: 100px !important;
  }

  .perfil-name {
    color: white;
    font-size: 2rem;
    height: 120px;
    width: 120px;
  }

  .perfil-category {
    color: white;
    font-size: 1rem;
    height: 120px;
    width: 120px;
  }

  .img-card {
    height: 150px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 2000px) {
  .imgPerfil {
    width: 10vw;
    margin-top: -70px;
    margin-bottom: -150px;
    margin-left: 80px;
    height: 120px;
    width: 120px;
    border-radius: 100px !important;
    z-index: 10;
  }

  .perfil-name {
    color: black;
    font-size: 2rem;
    height: 120px;
    width: 120px;
  }

  .perfil-category {
    color: white;
    font-size: 1rem;
    height: 120px;
    width: 120px;
  }

  .img-card {
    height: 200px;
    width: 280px;
  }
}

@media screen and (min-width: 2000px) {
  .card-container {
    display: flex;
    justify-content: center;
  }

  .imgPerfil {
    width: 15vw;
    margin-top: -70px;
    margin-bottom: -150px;
    margin-left: 80px;
    height: 250px;
    width: 250px;
    border-radius: 100px !important;
    z-index: 10;
  }

  .perfil-name {
    color: black;
    font-size: 2rem;
    height: 120px;
    width: 120px;
  }

  .perfil-category {
    color: white;
    font-size: 1rem;
    height: 120px;
    width: 120px;
  }

  .img-card {
    height: 220px;
    width: 270px;
  }

  .my-card {
    width: 300px;
  }
}
</style>
