<template>
  <q-page class="row justify-center">
    <div
      class="col-12"
    >
      <q-carousel
        animated
        v-model="slide"
        arrows
        navigation
        infinite
        style="height: 60vh; background-position: top;"
      >
        <q-carousel-slide :name="1" img-src="../assets/anie-06771-2.jpg"/>
        <q-carousel-slide :name="2" img-src="https://cdn.quasar.dev/img/parallax1.jpg"/>
        <q-carousel-slide :name="3" img-src="https://cdn.quasar.dev/img/parallax2.jpg"/>
        <q-carousel-slide :name="4" img-src="https://cdn.quasar.dev/img/quasar.jpg"/>
      </q-carousel>
    </div>
    <div class="row col-10 q-pt-xl text-center justify-center">
      <q-btn
        class="col-xl-2 col-lg-2 col-md-2 col-sm-10 col-xs-10 q-ma-sm"
        style="background-color: #363636;"
        text-color="white"
        label="Música"
        no-caps
        rounded
        @click="musica = true, desenho = false, jogos = false, geek = false, livros = false"
      />
      <q-btn
        class="col-xl-2 col-lg-2 col-md-2 col-sm-10 col-xs-10 q-ma-sm"
        style="background-color: #363636;"
        text-color="white"
        label="Desenho"
        no-caps
        rounded
        @click="musica = false, desenho = true, jogos = false, geek = false, livros = false"
      />
      <q-btn
        class="col-xl-2 col-lg-2 col-md-2 col-sm-10 col-xs-10 q-ma-sm"
        style="background-color: #363636;"
        text-color="white"
        label="Jogos"
        no-caps
        rounded
        @click="musica = false, desenho = false, jogos = true, geek = false, livros = false"
      />
      <q-btn
        class="col-xl-2 col-lg-2 col-md-2 col-sm-10 col-xs-10 q-ma-sm"
        style="background-color: #363636;"
        text-color="white"
        label="Geek"
        no-caps
        rounded
        @click="musica = false, desenho = false, jogos = false, geek = true, livros = false"
      />
      <q-btn
        class="col-xl-2 col-lg-2 col-md-2 col-sm-10 col-xs-10 q-ma-sm"
        style="background-color: #363636;"
        text-color="white"
        label="Livros"
        no-caps
        rounded
        @click="musica = false, desenho = false, jogos = false, geek = false, livros = true"
      />
    </div>
    <div v-if="musica == true" class="row col-12 q-pa-xl justify-center titleArtistasMomento">Tag: Músicas
    </div>
    <div v-if="desenho == true" class="row col-12 q-pa-xl justify-center titleArtistasMomento text-white">Tag: Desenho
    </div>
    <div v-if="jogos == true" class="row col-12 q-pa-xl justify-center titleArtistasMomento text-white">Tag: Jogos</div>
    <div v-if="geek == true" class="row col-12 q-pa-xl justify-center titleArtistasMomento text-white">Tag: Geek</div>
    <div v-if="livros == true" class="row col-12 q-pa-xl justify-center titleArtistasMomento text-white">Tag: Livros
    </div>

    <div class="row col-12 justify-center">
      <div class="row content-center justify-center col-xl-2 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
           style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424">
        <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg"/>
        <div class="q-pa-sm">
          <q-img class="imgPerfill" src="../assets/perfil.png"/>
        </div>
        <div class="q-pa-sm">
          <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
          <p class="textSubtitlee text-left text-white">5 de 8</p>
        </div>
        <div class="q-pa-md">
          <q-btn class="text-left text-white bg-primary q-px-md">Lance</q-btn>
          <a class="q-pl-xl text-left text-white">1.09 <b class="text-primary">ETH</b> ©</a>
        </div>
      </div>
      <div class="row content-center justify-center col-xl-2 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
           style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424">
        <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg"/>
        <div class="q-pa-sm">
          <q-img class="imgPerfill" src="../assets/perfil.png"/>
        </div>
        <div class="q-pa-sm">
          <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
          <p class="textSubtitlee text-left text-white">5 de 8</p>
        </div>
        <div class="q-pa-md">
          <q-btn class="text-left text-white bg-primary q-px-md">Lance</q-btn>
          <a class="q-pl-xl text-left text-white">1.09 <b class="text-primary">ETH</b> ©</a>
        </div>
      </div>
      <div class="row content-center justify-center col-xl-2 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
           style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424">
        <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg"/>
        <div class="q-pa-sm">
          <q-img class="imgPerfill" src="../assets/perfil.png"/>
        </div>
        <div class="q-pa-sm">
          <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
          <p class="textSubtitlee text-left text-white">5 de 8</p>
        </div>
        <div class="q-pa-md">
          <q-btn class="text-left text-white bg-primary q-px-md">Lance</q-btn>
          <a class="q-pl-xl text-left text-white">1.09 <b class="text-primary">ETH</b> ©</a>
        </div>
      </div>
      <div class="row content-center justify-center col-xl-2 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
           style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424">
        <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg"/>
        <div class="q-pa-sm">
          <q-img class="imgPerfill" src="../assets/perfil.png"/>
        </div>
        <div class="q-pa-sm">
          <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
          <p class="textSubtitlee text-left text-white">5 de 8</p>
        </div>
        <div class="q-pa-md">
          <q-btn class="text-left text-white bg-primary q-px-md">Lance</q-btn>
          <a class="q-pl-xl text-left text-white">1.09 <b class="text-primary">ETH</b> ©</a>
        </div>
      </div>
      <div class="row content-center justify-center col-xl-2 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
           style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424">
        <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg"/>
        <div class="q-pa-sm">
          <q-img class="imgPerfill" src="../assets/perfil.png"/>
        </div>
        <div class="q-pa-sm">
          <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
          <p class="textSubtitlee text-left text-white">5 de 8</p>
        </div>
        <div class="q-pa-md">
          <q-btn class="text-left text-white bg-primary q-px-md">Lance</q-btn>
          <a class="q-pl-xl text-left text-white">1.09 <b class="text-primary">ETH</b> ©</a>
        </div>
      </div>
      <div class="row content-center justify-center col-xl-2 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
           style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424">
        <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg"/>
        <div class="q-pa-sm">
          <q-img class="imgPerfill" src="../assets/perfil.png"/>
        </div>
        <div class="q-pa-sm">
          <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
          <p class="textSubtitlee text-left text-white">5 de 8</p>
        </div>
        <div class="q-pa-md">
          <q-btn class="text-left text-white bg-primary q-px-md">Lance</q-btn>
          <a class="q-pl-xl text-left text-white">1.09 <b class="text-primary">ETH</b> ©</a>
        </div>
      </div>
      <div class="row content-center justify-center col-xl-2 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
           style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424">
        <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg"/>
        <div class="q-pa-sm">
          <q-img class="imgPerfill" src="../assets/perfil.png"/>
        </div>
        <div class="q-pa-sm">
          <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
          <p class="textSubtitlee text-left text-white">5 de 8</p>
        </div>
        <div class="q-pa-md">
          <q-btn class="text-left text-white bg-primary q-px-md">Lance</q-btn>
          <a class="q-pl-xl text-left text-white">1.09 <b class="text-primary">ETH</b> ©</a>
        </div>
      </div>
      <div class="row content-center justify-center col-xl-2 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
           style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424">
        <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg"/>
        <div class="q-pa-sm">
          <q-img class="imgPerfill" src="../assets/perfil.png"/>
        </div>
        <div class="q-pa-sm">
          <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
          <p class="textSubtitlee text-left text-white">5 de 8</p>
        </div>
        <div class="q-pa-md">
          <q-btn class="text-left text-white bg-primary q-px-md">Lance</q-btn>
          <a class="q-pl-xl text-left text-white">1.09 <b class="text-primary">ETH</b> ©</a>
        </div>
      </div>
      <div class="row content-center justify-center col-xl-2 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
           style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424">
        <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg"/>
        <div class="q-pa-sm">
          <q-img class="imgPerfill" src="../assets/perfil.png"/>
        </div>
        <div class="q-pa-sm">
          <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
          <p class="textSubtitlee text-left text-white">5 de 8</p>
        </div>
        <div class="q-pa-md">
          <q-btn class="text-left text-white bg-primary q-px-md">Lance</q-btn>
          <a class="q-pl-xl text-left text-white">1.09 <b class="text-primary">ETH</b> ©</a>
        </div>
      </div>
      <div class="row content-center justify-center col-xl-2 col-lg-3 col-md-3 col-sm-11 col-xs-11 q-ma-lg text-center"
           style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #242424">
        <q-img class="q-ma-md imgFundoPerfill" src="../assets/anie-dvd.jpg"/>
        <div class="q-pa-sm">
          <q-img class="imgPerfill" src="../assets/perfil.png"/>
        </div>
        <div class="q-pa-sm">
          <p class="textTitlee text-left text-white">Gabriel Medeiros</p>
          <p class="textSubtitlee text-left text-white">5 de 8</p>
        </div>
        <div class="q-pa-md">
          <q-btn class="text-left text-white bg-primary q-px-md">Lance</q-btn>
          <a class="q-pl-xl text-left text-white">1.09 <b class="text-primary">ETH</b> ©</a>
        </div>
      </div>
    </div>
    <div class="row col-12 justify-center q-mb-md" style="margin-top: 5rem">
      <span>2021 - InspireIP CNPJ n.º 00.000.000/0000-00</span>
    </div>
    <q-dialog v-model="showBannerPreview">
      <banner-preview/>
    </q-dialog>
    <q-dialog v-model="showObraPreview">
      <obra-preview/>
    </q-dialog>
  </q-page>
</template>
<script>
export default {
  data () {
    return {
      musica: true,
      desenho: false,
      jogos: false,
      geek: false,
      livros: false,
      showBannerPreview: false,
      slide: 1,
      showObraPreview: false,
      perfil: {
        imagem: '../assets/anie-06771-2.jpg',
        nome: 'Anie banda',
        obras: [
          {
            id: 1,
            tempo: '18:08',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 2,
            tempo: '112:08',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 3,
            tempo: '11:08',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 4,
            tempo: '10:11',
            valor: 1.09,
            imagem: 'https://cdn.quasar.dev/img/mountains.jpg'
          }
        ]
      }
    }
  },
  components: {
    'banner-preview': require('components/PerfilPessoal/Modals/BannerPreview').default,
    'obra-preview': require('components/PerfilPessoal/Modals/Obra').default

  }
}
</script>
<style>
@media only screen and (max-width: 320px) {
  .imgPerfil {
    width: 50vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 25vw;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .textTitlee {
    font-size: 20px;
  }

  .textSubtitlee {
    font-size: 12px;
  }

  .titleArtistasMomento {
    font-size: 23px;
  }
}

@media only screen and (max-width: 429px) and (min-width: 321px) {
  .imgPerfil {
    width: 50vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 25vw;
  }

  .textTitlee {
    font-size: 25px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 430px) {
  .imgPerfil {
    width: 12vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 8vw;
  }

  .textTitlee {
    font-size: 22px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1400px) {
  .imgPerfil {
    width: 10vw;
    margin-top: -100px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 5vw;
  }

  .textTitlee {
    font-size: 22px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 35px;
  }
}

</style>
