<template>
  <q-page class="bg-white">
    <div class="container justify-center">
      <q-pdfviewer
        v-model="show"
        src="termos-uso.pdf"
        type="pdfjs"
        content-class="absolute"
      />
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Termos de Uso',
  props: {
    // src: String
  },

  data () {
    return {
      show: true
    }
  }
}
</script>

<style scoped>
.container {
  max-width: 50%;
  max-height: 70%;
  min-width: 400px;
  min-height: 600px;
  width: 100%;
  height: 100%;
}
</style>
