<template>
  <div class="row justify-center q-ma-sm">
    <div
      :class="
        mode
          ? 'text-weight-light text-white flex flex-center q-col-xs-4 q-mt-xl q-mb-lg'
          : 'text-weight-light cor-letra flex flex-center q-col-xs-4 q-mt-xl q-mb-lg'
      "
    >
      © 2021 - InspireIP CNPJ n.º 38.285.174/0001-10 - Todos os direitos
      reservados&nbsp; - &nbsp;
    </div>

    <div>
      <span>
        <a
          :class="
            mode
              ? 'text-weight-light text-white flex flex-center q-col-xs-4 q-mt-xl q-mb-lg'
              : 'text-weight-light cor-letra flex flex-center q-col-xs-4 q-mt-xl q-mb-lg'
          "
          type="a"
          target="_blank"
          href="/termosuso"
          >Termos de uso</a
        >
      </span>
    </div>

    <div
      :class="
        mode
          ? 'text-weight-light text-white flex flex-center q-col-xs-4 q-mt-xl q-mb-lg'
          : 'text-weight-light cor-letra flex flex-center q-col-xs-4 q-mt-xl q-mb-lg'
      "
    >
      &nbsp; - &nbsp;
    </div>

    <a
      type="a"
      target="_blank"
      href="/politicaprivacidade"
      :class="
        mode
          ? 'text-weight-light text-white flex flex-center q-col-xs-4 q-mt-xl q-mb-lg'
          : 'text-weight-light cor-letra flex flex-center q-col-xs-4 q-mt-xl q-mb-lg'
      "
    >
      Politica de privacidade
    </a>
  </div>
</template>

<script>
export default {
  computed: {
    mode: function () {
      return this.$q.dark.isActive
    }
  }
}
</script>
