// app global css in SCSS form

@font-face {
  font-family: "AkuKamu";
  src: url("../assets/AkuKamu.otf");
}

.font-principal {
  font-family: AkuKamu !important;
}

.cor-dialog {
  background-color: #121212;
}

.bg-background {
  background-color: #A6327D;
}

.bg-DarkMode {
  background-color: #121212;
}

.bg-menu {
  background-color: #232323;
}

.card-artist {
  border-radius: 10px;
  border-style: solid;
  border-color: #FFFFFF;
  background-color: #242424;
}

.botao-entrar {
  background-color: $secondary;
  border-radius: 3px;
  height: 35px;
  color: white;
  padding: 0rem 10px;
  display: inline-block;
  font-size: 16px;
}

.botao-entrar-dark {
  background-color: #121212;
  border-radius: 3px;
  height: 35px;
  color: white;
  padding: 0rem 10px;
  display: inline-block;
  font-size: 16px;
}

.botao-entrar-dark-mobile {
  background-color: #002aa9;
  color: white;
  padding: 0rem 10px;
  height: 35px;
  display: inline-block;
  font-size: 10px;
}

.bg-botao {
  background: white;
  color: $primary;
  border-radius: 10px;
  width: 380px;
  height: 60px;
  font-size: x-large;
}
.bg-botao-sm {
  background: white;
  color: $primary;
  border-radius: 10px;
  height: 50px;
  width: 300px;
}

.cor-letra {
  color: $primary;
}

.bordas-faq {
  border: 1px solid $primary;
  border-radius: 5px;
}


.cor-ramp { 
  background-color: #006e5d;
}

@media (min-width: 1401px) {
  .grupo-botoes {
    width: 200px;
    justify-content: center;
  }

  .cartao {
    display: flex;
    background-color: #212121;
    width: 1100px;
    height: 660px;
    flex-direction: row;
  }

  .espaco-top {
    margin-top: 0px;
  }

  .espaco-right {
    margin-right: 50px;
  }

  .linha-card {
    width: 75%;
  }

  .transforma-linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tamanho-artistas {
    display: flex;
    flex-direction: column;
    width: 900px;
    justify-content: space-between;
  }

  .margin-cartao-previa {
    margin-left: -20px;
  }
}
