// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.


$primary   : #A6327D;
$secondary : #5741A6;
$accent    : #D4D948;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #212121;
$warning   : #c07c2f;

$grey      : #4b4b4b;

$blue-2    : #0040bc;

