<template>
  <q-page class="justify-center items-center row">
    <div
      class="justify-evenly rounded-borders row bg-info col-xl-5 col-lg-6 col-md-6 col-sm-10 col-xs-11"
    >
      <div class="row col-12 justify-center q-pt-md">
        <div class="row text-white">
          <span class="tamanho-titulo"> Parabéns, Colecionador!</span>
        </div>
      </div>
      <div
        class="row justify-center col-xl-12 col-lg-12 col-md-12 col-sm-11 col-xs-11 q-pl-lg tamanho-paragrafo q-mt-lg q-pa-xl"
      >
        <span class="text-white">
          O Item {{ confirmacao.nome }} foi adicionado à sua coleção!
        </span>
      </div>

      <div class="row col-12 justify-center q-mb-lg q-mt-xl">
        <q-btn
          @click="$router.push({ name: 'perfilcolecionador' })"
          push
          label="Ir para coleção"
          no-caps
          color="warning"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  data () {
    return {
      confirmacao: {
        nome: '_ _ _ _ _ _ _ '
      }
    }
  }
}
</script>

<style>
@media only screen and (max-width: 320px) {
  .tamanho-titulo {
    font-size: 20px;
  }

  .tamanho-paragrafo {
    font-size: 14px;
  }

  .imgPerfil {
    width: 50vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 25vw;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .textTitlee {
    font-size: 20px;
  }

  .textSubtitlee {
    font-size: 12px;
  }

  .titleArtistasMomento {
    font-size: 23px;
  }
}

@media only screen and (max-width: 429px) and (min-width: 321px) {
  .tamanho-titulo {
    font-size: 20px;
  }

  .tamanho-paragrafo {
    font-size: 14px;
  }

  .tamanho-paragrafo-dialog {
    font-size: 18px;
  }

  .imgPerfil {
    width: 50vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 25vw;
  }

  .textTitlee {
    font-size: 25px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 430px) {
  .tamanho-titulo {
    font-size: 20px;
  }

  .tamanho-paragrafo {
    font-size: 14px;
  }

  .tamanho-paragrafo-dialog {
    font-size: 18px;
  }

  .imgPerfil {
    width: 12vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 8vw;
  }

  .textTitlee {
    font-size: 22px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1400px) {
  .tamanho-titulo {
    font-size: 25px;
  }

  .tamanho-paragrafo {
    font-size: 23px;
  }

  .tamanho-paragrafo-dialog {
    font-size: 18px;
  }

  .tamanho-paragrafo-royalties {
    font-size: 20px;
  }

  .imgPerfil {
    width: 10vw;
    margin-top: -100px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 5vw;
  }

  .textTitlee {
    font-size: 22px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 35px;
  }
}
</style>
