<template>
  <q-page class="justify-center items-center row">
    <div
      class="justify-around rounded-borders row bg-info col-xl-5 col-lg-6 col-md-6 col-sm-10 col-xs-11"
    >
      <div class="row col-12 justify-center q-pt-md">
        <div class="row text-white">
          <span class="tamanho-titulo"> Compra Direta</span>
        </div>
      </div>
      <div class="row col-xl-6 col-lg-6 col-md-6 col-xs-11">
        <div
          :class="
            $q.screen.gt.xs
              ? 'row justify-center col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 q-mt-xl'
              : 'row justify-center col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 q-mt-xl text-center'
          "
        >
          <div class="row tamanho-paragrafo">
            <span class="text-white"
              >Você vai estar realizando a compra de {{ confirmacao.nome }} , no
              valor de {{ confirmacao.valorETH }}
              <span class="text-orange">ETH</span>, equivalente a
              {{ confirmacao.valorUSD }}. Gostaria de prosseguir com a operação?
            </span>
          </div>
        </div>
      </div>

      <div
        :class="
          $q.screen.gt.xs
            ? 'row col-xl-4 col-lg-3 col-md-4 col-sm-5 col-xs-9 q-mb-lg'
            : 'col-xs-11 row q-mt-xl q-mb-lg'
        "
      >
        <div class="col-xl-11 col-lg-12 col-md-12 col-sm-12 col-xs-12 q-pa-sm">
          <div
            class="row justify-center text-center"
            style="border-radius: 10px; border-style: solid; border-color: #FFFFFF; background-color: #121212"
          >
            <q-img
              class="q-ma-sm"
              style="height: 200px"
              src="~src/assets/anie-dvd.jpg"
            />
            <div class="row col-12 q-pa-sm justify-between">
              <div class="row q-gutter-x-xs">
                <div>
                  <q-icon name="fab fa-creative-commons-sa" color="white" />
                </div>
                <div>
                  <q-icon name="fab fa-creative-commons-nc" color="white" />
                </div>
                <div>
                  <q-icon name="fab fa-creative-commons-by" color="white" />
                </div>
              </div>
              <div class="row items-end">
                <div class="row items-center justify-end">
                  <span class="text-left text-white items-center">2,90</span>
                  <span class="text-primary"
                    ><b class="text-primary">ETH</b></span
                  >

                  <q-icon
                    class="q-ml-xs"
                    color="white"
                    name="far fa-copyright"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row col-12 justify-center q-mb-lg">
        <q-btn
          @click="$router.push({ name: 'compraconfirmada' })"
          push
          label="Confirmar Compra"
          no-caps
          color="warning"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  data () {
    return {
      confirmacao: {
        nome: '_ _ _',
        valorETH: '0.00000000',
        valorUSD: ''
      }
    }
  }
}
</script>

<style>
@media only screen and (max-width: 320px) {
  .tamanho-titulo {
    font-size: 20px;
  }

  .tamanho-paragrafo {
    font-size: 16px;
  }

  .imgPerfil {
    width: 50vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 25vw;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .textTitlee {
    font-size: 20px;
  }

  .textSubtitlee {
    font-size: 12px;
  }

  .titleArtistasMomento {
    font-size: 23px;
  }
}

@media only screen and (max-width: 429px) and (min-width: 321px) {
  .tamanho-titulo {
    font-size: 20px;
  }

  .tamanho-paragrafo {
    font-size: 16px;
  }

  .tamanho-paragrafo-dialog {
    font-size: 18px;
  }

  .imgPerfil {
    width: 50vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 25vw;
  }

  .textTitlee {
    font-size: 25px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 430px) {
  .tamanho-titulo {
    font-size: 20px;
  }

  .tamanho-paragrafo {
    font-size: 20px;
  }

  .tamanho-paragrafo-dialog {
    font-size: 18px;
  }

  .imgPerfil {
    width: 12vw;
    margin-top: -80px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 8vw;
  }

  .textTitlee {
    font-size: 22px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1400px) {
  .tamanho-titulo {
    font-size: 25px;
  }

  .tamanho-paragrafo {
    font-size: 23px;
  }

  .tamanho-paragrafo-dialog {
    font-size: 18px;
  }

  .tamanho-paragrafo-royalties {
    font-size: 20px;
  }

  .imgPerfil {
    width: 10vw;
    margin-top: -100px;
  }

  .imgFundoPerfil {
    height: 40%;
    width: 100%;
  }

  .imgPerfill {
    width: 5vw;
  }

  .textTitlee {
    font-size: 22px;
  }

  .textSubtitlee {
    font-size: 18px;
  }

  .textTitle {
    font-size: 25px;
  }

  .textSubtitle {
    font-size: 18px;
  }

  .titleArtistasMomento {
    font-size: 35px;
  }
}
</style>
