<template>
  <q-layout view="hhh Lpr fFf">
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  data () {
    return {}
  },
  methods: {},
  computed: {},
  mounted () {
  }
}
</script>
