<template>
  <q-layout view="hhh Lpr fFf">
    <q-header
      :class="
        verificaDash()
          ? 'bg-background row justify-between'
          : 'bg-background row justify-between'
      "
    >
      <div class="row cursor-pointer">
        <div class="row items-center">
          <q-btn flat @click="drawer = !drawer" round dense icon="menu" />
        </div>
        <img
          @click="$router.push({ name: 'lp' })"
          src="~src/assets/inspireIP_icone_negativo.png"
          width="65px"
        />
      </div>
      <div class="row q-gutter-x-sm q-mr-md">
        <div class="row">
          <q-toggle
            dense
            :size="$q.screen.lt.sm ? '40px' : '70px'"
            icon="nightlight"
            v-model="second"
            @input="darkmode(second)"
            :color="mode ? 'blue-12' : 'black'"
            keep-color
            unchecked-icon="light_mode"
            icon-color="black"
          />
        </div>
        <div class="q-pa-md" v-if="admin._id">
          <q-btn-dropdown
            flat
            dense
            content-style="background-color: #8B8989"
            dropdown-icon="settings"
            class="botao-entrar-dark-mobile"
          >
            <div class="row no-wrap q-pa-xs">
              <q-list>
                <q-item @click="logout()" clickable v-close-popup>
                  <q-item-section avatar>
                    <q-icon
                      name="fas fa-sign-out-alt"
                      color="white"
                      size="22px"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label class="text-bold" style="font-size:17px"
                      >Sair</q-item-label
                    >
                  </q-item-section>
                </q-item>
              </q-list>
            </div>
          </q-btn-dropdown>
        </div>
      </div>

      <!-- <div class="row items-center" v-if="!admin._id">
          <q-btn
            class="botao-entrar"
            flat
            dense
            label="E n t r a r"
            @click="$router.push({ name: 'login' })"
          />
        </div> -->
    </q-header>

    <q-drawer v-model="drawer" :width="200" :breakpoint="400">
      <q-scroll-area
        style="height: calc(100% - 150px); margin-top: 100px; border-right: 1px solid #ddd"
      >
        <q-list padding>
          <q-item
            v-for="nav in navs"
            :to="nav.to"
            :key="nav.label"
            clickable
            v-ripple
            exact
          >
            <q-item-section avatar>
              <q-icon size="25px" :name="nav.icon" />
            </q-item-section>

            <q-item-section>
              {{ nav.label }}
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
      <!-- Imagens drawer -->
      <q-img class="absolute-top" style="height: 90px">
        <div class="absolute-bottom bg-transparent row justify-center">
          <div
            :class="
              mode
                ? 'text-weight-bold text-white col-12 text-center'
                : 'text-weight-bold text-black col-12 text-center'
            "
          >
            {{ getUserAdmin.name + " " + getUserAdmin.lastname }}
          </div>
        </div>
      </q-img>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
  data () {
    return {
      drawer: true,
      second: true,
      navs: [
        {
          label: 'Minha conta',
          icon: 'fas fa-user',
          to: '/paineladmin'
        },
        {
          label: 'Administradores',
          icon: 'fas fa-user-shield',
          to: '/usuariosadmin'
        },
        {
          label: 'Usuários',
          icon: 'fas fa-users',
          to: '/usuarios'
        },
        {
          label: 'Site',
          icon: 'fas fa-tools',
          to: '/siteconfig'
        }
      ]
    }
  },
  methods: {
    ...mapActions('user', ['logoutAdmin', 'listAdmin']),
    logout () {
      this.logoutAdmin()
      this.$router.push('/loginAdmin')
    },
    darkmode (val) {
      this.$q.dark.set(val)
    },
    verificaDash () {
      const rotaAtual = this.$route.name
      if (rotaAtual === 'PainelAdmin') {
        return false
      }
      return this.mode
    }
  },
  computed: {
    ...mapGetters('user', ['getUserAdmin']),
    ...mapState('user', ['admin']),
    mode () {
      return this.$q.dark.isActive
    }
  },

  mounted () {
    this.listAdmin()
      .then(res => {
        this.loading = false
      })
      .catch(error => {
        this.loading = false
        if (error.status === 401) {
          this.$router.push({ name: 'loginadmin' })
        }
        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: error.data.message
        })
      })
  },

  beforeMount () {
    if (!this.admin._id && this.$router.currentRoute.name !== 'lp') {
      this.$router.push({ name: 'loginadmin' })
    }
  }
}
</script>
