<template>
  <q-layout view="hhh Lpr fFf">
    <q-header
      :class="verificaLP() ? 'bg-DarkMode' : 'secondary'"
      style="height:90px"
    >
      <div class="row justify-center gt-sm">
        <div class="col-12 justify-between row">
          <!-- Logo Inspire -->
          <div class="row items-center col-xl-5 col-lg-5 col-md-4">
            <img
              class="logo gt-sm col-xl-4 col-lg-4 col-md-6 cursor-pointer"
              src="../assets/inspireIP_hor_negativo.png"
              alt="inspireiip"
              @click="verificaRotaLP()"
              type="a"
            />
            <div class="col-xl-8 col-lg-7 col-md-6">
              <q-input
                label="Procure sua arte ou artista favorito"
                dark
                dense
                outlined
                v-model="text"
                input-class="text-left"
                class="q-ml-md gt-sm"
              >
                <template v-slot:prepend>
                  <q-icon v-if="text === ''" name="search" />
                  <q-icon
                    v-else
                    name="clear"
                    class="cursor-pointer"
                    @click="text = ''"
                  />
                </template>
              </q-input>
            </div>
          </div>

          <div
            class="row items-center col-xl-7 col-lg-7 col-md-8 col-sm-11 justify-between"
          >
            <div>
              <q-btn
                no-hover
                flat
                text-color="white"
                label="Inicio"
                no-caps
                type="a"
                @click="verificaRotaLP()"
                size="20px"
                class="text-weight-regular cabecalho-fontes"
              />
            </div>
            <div>
              <q-btn
                flat
                dense
                @click="$router.push({ name: 'navegar' })"
                text-color="white"
                label="Marketplace"
                no-caps
                size="20px"
                class="text-weight-regular cabecalho-fontes"
              />
            </div>
            <div>
              <q-btn
                flat
                dense
                text-color="white"
                label="Atividades"
                @click="$refs.Atividades.open()"
                no-caps
                size="20px"
                class="text-weight-regular cabecalho-fontes"
              />
            </div>
            <div>
              <q-btn
                flat
                dense
                text-color="white"
                label="Destaques"
                no-caps
                size="20px"
                @click="$refs.Destaques.open()"
                class="text-weight-regular cabecalho-fontes"
              />
            </div>
            <div>
              <q-btn
                flat
                dense
                text-color="white"
                label="FAQ"
                no-caps
                size="20px"
                href="#faq"
                type="a"
                class="text-weight-regular cabecalho-fontes"
              />
            </div>
            <div>
              <q-toggle
                dense
                :size="$q.screen.lt.sm ? '40px' : '70px'"
                icon="nightlight"
                v-model="second"
                @input="darkmode(second)"
                :color="mode ? 'white' : 'black'"
                keep-color
                unchecked-icon="light_mode"
                icon-color="primary"
              />
            </div>

            <div class="q-pa-md" v-if="user._id">
              <q-btn-dropdown
                dense
                flat
                dropdown-icon="settings"
                class="q-mr-md"
              >
                <div class="row no-wrap q-pa-sm">
                  <div class="column items-start">
                    <q-list>
                      <q-item clickable v-close-popup @click="verificaRota()">
                        <q-item-section avatar>
                          <q-icon
                            name="fas fa-user-alt"
                            color="white"
                            size="22px"
                          />
                        </q-item-section>
                        <q-item-section>
                          <q-item-label class="text-bold" style="font-size:17px"
                            >Perfil pessoal</q-item-label
                          >
                        </q-item-section>
                      </q-item>

                      <q-item
                        v-if="getUserAdmin._id"
                        clickable
                        v-close-popup
                        @click="
                          verificaRota(), $router.push({ name: 'paineladmin' })
                        "
                      >
                        <q-item-section avatar>
                          <q-icon
                            name="fas fa-user-shield"
                            color="white"
                            size="22px"
                          />
                        </q-item-section>
                        <q-item-section>
                          <q-item-label class="text-bold" style="font-size:17px"
                            >Painel Admin</q-item-label
                          >
                        </q-item-section>
                      </q-item>

                      <q-item clickable v-close-popup @click="handleRamp">
                        <q-item-section class="q-pr-lg" avatar>
                          <q-img width="30px" src="~src/assets/ramp3.svg" />
                        </q-item-section>
                        <q-item-section>
                          <q-item-label class="text-bold" style="font-size:17px"
                            >Ramp</q-item-label
                          >
                        </q-item-section>
                      </q-item>

                      <q-item @click="logout()" clickable v-close-popup>
                        <q-item-section avatar>
                          <q-icon
                            name="fas fa-sign-out-alt"
                            color="white"
                            size="22px"
                          />
                        </q-item-section>
                        <q-item-section>
                          <q-item-label class="text-bold" style="font-size:17px"
                            >Sair</q-item-label
                          >
                        </q-item-section>
                      </q-item>
                    </q-list>
                    <!-- <q-btn
                      icon="person"
                      size="16px"
                      no-caps
                      class="q-mt-md q-mb-sm"
                      flat
                      dense
                      label="Perfil Pessoal"
                      @click="verificaRota()"
                    >
                    </q-btn>
                    <q-btn
                      :icon="ramp"
                      no-caps
                      class="q-mt-md q-mb-sm"
                      flat
                      dense
                      label="Ramp"
                      @click="verificaRota()"
                    >
                    </q-btn>
                    <q-btn
                      no-caps
                      class="q-mt-md q-mb-sm botao-entrar"
                      flat
                      dense
                      label="Alterar Senha"
                      @click="$router.push({ name: 'alterarsenha' })"
                    >
                    </q-btn>
                    <q-btn
                      no-caps
                      class="q-mt-md q-mb-sm botao-entrar"
                      flat
                      dense
                      label="SAIR"
                      @click="logout()"
                    /> -->
                  </div>
                </div>
              </q-btn-dropdown>
            </div>

            <div class="q-pa-md" v-if="!user._id">
              <q-btn
                class="q-mt-sm botao-entrar"
                flat
                dense
                label="E n t r a r"
                @click="$router.push({ name: 'login' })"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Menor que MD -->
      <div class="lt-md row col-12 items-center">
        <div class="row col-md-12 col-xs-12 col-sm-12 items-center">
          <div class="col-3">
            <img
              src="~src/assets/inspireIP_icone_negativo.png"
              alt="inspireiip"
              width="80px"
              @click="verificaRotaLP()"
              type="a"
            />
          </div>
          <div class="row">
            <q-toggle
              dense
              :size="$q.screen.lt.sm ? '40px' : '70px'"
              icon="nightlight"
              v-model="second"
              @input="darkmode(second)"
              :color="mode ? 'white' : 'black'"
              keep-color
              unchecked-icon="light_mode"
              icon-color="primary"
            />
          </div>
          <div class="row col-7 justify-end">
            <q-btn class="col-2" flat rounded icon="menu">
              <q-menu>
                <q-list class="bg-menu">
                  <q-item class="text-white">
                    <q-btn flat @click="verificaRotaLP()">Início</q-btn>
                  </q-item>
                  <q-separator color="white" />
                  <q-item>
                    <q-btn
                      @click="$router.push({ name: 'navegar' })"
                      flat
                      class="text-white"
                      >Marketplace
                    </q-btn>
                  </q-item>
                  <q-separator color="white" />
                  <q-item>
                    <q-btn
                      flat
                      @click="$refs.Atividades.open()"
                      class="text-white"
                      >Atividades</q-btn
                    >
                  </q-item>
                  <q-separator color="white" />
                  <q-item>
                    <q-btn
                      flat
                      @click="$refs.Destaques.open()"
                      class="text-white"
                      >Destaques</q-btn
                    >
                  </q-item>
                  <q-separator color="white" />
                  <q-item>
                    <q-btn flat href="#faq" type="a" class="text-white"
                      >FAQ</q-btn
                    >
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
            <q-btn
              class="lt-md col-2"
              @click="botaoPesquisa = !botaoPesquisa"
              flat
              rounded
              icon="search"
            />
            <div class="q-pa-md" v-if="user._id">
              <q-btn-dropdown
                flat
                dense
                content-style="background-color: #8B8989"
                dropdown-icon="settings"
                class="botao-entrar-dark-mobile"
              >
                <div class="row no-wrap q-pa-xs">
                  <div class="column items-start">
                    <q-list>
                      <q-item clickable v-close-popup @click="verificaRota()">
                        <q-item-section avatar>
                          <q-icon
                            name="fas fa-user-alt"
                            color="white"
                            size="20px"
                          />
                        </q-item-section>
                        <q-item-section>
                          <q-item-label class="text-bold" style="font-size:17px"
                            >Perfil pessoal</q-item-label
                          >
                        </q-item-section>
                      </q-item>

                      <q-item clickable v-close-popup @click="handleRamp">
                        <q-item-section avatar>
                          <q-img src="~src/assets/ramp.svg" size="20px" />
                        </q-item-section>
                        <q-item-section>
                          <q-item-label class="text-bold" style="font-size:17px"
                            >Ramp</q-item-label
                          >
                        </q-item-section>
                      </q-item>

                      <q-item @click="logout()" clickable v-close-popup>
                        <q-item-section avatar>
                          <q-icon
                            name="fas fa-sign-out-alt"
                            color="white"
                            size="22px"
                          />
                        </q-item-section>
                        <q-item-section>
                          <q-item-label class="text-bold" style="font-size:17px"
                            >Sair</q-item-label
                          >
                        </q-item-section>
                      </q-item>
                    </q-list>
                    <!-- <q-btn
                      round
                      color="blue-2"
                      size="26px"
                      @click="verificaRota()"
                    >
                      <q-avatar size="72px">
                        <img
                          v-if="user.profile_picture"
                          :src="
                            'https://nftapi.inspireip.io/' +
                              user.profile_picture
                          "
                        />
                      </q-avatar>
                    </q-btn>
                    <q-btn
                      class="q-mt-md q-mb-sm botao-entrar"
                      flat
                      dense
                      label="S A I R"
                      @click="logout()"
                    /> -->
                  </div>
                </div>
              </q-btn-dropdown>
            </div>

            <div v-if="!user._id">
              <q-btn
                class="q-mt-xs botao-entrar"
                flat
                dense
                label="E n t r a r"
                @click="$router.push({ name: 'login' })"
              />
            </div>
          </div>
        </div>
      </div>
      <div v-show="botaoPesquisa" class="full-width row justify-center q-mb-md">
        <q-input
          dark
          class="lt-md"
          filled
          v-model="text"
          label="Pesquisar"
          style="width:94%"
        />
      </div>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>

    <destaques ref="Destaques" />
    <atividades ref="Atividades" />
    <dialogEthInsuficiente ref="DialogEthInsuficiente" />
  </q-layout>
</template>

<script>
import { mapGetters, mapActions, mapState } from 'vuex'
import { RampInstantSDK } from '@ramp-network/ramp-instant-sdk'
import Destaques from 'src/components/PerfilPessoal/Modals/Destaques'
import Atividades from 'src/components/PerfilPessoal/Modals/Atividades'
import DialogEthInsuficiente from 'src/components/PerfilPessoal/Modals/DialogEthInsuficiente'

export default {
  data () {
    return {
      second: true,
      text: '',
      botaoPesquisa: false,
      ramp: ''
    }
  },
  components: {
    Destaques,
    Atividades,
    DialogEthInsuficiente
  },
  methods: {
    ...mapActions('user', ['logoutUsers']),
    darkmode (val) {
      this.$q.dark.set(val)
    },
    logout () {
      this.logoutUsers()
      this.$router.push('/login')
    },
    verificaRota () {
      const rotaAtual = this.$route.name
      if (rotaAtual !== 'perfilcolecionador' && !this.user.artist) {
        this.$router.push({ path: `/perfilcolecionador/${this.user._id}` })
      } else if (rotaAtual !== 'perfilartista' && this.user.artist) {
        this.$router.push({ path: '/perfilartista/' + this.user._id })
      }
    },
    verificaRotaLP () {
      const rotaAtual = this.$route.name
      if (rotaAtual !== 'lp') {
        this.$router.push({ name: 'lp' })
      }
    },
    verificaLP () {
      const rotaAtual = this.$route.name
      if (rotaAtual === 'lp') {
        return false
      }
      return this.mode
    },
    handleRamp () {
      // eslint-disable-next-line no-new
      const widget = new RampInstantSDK({
        swapAsset: 'ETH',
        hostAppName: 'INSPIRE IP',
        hostLogoUrl: 'https://inspireip.io/logos/inspire_ip_principal.png',
        selectedCountryCode: 'BE',
        url: 'https://ri-widget-staging-ropsten.firebaseapp.com/',
        hostApiKey: '42vjumetvp6u8mzcqsokvx4kdox8f6hn42n435cm',
        userEmailAddress: `${this.user.email}`,
        userAddress: `${this.user.ethereum_wallet}`,
        variant: 'auto'
      }).on('*', event => {
        switch (event.type) {
          case 'PURCHASE_CREATED':
            // console.table({
            //   id: event.payload.purchase.id,
            //   purchaseViewToken: event.payload.purchase.purchaseViewToken
            // })
            break
          default:
            // console.log(event)
        }
      })

      widget.show()
      // Aumentando z-index para sobrepor layout
      widget.domNodes.overlay.style.zIndex = 100000
    }
  },
  computed: {
    ...mapGetters('user', ['getUser', 'getUserAdmin']),
    ...mapState('user', ['user']),
    mode: function () {
      return this.$q.dark.isActive
    }
  },

  mounted () {},

  beforeMount () {
    if (
      !this.user._id &&
      this.$router.currentRoute.name !== 'lp' &&
      this.$router.currentRoute.name !== 'navegar' &&
      this.$router.currentRoute.name !== 'perfilartista' &&
      this.$router.currentRoute.name !== 'perfilcolecionador'
    ) {
      this.$router.push({ name: 'login' })
    }
  }
}
</script>

<style>
html {
  scroll-behavior: smooth;
}
</style>
