<template>
  <q-page class="bg-DarkMode justify-center items-center row">
    <div
      class="justify-center rounded-borders row bg-info col-xl-5 col-lg-6 col-md-6 col-sm-10 col-xs-11"
    >
      <div
        class="row justify-center col-xl-12 col-lg-12 col-md-12 col-sm-11 col-xs-11 q-pl-lg tamanho-paragrafo q-mt-xl"
      >
        <div class="q-mt-sm col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-11">
          <span class="text-white text-subtitle1">Insira o código</span>
          <div class="row col-12">
            <q-input
              input-class="text-white"
              type="email"
              outlined
              class="border-input q-mt-md col-11"
              dense
              color="blue-9"
              v-model="form.codigo"
            />
          </div>
        </div>
      </div>
      <div
        class="row justify-center col-xl-12 col-lg-12 col-md-12 col-sm-11 col-xs-11 q-pl-lg q-mt-xl tamanho-paragrafo"
      >
        <div class="q-mt-sm col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-11">
          <span class="text-white text-subtitle1">Nova senha</span>
          <div class="row col-12">
            <q-input
              input-class="text-white"
              :type="isPwd ? 'password' : 'text'"
              outlined
              class="border-input q-mb-lg col-11"
              dense
              color="blue-9"
              v-model="form.novaSenha"
              ><template v-slot:append>
                <q-icon
                  color="white"
                  size="20px"
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
            <q-icon class="q-mt-md" color="white" name="help_outline"
              ><q-tooltip transition-show="rotate" transition-hide="rotate">
                <p>
                  A senha deve conter:
                </p>
                <p class="no-margin">
                  Mínimo 8 caracteres
                </p>
                <p class="no-margin">
                  Mínimo 1 número
                </p>
                <p class="no-margin">
                  Mínimo 1 Letra maiúscula
                </p>
                <p class="no-margin">
                  Mínimo 1 caractere especial (!@#$%^&*)
                </p>
              </q-tooltip></q-icon
            >
          </div>
          <span class="text-white text-subtitle1">Confirmar Nova senha</span>
          <div class="row col-12">
            <q-input
              input-class="text-white"
              :type="isPwd2 ? 'password' : 'text'"
              outlined
              class="border-input col-11"
              dense
              color="blue-9"
              v-model="form.confirmarNovaSenha"
              ><template v-slot:append>
                <q-icon
                  color="white"
                  size="20px"
                  :name="isPwd2 ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd2 = !isPwd2"
                /> </template
            ></q-input>
          </div>
        </div>
      </div>

      <div class="row col-12 justify-center q-mb-lg q-mt-xl">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-6">
          <q-btn
            class="full-width"
            @click="onSubmit"
            push
            label="Confirmar"
            no-caps
            color="primary"
          />
        </div>
      </div>
      <q-inner-loading :showing="salvandoDados">
        <q-circular-progress
          indeterminate
          size="65px"
          :thickness="1"
          color="info"
          track-color="primary"
          class="q-ma-md"
        />
      </q-inner-loading>
    </div>
  </q-page>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'CodigoRecuperarSenha',
  data () {
    return {
      salvandoDados: false,
      isPwd: true,
      isPwd2: true,
      form: {
        codigo: '',
        novaSenha: '',
        confirmarNovaSenha: ''
      }
    }
  },
  mounted () {},
  computed: {},
  methods: {
    ...mapActions('user', ['updatePasswordAdmin']),
    onSubmit () {
      if (this.form.novaSenha === this.form.confirmarNovaSenha) {
        this.salvandoDados = true
        if (this.checkPassword() === null) {
          this.updatePasswordAdmin({
            dados: this.form
          })
            .then(res => {
              this.$q.notify({
                position: 'bottom',
                color: 'positive',
                textColor: 'white',
                icon: 'check',
                message: res.data.message
              })
              this.salvandoDados = false
              this.$router.push({ name: 'loginadmin' })
            })
            .catch(error => {
              this.salvandoDados = false

              this.$q.notify({
                position: 'bottom',
                color: 'negative',
                textColor: 'white',
                icon: 'error',
                message:
                  error.data.message === 'Usuário ou senha inválidos.'
                    ? 'Senha atual inválida.'
                    : error.data.message
              })
            })
        } else {
          this.salvandoDados = false
          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: this.checkPassword()
          })
        }
      } else {
        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: 'As senhas não conferem.'
        })
      }
    },
    checkPassword () {
      let message = null
      if (this.form.novaSenha !== this.form.confirmarNovaSenha) {
        message = 'A senha não confere.'
      }

      if (this.form.confirmarNovaSenha.length < 8) {
        message = 'A senha deve ter no mínimo 8 caracteres.'
      }

      if (!this.form.confirmarNovaSenha.match(/[0-9]/)) {
        message = 'A senha deve conter pelo menos 1 número.'
      }

      if (!this.form.confirmarNovaSenha.match(/[A-Z]/)) {
        message = 'A senha deve conter pelo menos 1 caractere maísculo.'
      }

      if (!this.form.confirmarNovaSenha.match(/[$@#&!]+/)) {
        message =
          'A senha deve conter pelo menos 1 caractere especial ($@#&!).'
      }

      return message
    }
  }
}
</script>

<style scoped>
.border-input {
  border-radius: 5px;
  border: 2px solid #0041b5;
}

.q-field--labeled .q-field__native,
.q-field--labeled .q-field__prefix,
.q-field--labeled .q-field__suffix {
  color: white;
}

.border-img-dashed {
  border: dashed 2px #fff;
  border-radius: 10px;
  height: 230px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border-img-solid {
  border: solid 2px #fff;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
