<template>
  <q-page class="row">
    <div
      class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center bannerLoginColor"
    >
      <q-img
        @click="$router.push({ name: 'lp' })"
        class="absolute-top-left cursor-pointer"
        src="logoBranco.png"
        style="width: 200px"
      />
      <q-card class="absolute-center bg-grey-10 q-py-md">
        <q-input
          v-model="dados.email"
          v-if="!loginMetamask"
          dark
          clear-icon="mail"
          class="text-white q-pa-lg"
          col
          label-color="white"
          color="white"
          label="E-mail"
          style="width: 300px"
        >
          <template v-slot:prepend>
            <q-icon color="white" name="mail_outline" />
          </template>
        </q-input>
        <q-input
          v-model="dados.password"
          v-if="!loginMetamask"
          dark
          :type="isPwd ? 'password' : 'text'"
          clear-icon="mail"
          class="text-white q-pa-lg"
          label-color="white"
          color="white"
          label="Senha"
          style="width: 300px"
        >
          <template v-slot:prepend>
            <q-icon color="white" name="lock" />
          </template>
          <template>
            <q-icon
              size="25px"
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer q-mt-md text-grey-7"
              @click="isPwd = !isPwd"
            ></q-icon>
          </template>
        </q-input>
        <q-input
          v-if="this.loginMetamask"
          v-model="dados.codigo_2fa"
          dark
          type="text"
          clear-icon="mail"
          class="text-white q-pa-lg"
          label-color="white"
          color="white"
          label="Código 2FA"
          style="width: 300px"
        >
          <template v-slot:prepend>
            <q-icon color="white" name="lock" />
          </template>
        </q-input>
        <q-btn
          class="text-white q-px-xl"
          style="background-color: #00399e"
          no-caps
          @click="loginAdmin()"
          >Entrar</q-btn
        >
        <q-btn
          class="text-white q-mt-md"
          v-if="loginMetamask"
          type="a"
          flat
          no-wrap
          no-caps
          @click="loginMetamask = false"
        >
          ou entrar com e-mail e senha
        </q-btn>
      </q-card>
      <div class="q-pa-lg absolute-bottom">
        <!-- <q-btn
          class="text-white text-bold"
          type="a"
          flat
          no-wrap
          no-caps
          @click="$router.push({ name: 'cadastroperfil' })"
        >
          Criar uma conta
        </q-btn> -->
        <q-btn
          class="text-white text-bold"
          type="a"
          flat
          no-wrap
          no-caps
          @click="$router.push({ name: 'recuperarsenhaadmin' })"
        >
          Esqueci minha senha
        </q-btn>
      </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-0 col-xs-0 bannerLogin"></div>

    <q-inner-loading :showing="salvandoDados">
      <q-circular-progress
        indeterminate
        size="65px"
        :thickness="1"
        color="info"
        track-color="primary"
        class="q-ma-md"
      />
    </q-inner-loading>
  </q-page>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'LoginAdmin',
  data () {
    return {
      salvandoDados: false,
      isPwd: true,
      loginMetamask: false,
      dados: {
        email: '',
        password: '',
        ethereum_wallet: '',
        codigo_2fa: ''
      }
    }
  },
  mounted () {},
  computed: {
    mode () {
      return this.$q.dark.isActive
    }
  },
  methods: {
    ...mapActions('user', ['loginUser', 'loginUser2FA', 'loginUserAdmin']),
    onSubmit () {
      this.salvandoDados = true
      this.loginUser({
        dados: {
          email: this.dados.email,
          password: this.dados.password
        }
      })
        .then(res => {
          this.$router.replace({ name: 'navegar' })
        })
        .catch(error => {
          this.salvandoDados = false
          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: error.data.message
          })
        })
    },
    sendAcessCode () {
      this.salvandoDados = true
      this.loginMetamask = true
      this.loginUser({
        dados: {
          ethereum_wallet: this.dados.ethereum_wallet
        }
      })
        .then(res => {
          this.salvandoDados = false

          this.$q.notify({
            position: 'bottom',
            color: 'positive',
            textColor: 'white',
            icon: 'check',
            message: 'Código de acesso enviado para o seu e-mail.'
          })
        })
        .catch(error => {
          this.salvandoDados = false

          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: error.data.message
          })

          this.$router.replace({ name: 'cadastroperfil' })
        })
    },
    loginWithMetamask () {
      this.salvandoDados = true
      this.loginUser2FA({
        dados: {
          ethereum_wallet: this.dados.ethereum_wallet,
          access_code: this.dados.codigo_2fa
        }
      })
        .then(res => {
          this.$router.replace({ name: 'navegar' })
        })
        .catch(error => {
          this.salvandoDados = false
          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: error.data.message
          })
        })
    },
    handleWallet () {
      if (this.hasMetaMask()) {
        window.ethereum
          .request({ method: 'eth_requestAccounts' })
          .then(x => {
            window.ethereum.request({ method: 'eth_accounts' }).then(x => {
              this.metaMaskAccounts = true
              this.dados.ethereum_wallet = x[0]
              this.sendAcessCode()
              // this.loginMetamask = true
              // this.loginWithMetaMask()
            })
          })
          .catch(() => {
            this.metaMaskError = true
          })
      } else {
        this.$router.push({ name: 'carteiradigitalexplicativo' })
        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: 'MetaMask não está instalado.'
        })
      }
    },
    hasMetaMask () {
      const { ethereum } = window
      return Boolean(ethereum && ethereum.isMetaMask)
    },
    loginAdmin () {
      this.salvandoDados = true

      this.loginUserAdmin({
        dados: {
          email: this.dados.email,
          password: this.dados.password
        }
      })
        .then(res => {
          this.$router.replace({ name: 'paineladmin' })
        })
        .catch(error => {
          this.salvandoDados = false
          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: error.data.message
          })
        })
    }
  }
}
</script>

<style scoped>
/* .bannerLoginColor {
  background-color: #121212;
  background-repeat: no-repeat;
  background-position: center;
  min-height: inherit;
  background-size: cover;
  position: inherit;
} */

/* .bannerLogin {
  background-image: url("~/assets/CYBERPUNK-ASSINADO.png");
  background-position: inherit;
  background-repeat: no-repeat;
  background-position: right;
  min-height: inherit;
  background-size: cover;
  position: inherit;
} */
</style>
