<template>
  <q-page>
    <div class="col-12 q-pa-md">
      <span :class="mode ? 'text-h4 text-white' : 'text-h4 text-blue-2'">
        Painel Administrativo</span
      >
    </div>

    <div class="row justify-center q-my-lg">
      <q-card class="row col-xl-7 col-lg-7 col-md-11 col-sm-11 col-xs-11">
        <q-tabs
          no-caps
          v-model="tab"
          :class="
            mode ? 'text-h4 text-white col-12' : 'text-h4 text-blue-2 col-12'
          "
        >
          <q-tab name="dados" icon="fas fa-database" label="Meus Dados" />
          <!-- <q-tab name="banners" icon="vrpano" label="Banners" />
          <q-tab
            name="artistas"
            icon="fas fa-user-tag"
            label="Artista do Mês"
          /> -->
        </q-tabs>
        <q-tab-panels class="full-width" v-model="tab" animated>
          <q-tab-panel class="row justify-center" name="dados">
            <div
              class="row justify-center q-gutter-lg col-xl-8 col-lg-8 col-md-9 col-sm-11 col-xs-11"
            >
              <div class="row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-11">
                <span class="q-mt-lg col-12"> Nome</span>
                <q-input
                  required
                  outlined
                  dense
                  class="col-12"
                  v-model="dadosPessoais.name"
                />
              </div>

              <div class="row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-11">
                <span :class="$q.screen.gt.xs ? 'q-mt-lg col-12' : 'col-12'">
                  Sobrenome</span
                >
                <q-input
                  required
                  outlined
                  dense
                  class="col-12"
                  v-model="dadosPessoais.lastname"
                />
              </div>
              <div class="row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-11">
                <span class="col-12"> Email</span>
                <q-input
                  required
                  disable
                  outlined
                  dense
                  class="col-12"
                  v-model="dadosPessoais.email"
                />
              </div>

              <div class="row col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-11">
                <span class="col-12"> Data de criação da conta</span>
                <q-input
                  required
                  disable
                  outlined
                  dense
                  class="col-12"
                  v-model="dataCriacao"
                >
                </q-input>
              </div>
            </div>

            <div class="row col-12 justify-end q-gutter-x-md q-mt-xl">
              <q-btn
                @click="openDialogAltSenha()"
                no-caps
                class="bg-primary text-white"
                >Alterar Senha</q-btn
              >

              <q-btn
                @click="updateProfile()"
                no-caps
                class="bg-primary text-white"
                >Salvar</q-btn
              >
            </div>

            <!-- Dialog's -->
            <q-dialog v-model="dialogAltSenha" persistent>
              <q-card>
                <form @submit.prevent="onSubmit">
                  <div
                    class="row justify-center q-gutter-y-lg q-pt-md"
                    style="max-width:350px"
                  >
                    <div class="row col-11">
                      <span class="col-12">Senha atual</span>
                      <q-input
                        class="col-11"
                        required
                        :type="isPwd2 ? 'password' : 'text'"
                        outlined
                        dense
                        v-model="dadosAlterarSenha.senhaAtual"
                      >
                        <template>
                          <q-icon
                            size="25px"
                            :name="isPwd2 ? 'visibility_off' : 'visibility'"
                            class="cursor-pointer q-mt-sm text-grey-7"
                            @click="isPwd2 = !isPwd2"
                          ></q-icon>
                        </template>
                      </q-input>
                    </div>
                    <div class="row col-11">
                      <span class="col-12">Nova senha</span>
                      <q-input
                        class="col-11"
                        required
                        :type="isPwd3 ? 'password' : 'text'"
                        outlined
                        dense
                        v-model="dadosAlterarSenha.novaSenha"
                        :rules="[
                          val =>
                            val != this.dadosAlterarSenha.senhaAtual ||
                            'Você não pode usar a mesma senha!'
                        ]"
                      >
                        <template>
                          <q-icon
                            size="25px"
                            :name="isPwd3 ? 'visibility_off' : 'visibility'"
                            class="cursor-pointer q-mt-sm text-grey-7"
                            @click="isPwd3 = !isPwd3"
                          ></q-icon> </template
                      ></q-input>
                      <q-icon class="row q-mt-md" name="help_outline"
                        ><q-tooltip
                          transition-show="rotate"
                          transition-hide="rotate"
                        >
                          <p>
                            A senha deve conter:
                          </p>
                          <p class="no-margin">
                            Mínimo 8 caracteres
                          </p>
                          <p class="no-margin">
                            Mínimo 1 número
                          </p>
                          <p class="no-margin">
                            Mínimo 1 Letra maiúscula
                          </p>
                          <p class="no-margin">
                            Mínimo 1 caractere especial (!@#$%^&*)
                          </p>
                        </q-tooltip></q-icon
                      >
                    </div>
                    <div class="row col-11">
                      <span class="col-12">Confirmar senha</span>
                      <q-input
                        class="col-11"
                        :type="isPwd4 ? 'password' : 'text'"
                        required
                        outlined
                        dense
                        v-model="dadosAlterarSenha.confirmarNovaSenha"
                        :rules="[
                          val =>
                            (val === this.dadosAlterarSenha.novaSenha &&
                              val.length > 0) ||
                            'Senhas diferentes!'
                        ]"
                      >
                        <template>
                          <q-icon
                            size="25px"
                            :name="isPwd4 ? 'visibility_off' : 'visibility'"
                            class="cursor-pointer q-mt-sm text-grey-7"
                            @click="isPwd4 = !isPwd4"
                          ></q-icon>
                        </template>
                      </q-input>
                    </div>

                    <div class="row justify-around q-mb-md col-12">
                      <div>
                        <q-btn
                          flat
                          @click="closeDialogAltSenha()"
                          no-caps
                          label="Cancelar"
                        />
                      </div>
                      <div>
                        <q-btn
                          class="bg-primary text-white"
                          no-caps
                          type="submit"
                          label="Salvar"
                        />
                      </div>
                    </div>
                  </div>
                </form>
              </q-card>
            </q-dialog>
          </q-tab-panel>

          <q-tab-panel class="row" name="artistas">
            <div class="col-12">
              <q-table
                title=""
                :data="artist"
                :columns="columnsArtist"
                row-key="name"
                :filter="filterArtist"
                class="col-12"
              >
                <template v-slot:top-right>
                  <q-input
                    borderless
                    dense
                    debounce="300"
                    v-model="filterArtist"
                    placeholder="Search"
                  >
                    <template v-slot:append>
                      <q-icon name="search" />
                    </template>
                  </q-input>
                </template>
                <template v-slot:body-cell-status="props">
                  <q-td :props="props">
                    <q-toggle
                      @input="ativaArtista(props.row.status)"
                      v-model="props.row.status"
                    />
                  </q-td>
                </template>

                <template v-slot:body-cell-action="props">
                  <q-td :props="props">
                    <q-btn
                      @click="$refs.EditArtist.openEditArtist()"
                      icon="edit"
                      color="primary"
                      size="sm"
                      dense
                    />
                    <q-btn
                      class="q-ml-sm"
                      icon="delete"
                      color="negative"
                      size="sm"
                      dense
                    />
                  </q-td>
                </template>
              </q-table>
            </div>
          </q-tab-panel>
        </q-tab-panels>
        <banner-market-place ref="BannerMarketPlace" />
        <edit-artista ref="EditArtist" />
      </q-card>
    </div>
    <q-inner-loading :showing="salvandoDados">
      <q-circular-progress
        indeterminate
        size="65px"
        :thickness="1"
        color="info"
        track-color="primary"
        class="q-ma-md"
      />
    </q-inner-loading>
  </q-page>
</template>

<script>
import BannerMarketPlace from 'src/components/Admin/BannerMarketPlace'
import EditArtista from 'src/components/Admin/EditArtista'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'PainelAdmin',
  data () {
    return {
      dialogAltSenha: false,
      salvandoDados: false,
      slide: 2,
      isPwd: true,
      isPwd2: true,
      isPwd3: true,
      isPwd4: true,
      tab: 'dados',
      dataCriacao: '',
      dadosPessoais: {
        name: '',
        lastname: '',
        email: ''
      },
      dadosAlterarSenha: {
        senhaAtual: '',
        novaSenha: '',
        confirmarNovaSenha: ''
      },
      formatacaoCalendario: {
        days: 'Domingo_Segunda_Terça_Quarta_Quinta_Sexta_Sábado'.split('_'),
        daysShort: 'Dom_Seg_Ter_Qua_Qui_Sex_Sáb'.split('_'),
        months: 'Janeiro_Fevereiro_Março_Abril_Maio_Junho_Julho_Agosto_Setembro_Outubro_Novembro_Dezembro'.split(
          '_'
        ),
        monthsShort: 'Jan_Fev_Mar_Abr_Mai_Jun_Jul_Ago_Set_Out_Nov_Dez'.split(
          '_'
        ),
        firstDayOfWeek: 1
      },
      filter: '',
      // columns: [
      //   {
      //     name: 'desc',
      //     required: true,
      //     label: 'Dessert (100g serving)',
      //     align: 'left',
      //     field: row => row.name,
      //     sortable: true
      //   }
      // ],
      data: [],
      filterArtist: '',
      columnsArtist: [
        {
          name: 'nome',
          label: 'Nome',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'email',
          label: 'E-mail',
          align: 'left',
          field: row => row.email,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'status',
          label: 'Ativo',
          align: 'left',
          field: row => row.status,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'action',
          label: 'Ações',
          align: 'left',
          format: val => `${val}`,
          sortable: true
        }
      ],
      artist: []
    }
  },
  components: {
    BannerMarketPlace,
    EditArtista
  },
  methods: {
    ...mapActions('user', [
      'updateUserAdmin',
      'updatePasswordAdminLogged',
      'loginUserAdmin'
    ]),
    openDialogAltSenha () {
      this.dialogAltSenha = true
    },
    closeDialogAltSenha () {
      this.dialogAltSenha = false
      this.onReset()
    },

    checkPassword () {
      let message = null
      if (this.dadosAlterarSenha.novaSenha !== this.form.confirmarNovaSenha) {
        message = 'A senha não confere.'
      }

      if (this.dadosAlterarSenha.confirmNovaSenha.length < 8) {
        message = 'A senha deve ter no mínimo 8 caracteres.'
      }

      if (!this.dadosAlterarSenha.confirmarNovaSenha.match(/[0-9]/)) {
        message = 'A senha deve conter pelo menos 1 número.'
      }

      if (!this.dadosAlterarSenha.confirmarNovaSenha.match(/[A-Z]/)) {
        message = 'A senha deve conter pelo menos 1 caractere maísculo.'
      }

      if (!this.dadosAlterarSenha.confirmarNovaSenha.match(/[$@#&!]+/)) {
        message =
          'A senha deve conter pelo menos 1 caractere especial ($@#&!).'
      }

      if (
        this.dadosAlterarSenha.novaSenha === this.dadosAlterarSenha.senhaAtual
      ) {
        message = 'Você não pode usar a mesma senha'
      }

      return message
    },

    onSubmit () {
      this.salvandoDados = true
      this.loginUserAdmin({
        dados: {
          email: this.dadosPessoais.email,
          password: this.dadosAlterarSenha.senhaAtual
        }
      })
        .then(res => {
          this.updatePasswordAdminLogged({
            dados: this.dadosAlterarSenha
          })
            .then(res => {
              this.$q.notify({
                position: 'bottom',
                color: 'positive',
                textColor: 'white',
                icon: 'check',
                message: res.data.message
              })
              this.salvandoDados = false
              this.closeDialogAltSenha()
            })
            .catch(error => {
              this.salvandoDados = false
              this.$q.notify({
                position: 'bottom',
                color: 'negative',
                textColor: 'white',
                icon: 'error',
                message: error.data.message
              })
            })
        })
        .catch(error => {
          this.salvandoDados = false

          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message:
              error.data.message === 'Usuário ou senha inválidos.'
                ? 'Senha atual inválida.'
                : error.data.message
          })
        })
      // this.$q.notify({
      //   position: 'bottom',
      //   timeout: 1000,
      //   color: 'positive',
      //   textColor: 'white',
      //   icon: 'check',
      //   message: 'Senha alterada com sucesso'
      // })
    },

    async onReset () {
      await this.resetForm()
    },
    resetForm () {
      this.dadosAlterarSenha = {
        senhaAtual: '',
        novaSenha: '',
        confirmarNovaSenha: ''
      }
    },
    deleteBanner (id) {
      this.$q
        .dialog({
          title: 'Confirmação',
          message: 'Você deseja excluir esse banner?',
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          // this.deleteTask(id)
          // Call action
          this.$q.notify({
            position: 'bottom',
            color: 'positive',
            textColor: 'white',
            icon: 'check',
            message: 'Banner excluído com sucesso.'
          })
        })
    },
    ativaArtista (val) {
      if (val === true) {
        this.$q.notify({
          position: 'bottom',
          color: 'positive',
          textColor: 'white',
          icon: 'check',
          message: 'Artista ativo.'
        })
      } else {
        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'check',
          message: 'Artista desativado.'
        })
      }
    },

    deleteArtist (id) {
      this.$q
        .dialog({
          title: 'Confirmação',
          message: 'Você deseja excluir o Artista??',
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          // this.deleteTask(id)
          // Call action
          this.$q.notify({
            position: 'bottom',
            color: 'positive',
            textColor: 'white',
            icon: 'check',
            message: 'Artista excluído com sucesso.'
          })
        })
    },
    updateProfile () {
      this.salvandoDados = true

      this.updateUserAdmin({
        dados: this.dadosPessoais
      })
        .then(res => {
          this.salvandoDados = false

          this.$q.notify({
            position: 'bottom',
            color: 'positive',
            textColor: 'white',
            icon: 'check',
            message: 'Informações atualizadas com sucesso.'
          })
        })
        .catch(error => {
          this.salvandoDados = false

          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: error.data.message
          })
        })
    }
  },
  computed: {
    ...mapGetters('user', ['getUserAdmin']),
    mode () {
      return this.$q.dark.isActive
    }
  },
  mounted () {
    this.dadosPessoais = this.getUserAdmin
    this.dataCriacao = new Date(
      this.getUserAdmin.account_creation_date
    ).toLocaleDateString('pt-BR')
  }
}
</script>
