<template>
  <q-page class="q-pa-md">
    <div class="row tete">
      <span :class="mode ? 'text-h4 text-white' : 'text-h4 text-blue-2'"
        >Configurações do site</span
      >
    </div>

    <div class="row justify-center q-my-lg">
      <q-card class="row col-xl-9 col-lg-9 col-md-11 col-sm-11 col-xs-11">
        <q-tabs
          no-caps
          v-model="tab"
          :class="
            mode ? 'text-h4 text-white col-12' : 'text-h4 text-blue-2 col-12'
          "
        >
          <!-- <q-tab name="dados" icon="fas fa-database" label="Meus Dados" /> -->
          <q-tab
            name="artistas"
            icon="fas fa-user-tag"
            label="Artista do Mês"
          />
          <q-tab name="banners" icon="vrpano" label="Banners" />
        </q-tabs>
        <q-tab-panels class="full-width" v-model="tab" animated>
          <q-tab-panel class="row justify-between" name="banners">
            <div class="col-12">
              <div class="row justify-center q-pa-md">
                <q-carousel
                  v-if="listCarousel.length > 0"
                  animated
                  v-model="slide"
                  arrows
                  navigation
                  infinite
                  style="height: 60vh; width: 1100px"
                >
                  <q-carousel-slide
                    v-for="item in listCarousel"
                    :key="item._id"
                    :name="item._id"
                    :img-src="
                      'https://nftapi.inspireip.io/' + item.artist_banner_file
                    "
                  />
                </q-carousel>
                <div v-else>
                  <span>Não há banners em destaque</span>
                </div>
              </div>
            </div>
          </q-tab-panel>

          <q-tab-panel class="row" name="artistas">
            <div class="col-12">
              <q-table
                title=""
                :data="getListArtist"
                :columns="columnsArtist"
                row-key="_id"
                :filter="filterArtist"
                class="col-12"
              >
                <template v-slot:top-right>
                  <q-input
                    borderless
                    dense
                    debounce="300"
                    v-model="filterArtist"
                    placeholder="Search"
                  >
                    <template v-slot:append>
                      <q-icon name="search" />
                    </template>
                  </q-input>
                </template>
                <template v-slot:body-cell-profile="props">
                  <q-td :props="props">
                    <q-checkbox
                      dense
                      @input="
                        destacarPerfil({
                          id: props.row._id,
                          highlight_profile: props.row.highlight_profile
                        })
                      "
                      v-model="props.row.highlight_profile"
                      ><q-tooltip
                        transition-show="rotate"
                        transition-hide="rotate"
                        >Destacar perfil</q-tooltip
                      ></q-checkbox
                    >
                    <q-checkbox
                      dense
                      @input="
                        destacarPerfil({
                          id: props.row._id,
                          highlight_banner: props.row.highlight_banner
                        })
                      "
                      v-model="props.row.highlight_banner"
                    >
                      <q-tooltip
                        transition-show="rotate"
                        transition-hide="rotate"
                        >Destacar banner</q-tooltip
                      >
                    </q-checkbox>
                    <q-checkbox
                      dense
                      @input="
                        destacarPerfil({
                          id: props.row._id,
                          highlight_jumbotrom: props.row.highlight_jumbotrom
                        })
                      "
                      v-model="props.row.highlight_jumbotrom"
                      ><q-tooltip
                        transition-show="rotate"
                        transition-hide="rotate"
                        >Destacar jumbotrom</q-tooltip
                      ></q-checkbox
                    >
                  </q-td>
                </template>

                <template v-slot:body-cell-action="props">
                  <q-td :props="props">
                    <q-btn
                      @click="$refs.DetalhesUsuario.open(props.row)"
                      icon="view_headline"
                      color="primary"
                      size="sm"
                      dense
                      ><q-tooltip
                        transition-show="rotate"
                        transition-hide="rotate"
                        >Ver detalhes</q-tooltip
                      ></q-btn
                    >
                  </q-td>
                </template>
              </q-table>
            </div>
          </q-tab-panel>
        </q-tab-panels>
        <banner-market-place ref="BannerMarketPlace" />
        <edit-artista ref="EditArtist" />
      </q-card>
    </div>

    <DetalhesUsuario ref="DetalhesUsuario" />

    <q-inner-loading :showing="loading">
      <q-circular-progress
        indeterminate
        size="65px"
        :thickness="1"
        color="info"
        track-color="primary"
        class="q-ma-md"
      />
    </q-inner-loading>
  </q-page>
</template>

<script>
import BannerMarketPlace from 'src/components/Admin/BannerMarketPlace'
import EditArtista from 'src/components/Admin/EditArtista'
import DetalhesUsuario from 'components/Admin/DetalhesUsuario.vue'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'PainelAdmin',
  data () {
    return {
      loading: false,
      pagination: {
        rowsPerPage: 3 // current rows per page being displayed
      },
      dialogAltSenha: false,
      listCarousel: [],
      slide: '',
      isPwd: true,
      tab: 'artistas',
      dadosPessoais: {
        nome: '',
        sobrenome: '',
        email: '',
        dataNascimento: '',
        senha: ''
      },
      dadosAlterarSenha: {
        senhaAtual: '',
        novaSenha: '',
        confirmNovaSenha: ''
      },
      formatacaoCalendario: {
        days: 'Domingo_Segunda_Terça_Quarta_Quinta_Sexta_Sábado'.split('_'),
        daysShort: 'Dom_Seg_Ter_Qua_Qui_Sex_Sáb'.split('_'),
        months: 'Janeiro_Fevereiro_Março_Abril_Maio_Junho_Julho_Agosto_Setembro_Outubro_Novembro_Dezembro'.split(
          '_'
        ),
        monthsShort: 'Jan_Fev_Mar_Abr_Mai_Jun_Jul_Ago_Set_Out_Nov_Dez'.split(
          '_'
        ),
        firstDayOfWeek: 1
      },
      filter: '',
      // columns: [
      //   {
      //     name: 'desc',
      //     required: true,
      //     label: 'Dessert (100g serving)',
      //     align: 'left',
      //     field: row => row.name,
      //     sortable: true
      //   }
      // ],
      filterArtist: '',
      columnsArtist: [
        {
          name: 'nome',
          label: 'Nome',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'email',
          label: 'E-mail',
          align: 'left',
          field: row => row.email,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'profile',
          label: 'Destacar',
          align: 'center',
          field: row => row.highlight_profile,
          format: val => `${val}`,
          sortable: true
        },
        // {
        //   name: 'banner',
        //   label: 'Destacar banner',
        //   align: 'left',
        //   field: row => row.highlight_banner,
        //   format: val => `${val}`,
        //   sortable: true
        // },
        // {
        //   name: 'jumbotrom',
        //   label: 'Destacar jumbotrom',
        //   align: 'left',
        //   field: row => row.highlight_jumbotrom,
        //   format: val => `${val}`,
        //   sortable: true
        // },
        {
          name: 'action',
          label: 'Ação',
          align: 'left',
          format: val => `${val}`,
          sortable: true
        }
      ],
      artist: [
        {
          _id: '60be2f4df440405412f1f2c0',
          name: 'Bel Boba',
          lastname: '',
          email: 'belborba@gmail.com',
          status: true
        },
        {
          _id: '60be2f4df440405412f1f2c0',
          name: 'Sandro Nazireu',
          lastname: '',
          email: 'sandronazireu@gmail.com',
          status: true
        },
        {
          _id: '60be2f4df440405412f1f2c0',
          name: 'Anie',
          lastname: 'Godoy',
          email: 'anie@gmail.com',
          status: true
        }
      ]
    }
  },
  components: {
    BannerMarketPlace,
    EditArtista,
    DetalhesUsuario
  },
  methods: {
    ...mapActions('user', [
      'listUsers',
      'listBanners',
      'updateUserArtist',
      'listArtist'
    ]),
    openDialogAltSenha () {
      this.dialogAltSenha = true
    },
    closeDialogAltSenha () {
      this.dialogAltSenha = false
      this.onReset()
    },

    onSubmit () {
      this.closeDialogAltSenha()
      this.$q.notify({
        position: 'bottom',
        timeout: 1000,
        color: 'positive',
        textColor: 'white',
        icon: 'check',
        message: 'A senha foi enviada por e-mail.'
      })
    },

    async onReset () {
      await this.resetForm()
    },
    resetForm () {
      this.dadosAlterarSenha = {
        senhaAtual: '',
        novaSenha: '',
        confirmNovaSenha: ''
      }
    },
    deleteBanner (id) {
      this.$q
        .dialog({
          title: 'Confirmação',
          message: 'Você deseja excluir esse banner?',
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          // this.deleteTask(id)
          // Call action
          this.$q.notify({
            position: 'bottom',
            color: 'positive',
            textColor: 'white',
            icon: 'check',
            message: 'Banner excluído com sucesso.'
          })
        })
    },
    destacarPerfil (val) {
      this.loading = true
      this.updateUserArtist({
        dados: { ...val }
      })
        .then(res => {
          this.$q.notify({
            position: 'bottom',
            color: 'positive',
            textColor: 'white',
            icon: 'check',
            message: res.data.message
          })
          this.listBanners()
            .then(res => {
              this.loading = false
              this.listCarousel = this.getListBanners.filter(
                item => item.artist_banner_file && item.highlight_banner
              )
              this.slide = this.listCarousel[0]._id
            })
            .catch(error => {
              this.loading = false

              this.$q.notify({
                position: 'bottom',
                color: 'negative',
                textColor: 'white',
                icon: 'error',
                message: error.data.message
              })
            })
        })
        .catch(error => {
          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: error.data.message
          })
        })
    },

    deleteArtist (id) {
      this.$q
        .dialog({
          title: 'Confirmação',
          message: 'Você deseja excluir o Artista??',
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          // this.deleteTask(id)
          // Call action
          this.$q.notify({
            position: 'bottom',
            color: 'positive',
            textColor: 'white',
            icon: 'check',
            message: 'Artista excluído com sucesso.'
          })
        })
    }
  },
  computed: {
    ...mapGetters('user', ['getListUsers', 'getListBanners', 'getListArtist']),
    mode () {
      return this.$q.dark.isActive
    }
  },
  mounted () {
    this.loading = true

    this.listBanners()
      .then(res => {
        this.listCarousel = this.getListBanners.filter(
          item => item.artist_banner_file && item.highlight_banner
        )
        this.slide = this.listCarousel[0]._id
      })
      .catch(error => {
        this.loading = false
        if (error.status === 401) {
          this.$router.push({ name: 'loginadmin' })
        }

        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: error.data.message
        })
      })

    this.listArtist()
      .then(res => {
        this.loading = false

        // this.artist = this.getListUsers.filter(i => i.artist)
      })
      .catch(error => {
        this.loading = false

        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: error.data.message
        })
      })
  }
}
</script>
