<template>
  <q-page>
    <div class="q-pa-md">
      <div class="row">
        <div
          :class="
            mode ? 'text-h4 text-white col-12' : 'text-h4 text-blue-2 col-12'
          "
        >
          Usuários
        </div>
      </div>
      <div class="row q-mt-lg">
        <q-table
          title=""
          :data="getListUsers"
          :columns="columns"
          row-key="_id"
          :filter="filter"
          class="col-12"
        >
          <template v-slot:top-right>
            <q-input
              borderless
              dense
              debounce="300"
              v-model="filter"
              placeholder="Search"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>
          <template v-slot:body-cell-type="props">
            <q-td :props="props">
              <!-- <q-toggle v-model="props.row.active" /> -->
              {{ props.row.artist ? "Artista" : "Colecionador" }}
            </q-td>
          </template>

          <template v-slot:body-cell-action="props">
            <q-td :props="props">
              <q-btn
                icon="view_headline"
                @click="$refs.DetalhesUsuario.open(props.row)"
                color="primary"
                size="sm"
                dense
                ><q-tooltip transition-show="rotate" transition-hide="rotate"
                  >Ver detalhes</q-tooltip
                ></q-btn
              >
              <q-btn
                class="q-ml-sm"
                icon="delete"
                @click="deleteUsers(props.row._id)"
                color="negative"
                size="sm"
                dense
                ><q-tooltip transition-show="rotate" transition-hide="rotate"
                  >Excluir</q-tooltip
                ></q-btn
              >
            </q-td>
          </template>
        </q-table>
      </div>
    </div>

    <DetalhesUsuario ref="DetalhesUsuario" />
    <q-inner-loading :showing="loading">
      <q-circular-progress
        indeterminate
        size="65px"
        :thickness="1"
        color="info"
        track-color="primary"
        class="q-ma-md"
      />
    </q-inner-loading>
  </q-page>
</template>

<script>
import DetalhesUsuario from 'components/Admin/DetalhesUsuario.vue'
import { mapActions, mapGetters } from 'vuex'

export default {
  data () {
    return {
      loading: false,
      filter: '',
      columns: [
        {
          name: 'nome',
          label: 'Nome',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'email',
          label: 'E-mail',
          align: 'left',
          field: row => row.email,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'type',
          label: 'Tipo',
          align: 'left',
          field: row => row.artist,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'action',
          label: 'Ações',
          align: 'left',
          format: val => `${val}`,
          sortable: true
        }
      ],
      usuarios: []
    }
  },

  methods: {
    ...mapActions('user', ['listUsers', 'deleteUser']),
    deleteUsers (id) {
      this.$q
        .dialog({
          title: 'Confirmação',
          message: 'Você deseja excluir o usuário?',
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          this.loading = true

          this.deleteUser({
            id
          })
            .then(res => {
              this.fetchList()
              this.$q.notify({
                position: 'bottom',
                color: 'positive',
                textColor: 'white',
                icon: 'check',
                message: 'Usuário excluído com sucesso.'
              })
            })
            .catch(error => {
              this.$q.notify({
                position: 'bottom',
                color: 'negative',
                textColor: 'white',
                icon: 'error',
                message: error.data.message
              })
            })
        })
    },
    fetchList () {
      this.listUsers()
        .then(res => {
          this.loading = false
        })
        .catch(error => {
          this.loading = false

          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: error.data.message
          })
        })
    }
  },

  components: {
    DetalhesUsuario
  },
  mounted () {
    this.loading = true

    this.listUsers()
      .then(res => {
        this.loading = false
      })
      .catch(error => {
        this.loading = false
        if (error.status === 401) {
          this.$router.push({ name: 'loginadmin' })
        }

        this.$q.notify({
          position: 'bottom',
          color: 'negative',
          textColor: 'white',
          icon: 'error',
          message: error.data.message
        })
      })
  },

  computed: {
    ...mapGetters('user', ['getListUsers']),
    mode () {
      return this.$q.dark.isActive
    }
  }
}
</script>

<style></style>
