<template>
  <q-page>
    <div class="q-pa-md">
      <div class="row tete">
        <div
          :class="
            mode ? 'text-h4 text-white col-6' : 'text-h4 text-blue-2 col-6'
          "
        >
          Usuários administradores
        </div>
        <div class="col-6 row justify-end">
          <q-btn
            label="Novo"
            icon="add"
            color="primary"
            @click="$refs.AddUsuario.open()"
          />
        </div>
      </div>
      <div class="row q-mt-lg">
        <q-table
          title=""
          :data="getListAdmin"
          :columns="columns"
          row-key="_id"
          :filter="filter"
          class="col-12"
        >
          <template v-slot:top-right>
            <q-input
              borderless
              dense
              debounce="300"
              v-model="filter"
              placeholder="Search"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>
          <template v-slot:body-cell-status="props">
            <q-td :props="props">
              <q-toggle
                @input="
                  props.row.active
                    ? toggleInactivate(props.row._id)
                    : toggleActivate(props.row._id)
                "
                :value="props.row.active"
              />
            </q-td>
          </template>

          <template v-slot:body-cell-action="props">
            <q-td :props="props">
              <!-- <q-btn
                icon="edit"
                @click="$refs.EditUsuario.open(props.row)"
                color="primary"
                size="sm"
                dense
              />
              <q-btn
                icon="vpn_key"
                class="q-ml-sm"
                @click="$refs.AlterarSenha.open(props.row)"
                color="warning"
                size="sm"
                dense
              /> -->
              <q-btn
                class="q-ml-sm"
                icon="delete"
                @click="deleteUser(props.row._id)"
                color="negative"
                size="sm"
                dense
              />
            </q-td>
          </template>
        </q-table>
      </div>
    </div>

    <AddUsuario ref="AddUsuario" />
    <EditUsuario ref="EditUsuario" />
    <AlterarSenha ref="AlterarSenha" />

    <q-inner-loading :showing="loading">
      <q-circular-progress
        indeterminate
        size="65px"
        :thickness="1"
        color="info"
        track-color="primary"
        class="q-ma-md"
      />
    </q-inner-loading>
  </q-page>
</template>

<script>
import AddUsuario from 'components/Admin/AddUsuario.vue'
import EditUsuario from 'components/Admin/EditUsuario.vue'
import AlterarSenha from 'components/Admin/AlterarSenha.vue'
import { mapActions, mapGetters } from 'vuex'

export default {
  data () {
    return {
      filter: '',
      loading: false,
      columns: [
        {
          name: 'nome',
          label: 'Nome',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'email',
          label: 'E-mail',
          align: 'left',
          field: row => row.email,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'account_creation',
          label: 'Criado em',
          align: 'left',
          field: row =>
            new Date(row.account_creation_date).toLocaleDateString('pt-BR'),
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'status',
          label: 'Ativo',
          align: 'left',
          field: row => row.active,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'action',
          label: 'Excluir',
          align: 'left',
          format: val => `${val}`,
          sortable: true
        }
      ],
      usuarios: []
    }
  },
  methods: {
    ...mapActions('user', [
      'listAdmin',
      'activeAdmin',
      'inactivateAdmin',
      'deleteAdmin'
    ]),
    deleteUser (id) {
      this.$q
        .dialog({
          title: 'Confirmação',
          message: 'Você deseja excluir o usuário?',
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          this.loading = true

          this.deleteAdmin({
            id
          })
            .then(res => {
              this.fetchList()

              this.$q.notify({
                position: 'bottom',
                color: 'positive',
                textColor: 'white',
                icon: 'check',
                message: 'Usuário excluído com sucesso.'
              })
            })
            .catch(error => {
              this.$q.notify({
                position: 'bottom',
                color: 'negative',
                textColor: 'white',
                icon: 'error',
                message: error.data.message
              })
            })
        })
    },
    toggleActivate (id) {
      this.$q
        .dialog({
          title: 'Confirmação',
          message: 'Você deseja ativar o usuário?',
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          this.loading = true

          this.activeAdmin({
            id: id
          })
            .then(res => {
              // Call action
              this.fetchList()

              this.$q.notify({
                position: 'bottom',
                color: 'positive',
                textColor: 'white',
                icon: 'check',
                message: 'Usuário ativado com sucesso.'
              })
            })
            .catch(error => {
              this.$q.notify({
                position: 'bottom',
                color: 'negative',
                textColor: 'white',
                icon: 'error',
                message: error.data.message
              })
            })
        })
    },
    toggleInactivate (id) {
      this.$q
        .dialog({
          title: 'Confirmação',
          message: 'Você deseja desativar o usuário?',
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          // this.deleteTask(id)
          this.loading = true

          this.inactivateAdmin({
            id: id
          })
            .then(res => {
              // Call action
              this.fetchList()

              this.$q.notify({
                position: 'bottom',
                color: 'positive',
                textColor: 'white',
                icon: 'check',
                message: 'Usuário desativado com sucesso.'
              })
            })
            .catch(error => {
              this.$q.notify({
                position: 'bottom',
                color: 'negative',
                textColor: 'white',
                icon: 'error',
                message: error.data.message
              })
            })
        })
    },
    fetchList () {
      this.listAdmin()
        .then(res => {
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          if (error.status === 401) {
            this.$router.push({ name: 'loginadmin' })
          }

          this.$q.notify({
            position: 'bottom',
            color: 'negative',
            textColor: 'white',
            icon: 'error',
            message: error.data.message
          })
        })
    }
  },
  components: {
    AddUsuario,
    EditUsuario,
    AlterarSenha
  },
  computed: {
    ...mapGetters('user', ['getListAdmin']),
    mode () {
      return this.$q.dark.isActive
    }
  },
  mounted () {
    this.loading = true
    this.fetchList()
  }
}
</script>

<style scoped>
.teste {
  background-color: red;
}
</style>
